//colors//

$color-primary: #12919f;
$color-primary-hover: #14a1b1;
$color-primary-darker: #10818e;
$color-secondary: #d7e4e4;
$color-accent-1: #e2001d;
$color-accent-2: #1e6575;
$color-accent-3: #02c1c1;
$color-accent-4: #f8c91a;
$color-accent-5: #51a045;

$color-references: #9c8831;

$gray: #e9e9e9;
$chart-color-1: #e2001d;
$chart-color-2: #1e6575;
$chart-color-3: #535353;
$chart-color-4: #898989;
$chart-color-5: #02c1c1;

$color-accent-1-hover: #fb0323;
$background: #f9f9f9;
$background-feature-box: #dddddd;

$text-default: #021549;
$text-light: #ffffff;
$text-color: #377684;

$border: #9d9d9d;
$shadow: #a5a5a5;



/* COLOR NAMES
----------------------------------------- */

/*theme colors*/

$themeColor: #939191;

$mediumThemeColor: lighten($themeColor, 15);
$lightThemeColor: lighten($themeColor, 31);

$darkThemeColor: darken($themeColor, 38);
$mediumDarkThemeColor: lighten($darkThemeColor, 20);
$lightDarkThemeColor:  lighten($darkThemeColor, 33);

/*hard-coded colors*/
$black: black;
$white: white;
$whiteSmoke: whiteSmoke;
$red: red;

/* FUNCTIONAL COLORS
----------------------------------------- */

/*border colors*/
$borderColor: $darkThemeColor;
$linkBorderColor: $mediumDarkThemeColor;
$vertSeparatorBorderColor: $mediumThemeColor; // separator in rich text links

/*text colors*/
$defaultTextColor: $black;
$alertTextColor: $red;
$linkTextColor: $color-primary;
$textColor: $darkThemeColor;
$textHoverColor: $white;
$metaTextColor: $lightDarkThemeColor;
$infoTextColor: $mediumDarkThemeColor;

/*background colors*/
$mainWrapperColor: $whiteSmoke;
$backgroundColor: $lightThemeColor;
$backgroundHoverColor: $themeColor;
$backgroundActiveColor: $white;

/*gradient colors*/
$gradientEnds: $themeColor;
$gradientMiddle: darken($themeColor, 38);