#footer {
  font-size: 0.8rem;
  .shareThis-list {
    padding: 0;
    margin: 0;
    li {
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }
  .box-960 .component-content .content {
    padding: 0;
  }
  .primary-darker-bg {
    padding: 20px 0 0 0;
    min-height: 100px;
    .box.first{
      padding-top: 15px;
    }
    .section.first {
      margin: 0;
      p {
        margin: 0;
        padding: 0;
        line-height: 28px;
        @include respond-to(mobile) {
          line-height: 18px;
        }
        @include respond-to(tablet) {
          line-height: 18px;
        }
      }
    }
    .section.last {
      margin: 0;
      float: right;
      p {
        margin: 0;
        padding: 0;
        line-height: 1.6em;
      }
    }
    .small-font {
      letter-spacing: initial;
    }
  }



  .box {
    margin-bottom: 0;
  }
  .primary-bg {
    .content {
      padding: 0;
    }
    .image.first {
        padding-top: 10px;
    }
    .richText {
      padding: 0;
      position: relative;
      text-align: right;
      ul {
        margin: 0;
        padding: 0;
        line-height: 1em;
        li {
          list-style-type: none;
          display: inline-block;
          color: $text-light;
          padding: 33px 0 33px 40px;
          a {
            color: $text-light;
            &:hover {
              color: $text-light;
            }
          }
        }
      }
    }
  }


  @include respond-to(mobile) {

    .shareThis-list {
      padding: 0;
      margin: 0;
      li {
        margin-bottom: 0;
        padding-bottom: 0;
      }
    }
    .box-960 .component-content .content {
      padding: 0;
    }
    .primary-darker-bg {
      padding: 20px;
      .box.first {
        width: 100%;
        padding-top: 0;
        padding-bottom: 10px;
        float: left;
        p {
          margin: 0;
          padding: 0 0 10px 0;
          line-height: 1.3em;
        }
      }
      .box.last {
        width: 100%;
        float: left;
      }
      .section.first {
        float: left;
        &.grid_2 {
          width: initial!important;
          padding: 5px 10px 0 0;
        }
      }
      .section.last {
        margin: 0;
        float: left;
        &.grid_2 {
          width: 30%!important;
        }
      }
      .small-font {
        letter-spacing: initial;
      }
    }

    .box {

    }
    .primary-bg {
      .image.first {
        padding: 10px 15px 0 15px;
      }
      .content {

      }
      .richText {

        ul {
          margin: 0;
          padding: 10px 0;
          text-align: left;
          li {
            margin: 0;
            padding: 10px 15px;
            width: 48%;
            display: inline-block;
            text-align: left;
          }
        }
      }
    }
  }


  @include respond-to(tablet) {

    .shareThis-list {
      padding: 0;
      margin: 0;
      li {
        margin-bottom: 0;
        padding-bottom: 0;
      }
    }
    .box-960 .component-content .content {
      padding: 0;
    }
    .primary-darker-bg {
      padding: 20px;
      .box.first {
        //width: 100%;
        padding-top: 0;
        padding-bottom: 10px;
        float: left;
        p {
          margin: 0;
          padding: 0 0 10px 0;
          line-height: 1.3em;
        }
      }
      .box.last {
        //width: 100%;
        float: right;
      }
      .section.first {
        float: left;
        &.grid_2 {
          width: initial!important;
          padding: 5px 10px 0 0;
        }
      }
      .section.last {
        margin: 0;
        float: right;
        &.grid_2 {
          width: 30%!important;
        }
      }
      .small-font {
        letter-spacing: initial;
      }
    }

    .box {

    }
    .primary-bg {
      .image.first {
        padding: 10px 15px 0 15px;
      }
      .content {

      }
      .richText {

        ul {
          margin: 0;
          padding: 10px 0;
          text-align: left;
          li {
            margin: 0;
            padding: 10px 15px;
            width: 48%;
            display: inline-block;
            text-align: left;
          }
        }
      }
    }
  }


  .zinc-code {
    width: 960px;
    max-width: 100%;
    padding: 0 20px;
    color: #fff;
    font-size: 0.6rem;
    position: relative;
    margin: 0 auto;
    margin-top: -35px;
    p {
      font-size: 0.6rem;
      color: #fff;
      text-align: right;
      margin: 0;
      padding: 0;
    }
  }
}