

#header {
  padding: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 99999;
  top:0;
  text-align: center;

  .richText.grid_2 {
    p {
      font-size: 2.2rem;
      line-height: 2.4;
      font-weight: 600;
      letter-spacing: 3px;
      padding: 0;
      a {
        color: #021549;
      }
    }
  }
  .none {
    display: none;
  }
  .grid_12 {
    max-width: 960px;
    float: none;
    margin: 0 auto !important;
    &.topnav_submenu {
      max-width: 100%;
    }
  }
  .image {
    padding-top: 10px!important;
    padding-bottom: 10px!important;
    &.component {
      line-height: 0;
    }
  }
  .component  {
    margin: 0;
    padding: 0;

    &.alpha{
      a {
        display: inline-block;
        margin: 0;
        padding: 0;
      }

    }
  }
  &.main .layout-outer {
    padding: 0;
    max-width: 100%;
  }
  &.smallHeader {

    .richText.grid_2 {
      p {
        font-size: 2rem;
        line-height: 2.2;
        font-weight: 600;
        letter-spacing: 3px;
        padding: 0;
      }
    }
    .navigation-root {
      padding-top: 15px;
    }
    .component  {
      margin: 0;
      padding: 0;

      &.alpha{
        a {
          display: inline-block;
          margin: 0;
          padding: 0;
        }

      }
    }
  }

  @include respond-to(mobile) {
    padding: 10px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 99999;
    top:0;
    .navigation {
      position: absolute;
      top: 11px;
      right: 0;
    }
    .component  {
      margin: 0;
      padding: 0;
      &.alpha{
        a {
          display: inline-block;
          margin: 0;
          padding: 0;
        }

      }
    }
    &.main .layout-outer {
      padding: 0;
    }

    &.smallHeader .richText.grid_2,
    .richText.grid_2 {
      p {
        font-size: 27px;
        line-height: 10px;
        font-weight: 600;
        letter-spacing: 3px;
        text-align: left;
        padding: 15px 0 0 15px;
      }
    }

    .navigation-root {
      -webkit-transition: 1s; /* Safari */
      transition: 1s;
      padding-top: 5px;
    }
  }

  @include respond-to(tablet) {
    //padding: 8px 15px;
    .richText.grid_2 {
      p {
        line-height: 2;
        padding: 0 0 0 10px;
      }
    }
    .navigation-root .navigation-item .navigation-item-title { margin-left: 20px;}

  }

}