@import "compass";
@import "colors";
// import variables for font awesome
@import "../utils/fa-variables";

$break-desktop: 990px;
$break-mobile: 767px;
$break-small-mobile: 420px;

//http://compass-style.org/help/tutorials/spriting/customization-options/
// $arrows-spacing: 50px;
// $arrows-sprite-dimensions: true;
// @import "arrows/*.png";
// $arrows-sprite-map: sprite-map("arrows/*.png", $spacing: 50px); // define a sprite map for mixing "get-sprite" to prevent error when including sprite in @media

// source:  http://maximilianhoffmann.com/posts/better-font-rendering-on-osx
@mixin font-smoothing($value: antialiased) {
  @if $value == antialiased {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  } @else {
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
  }
}

// list of icons and their names can be found here : http://fontawesome.io/icons/
@mixin font-awesome($ico) {
  content: $ico;
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  position: relative;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin overflowclear() {
  overflow: visible;
}

@mixin frame() {
  border: solid 2px $borderColor;
}

@mixin filled() {
  background-color: $backgroundColor;
}

@mixin innerspace() {
  padding: 13px;
}

@mixin separated() {
  border-bottom: solid 2px $borderColor;
}

@mixin pull-right() {
  float: right;
}

@mixin pull-left() {
  float: left;
}

@mixin heading() {
  display: block;
  color: $textColor;
  font-size: 1.2rem;
  font-weight: 600;
  padding-bottom: 10px;
}

@mixin respond-to($media) {
  @if $media == small-mobile {
    @media only screen and (max-width: $break-small-mobile) {
      @content;
    }
  } @else if $media == mobile {
    @media only screen and (max-width: $break-mobile) {
      @content;
    }
  } @else if $media == tablet {
    @media only screen and (min-width: $break-mobile + 1) and (max-width: $break-desktop - 1) {
      @content;
    }
  } @else if $media == desktop {
    @media only screen and (min-width: $break-desktop) {
      @content;
    }
  }

  // Usage!!
  // @include respond-to(mobile) {
  //     margin-left: 10px;
  // }
  // @include respond-to(tablet) {
  //     width: 50%;
  // }
  // @include respond-to(desktop) {
  //     width: 50%;
  // }
}

// http://compass-style.org/reference/compass/helpers/sprites/
@mixin get-sprite($map, $sprite, $repeat: no-repeat, $height: true, $width: true) {

  //http://compass-style.org/reference/compass/helpers/sprites/#sprite-file
  $sprite-image: sprite-file($map, $sprite);

  // http://compass-style.org/reference/compass/helpers/sprites/#sprite-url
  $sprite-map: sprite-url($map);

  // http://compass-style.org/reference/compass/helpers/sprites/#sprite-position
  $sprite-position: sprite-position($map, $sprite);

  // Returns background
  background: $sprite-map $sprite-position $repeat;

  // http://compass-style.org/reference/compass/helpers/image-dimensions/
  // Checks to see if the user wants height returned
  @if $height == true {
    // Gets the height of the sprite-image
    $sprite-height: image-height($sprite-image);
    // Returns the height
    height: $sprite-height;
  }

  // http://compass-style.org/reference/compass/helpers/image-dimensions/
  // Checks to see if the user wants height returned
  @if $width == true {
    // Gets the width of the sprite-image
    $sprite-width: image-width($sprite-image);
    // Returns the width
    width: $sprite-width;
  }
}

//Function that gets nth element from margin, padding and border widths with support of shorthand notatinon
@function nth_($list, $n) {
  $list-length: length($list);
  @if $list-length == 0 {
    @warn "nth_ is for $list containing 1, 2, or 4 elements, list contains 0 elements";
  } @else if $list-length == 1 {
    @return nth($list, 1);
  } @else if $list-length == 2 or $list-length == 3 {
    @if $n == 1 {
      @return nth($list, 1);
    } @else if $n == 2 {
      @return nth($list, 2);
    } @else if $n == 3 {
      @return nth($list, 1);
    } @else if $n == 4 {
      @return nth($list, 2);
    }
  } @else if $list-length == 4 {
    @return nth($list, $n);
  } @else {
    @warn "nth_ is for $list containing less then 5 elements";
  }
}

@mixin clearfix {
    &:before,
    &:after {
      content: "";
      display: block;
      height: 0;
      padding: 0;
      margin: 0;
      line-height: 0;
      font-size: 0;
    }

    &:after {
        clear: both;
    }
}

@mixin accentbox($color) {
  position: relative;
  -webkit-box-shadow: 0 6px 24px -3px rgba(0,0,0,0.25);
  -moz-box-shadow: 0 6px 24px -3px rgba(0,0,0,0.25);
  box-shadow: 0 6px 24px -3px rgba(0,0,0,0.25);
  background-color: $text-light;
  padding: 0 10px;
  border-radius: 5px;
  transition: 0.6s;
  margin-bottom: 30px;
  &:hover {
    -webkit-box-shadow: 0 6px 24px -3px rgba(0,0,0,0.6);
    -moz-box-shadow: 0 6px 24px -3px rgba(0,0,0,0.6);
    box-shadow: 0 6px 24px -3px rgba(0,0,0,0.6);
    transition: 0.6s;
  }
    figure {
      img {
        padding: 30px 0 25px 0;
      }

      figcaption {
        a {
          border-bottom: 3px solid transparent;
          outline: 0;
        }
      }
      &:hover {
        figcaption {
          a {
            border-bottom: 3px solid $color;
            outline: 0;
          }
        }
      }
      figcaption {
        h4 {
          margin-bottom: 0;
        }
        p {
          margin: 0;
          padding: 0 0 10px 0;
          font-size: 1rem;
        }
        a {
          display: inline-block;
          color: $text-default;
          font-weight: bold;
        }
      }
    }
  @include respond-to(mobile){
    display: inline-block;
    max-width: 46%!important;
    margin: 0 2% 2% 2%!important;;
    //margin-bottom: 15px;
    &.accent-3 { margin-right: 0;}
    &.accent-5 { margin-right: 0;}
  }
  @include respond-to(small-mobile) {
    display: inline-block;
    max-width: 46%!important;
    margin: 0 2% 2% 2%!important;
    //margin-bottom: 15px;
    &.accent-3 { margin-right: 0;}
    &.accent-5 { margin-right: 0;}
  }

}

@mixin button ($color, $color-hover) {
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 0;
  background-color: $color;
  color: $text-light;
  font-weight: normal;
  font-size: 0.9rem;
  padding: 9px 20px;
  border-radius: 30px;
  -webkit-box-shadow: 0 6px 24px -3px rgba(0, 0, 0, 0.39);
  -moz-box-shadow: 0 6px 24px -3px rgba(0, 0, 0, 0.39);
  box-shadow: 0 6px 24px -3px rgba(0, 0, 0, 0.39);
  transition: 0.6s;
  &:hover {
    color: $text-light;
    background-color: $color-hover;
    -webkit-box-shadow: 0 6px 24px -3px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0 6px 24px -3px rgba(0, 0, 0, 0.7);
    box-shadow: 0 6px 24px -3px rgba(0, 0, 0, 0.7);
    transition: 0.6s;
  }
}