/* COLOR NAMES
----------------------------------------- */
/*theme colors*/
/*hard-coded colors*/
/* FUNCTIONAL COLORS
----------------------------------------- */
/*border colors*/
/*text colors*/
/*background colors*/
/*gradient colors*/
.cookiePolicy-info { background-color: #e1e1e1; -webkit-transition: 2s linear all; -moz-transition: 2s linear all; -o-transition: 2s linear all; transition: 2s linear all; max-height: 1000px; overflow: hidden; }

.cookiePolicy-info.collapsed { max-height: 0; }

.cookiePolicy-info .cookiePolicy-inner { padding: 20px 10px; width: auto; max-width: 940px; margin: 0 auto; }

.cookiePolicy-restrictive { position: fixed; top: 0; left: 0; height: 100%; width: 100%; background: black; background: rgba(0, 0, 0, 0.8); z-index: 1000; }

.cookiePolicy-restrictive.collapsed { display: none; }

.cookiePolicy-restrictive .cookiePolicy-inner { position: fixed; top: 100px; width: 700px; margin-left: -363px; left: 50%; padding: 13px; background-color: #e1e1e1; }

@media screen and (max-width: 699px) { .cookiePolicy-restrictive .cookiePolicy-inner { position: absolute; width: auto; margin: 20px; left: 0; top: 0; } }

@media screen and (max-width: 699px) { .cookiePolicy-restrictive { position: absolute; } }

.cookiePolicy-buttons { text-align: right; }
