@import '_mixins';
@import '../utils/_font-awesome';
@import '_colors';
@import '_fonts';

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  line-height: 2.6;
  color: $text-default;
  font-family: "AvantGarde", sans-serif;
  font-weight: normal;
  font-size: 14px;
  //letter-spacing: 1px;
  position: relative;
  overflow: auto;
  @include respond-to(mobile) {
    font-size: 13px;

  }
  @include respond-to(tablet) {
    font-size: 14px;

  }
}

[id=wrapper] {
  max-width: 100%;
  width: 100%;
  padding: 0;
}

#cq-emulator-content.firefox {
  background-color: #FFF !important;
}

html, body {
  width: 100%;
}

[id=wrapper] {
  color: $textColor;
  width: 100%;
  padding: 85px 0 0 0;

  .main {
    width: 100%;
    padding: 0;

  }

  @include respond-to(mobile) {
    padding: 50px 0 0 0;
  }

}

[id=header].main {
  background: $text-light;
  .layout-outer {
    margin: 0 auto;
    max-width: 960px;
    padding: 0;
  }
}

[id=footer] {
  padding-bottom: 15px;
  padding-top: 15px;
}

/* BASE STYLES
----------------------------------------- */

img {
  max-width: 100%;
}

p {
  color: $text-default;
}

h1, h2, h3, h4 {
  font-weight: 700;
  margin: 0;
  padding: 0 0 20px 0;
  color: $text-default;
}

h1 {
  font-size: 1.4em;
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.4em;
}

a {
  color: $linkTextColor;
  text-decoration: none;
}

a:hover {
  color: $linkTextColor;
}

/* LAYOUT STYLES
----------------------------------------- */

.component {
  margin-bottom: 0;
}

.component-content {
  @include clearfix;
  margin-bottom: 14px;
}

.component > .component-content {
  margin-bottom: 0;
}

/* UTILITIES
----------------------------------- */

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.is-hidden {
  display: none !important;
  visibility: hidden !important;
}

/* `Clear Floated Elements
----------------------------------------------------------------------------------------------------*/

/* http://sonspring.com/journal/clearing-floats */

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */

.clearfix:before,
.clearfix:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.grayscale img {
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='saturate' values='0'/></filter></svg>#grayscale");
  -webkit-filter: grayscale(1);
  filter:url('gray.svg#grayscale');
  -webkit-filter:url('#grayscale');
          filter:url('#grayscale');
  filter: grayscale(1);
  -webkit-filter: gray;
          filter: gray;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#FFFFFF', EndColorStr='#F8F8F8') progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=170, Color='#C6C6C6');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#FFFFFF', EndColorStr='#F8F8F8') progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=170, Color='#C6C6C6')";
  -ms-filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='50');
}

.grayscale:hover img {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
  -webkit-filter: none;
          filter: none;
}

.grayscale.grayscale-fade {
  -webkit-transition: -webkit-filter .5s;
  transition: -webkit-filter .5s;
  transition: filter .5s;
  transition: filter .5s, -webkit-filter .5s
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .grayscale.grayscale-fade {
    -webkit-transition: -webkit-filter .5s;
    transition: -webkit-filter .5s
  }
}

.grayscale.grayscale-fade:hover, .grayscale.grayscale-off {
  -webkit-filter: grayscale(0);
  filter: grayscale(0)
}

.grayscale.grayscale-replaced {
  -webkit-filter: none;
  filter: none
}

.grayscale.grayscale-replaced > svg {
  -webkit-transition: opacity .5s ease;
  transition: opacity .5s ease;
  opacity: 1
}

.grayscale.grayscale-replaced.grayscale-fade:hover > svg, .grayscale.grayscale-replaced.grayscale-off > svg {
  opacity: 0
}

.clearfix:after {
  clear: both;
}

/*
  The following zoom:1 rule is specifically for IE6 + IE7.
  Move to separate stylesheet if invalid CSS is a problem.
*/

.clearfix {
  zoom: 1;
}

/* Header specific styles */
@include respond-to(mobile) {
  #header {
    height: 55px;
    .image {
      left: 10px;
      top: 10px;
      width: 40px;
      position: absolute;
    }
    .component {
      margin-bottom: 0;
    }
  }
}

/*########### HOMEPAGE ###########*/

.page-home {

  #wrapper {
    background: $background;
  }

  .box-960 .component-content .content.paragraphSystem {
    padding: 0;
    margin: 0 auto;
    .richText {
      h3 {
        padding: 30px 0;
        margin: 0;
        &:before {
          display: none;
        }
      }
      h4 {
        padding: 0.5em 1em;
        margin: 0;
      }
      p {
        padding: 0 0 20px 0;
        margin: 0;
      }
    }

  }

  .secondary-bg {
    margin: 0;
  }
  .page-box-1 {
    padding-bottom: 50px;
    figure {
    }
    figcaption {
      h4 {
        padding: 0 0 15px 0;
        margin: 0;
      }
    }
  }
  .page-box-2 {
    padding: 50px 0 30px 0;
    .secondary-bg {
      margin-bottom: 60px;
    }
  }

  @include respond-to(mobile) {
    .page-box-1 {
      padding-bottom: 0;
      figure {
      }
      figcaption {
        h4 {
          padding: 0 0 5px 0;
          margin: 0;
        }
      }
    }

  }
}

/*########### PATIENT STORIES ###########*/

.page-patient-stories {
  .page-box-2 {
    padding: 60px 0;
  }

}

/*########### ABOUT PP ###########*/
.page-about-positive-perspectives {
  #wrapper .main .hero-subpageTitle .component-content h2 {
    padding-top: 50px;
    font-size: 22px;
    line-height: 1.3em;
    .part-0 {
      padding-left: 6px
    }
    .part-1 {
      padding-left: 12px
    }
    .part-2 {
      padding-left: 18px
    }
  }

  @include respond-to(mobile) {
    .side-image.grid_6 {
      display: none;
    }

  }


}




/*##### Diagnosis ######*/

.page-diagnosis {
  .secondary-bg {
    &.alpha {
      padding: 0 25px;
      min-height: 600px;
      @include respond-to(mobile) {
        min-height: initial;
      }
      @include respond-to(tablet) {
        min-height: initial;
      }
    }
  }
  .side-image {
    margin-bottom: 20px;
  }
}

/*##### Disclosure ######*/
.page-disclosure {
  .secondary-bg {
    &.alpha {
      padding: 0 25px;
      min-height: 600px;
      @include respond-to(mobile) {
        min-height: initial;
      }
    }
  }
  .side-image {
    margin-bottom: 20px;
  }
}

/*##### Treatment ######*/

.page-treatment {
  .secondary-bg {
    &.alpha {
      padding: 0 25px;
      min-height: 600px;
      @include respond-to(mobile) {
        min-height: initial;
      }
    }
  }
  .side-image {
    margin-bottom: 20px;
  }
}

/*##### Talking to your doctor ######*/
.page-talking-with-your-doctor,
.page-talking-to-your-doctor {
  .secondary-bg {
    &.alpha {
      padding: 0 25px;
      min-height: 600px;
      @include respond-to(mobile) {
        min-height: initial;
      }
    }
  }
  .side-image {
    margin-bottom: 20px;
  }
}

.unity-tool-module {
  width: 100%;
  min-height: 600px;
  overflow-x: hidden;
  iframe {
    border: 0;
    width: 100%;
    min-height: 600px;
    overflow-x: hidden;
  }
}

@include respond-to(tablet) {
  #content.main  .body.paragraphSystem {
    padding: 15px;
  }
  [class*="grid_"],
  .main [class*="grid_"],
  .main [class*="grid_"].alpha,
  .main [class*="grid_"] [class*="grid_"],
  .main [class*="grid_"] [class*="grid_"].alpha {
    margin: initial !important;
  }

}




@import 'header';
@import 'footer';