@charset "UTF-8";
/* COLOR NAMES
----------------------------------------- */
/*theme colors*/
/*hard-coded colors*/
/* FUNCTIONAL COLORS
----------------------------------------- */
/*border colors*/
/*text colors*/
/*background colors*/
/*gradient colors*/
.overlay-background { position: fixed; top: 0px; left: 0px; width: 100%; height: 100%; background: #000; z-index: 9998; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70); opacity: 0.7; }

.overlay-container { position: absolute; width: 100%; top: 150px; text-align: center; z-index: 9999; padding-bottom: 30px; }

.overlay-content { position: relative; min-width: 80px; min-height: 80px; max-width: 90%; padding: 10px; display: inline-block; background: #FFF; text-align: left; border: solid 2px #323131; -webkit-border-radius: 10px; -moz-border-radius: 10px; -ms-border-radius: 10px; -o-border-radius: 10px; border-radius: 10px; }

.overlay-content-inner { overflow: hidden; }

.overlay-close { z-index: 9999; font-size: 35px; line-height: 1; position: absolute; top: -40px; right: 15px; cursor: pointer; display: none; color: #fff; outline: none; }

.overlay-close:after { content: ""; display: inline-block; font-family: FontAwesome; font-style: normal; position: relative; font-weight: normal; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.overlay-loading { position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: url(../../assets/img/loader.gif) no-repeat 50% 50%; }
