@import '../../core/mixins';

.smart-link {
  margin: 10px 0;
}

.smart-link-list {
  overflow: hidden;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.smart-link-list li {
  display: inline-block;
  *display: inline;
}
.smart-link-next:after,
.smart-link-previous:before {
  position: relative;
  top: -1px;
  height: 14px;
  display: inline-block;
  width: 6px;
  font-size: 8px;
  color: #000;
}

.smart-link-next:after {
  @include font-awesome($fa-var-chevron-right);
  margin-left: 10px;
}

.smart-link-previous:before {
  @include font-awesome($fa-var-chevron-left);
  margin-right: 10px;
}