@import '../../core/mixins';

.richText .component-content {
    overflow: hidden;
}

.richText h1,
.richText h2,
.richText h3,
.richText h4,
.richText h5,
.richText h6 {
    margin-top: 0;
}

.richText a {
    text-decoration: underline;
}

.richText ul,
.richText ol {
    padding: 10px 0;
    margin-left: 10px;
}

.richText li {
    font-size: 14px;
    margin-left: 15px;
    margin-bottom: 10px;
    list-style-type: none;
}

.richText ul li {
    margin-left: 0;
    padding-left: 15px;
    position:relative;
    &:before {
        @include font-awesome($fa-var-caret-right);
        left:0;
        top: 1px;
        position:absolute;
    }
}

.richText ol li {
    list-style: decimal;
}

.richText-links {
    font-size: 10px;
}

.richText .richText-links li {
    background: none;
    display: inline;
    list-style: none;
    padding-left: 0;
}

.richText-links li a {
    padding-right: 5px;
    border-right: solid 1px $vertSeparatorBorderColor;
    margin-right: 5px;
}

.richText-links li:last-child a {
    border-right: 0 none;
    margin-right: 0;
    padding-right: 0;
}

.richText-image {
    display: block;
    margin-bottom: 10px;
}

.richText-image.pull-left {
    margin: 5px 15px 5px 10px;
    float: left;
}

.richText-image.pull-right {
    margin: 5px 10px 5px 15px;
    float: right;
}
