// Variables
// --------------------------

@function unicode($str){
    @return unquote("\"") + $str + unquote("\"");
}

$fa-var-adjust: unicode(\f042);
$fa-var-adn: unicode(\f170);
$fa-var-align-center: unicode(\f037);
$fa-var-align-justify: unicode(\f039);
$fa-var-align-left: unicode(\f036);
$fa-var-align-right: unicode(\f038);
$fa-var-ambulance: unicode(\f0f9);
$fa-var-anchor: unicode(\f13d);
$fa-var-android: unicode(\f17b);
$fa-var-angle-double-down: unicode(\f103);
$fa-var-angle-double-left: unicode(\f100);
$fa-var-angle-double-right: unicode(\f101);
$fa-var-angle-double-up: unicode(\f102);
$fa-var-angle-down: unicode(\f107);
$fa-var-angle-left: unicode(\f104);
$fa-var-angle-right: unicode(\f105);
$fa-var-angle-up: unicode(\f106);
$fa-var-apple: unicode(\f179);
$fa-var-archive: unicode(\f187);
$fa-var-arrow-circle-down: unicode(\f0ab);
$fa-var-arrow-circle-left: unicode(\f0a8);
$fa-var-arrow-circle-o-down: unicode(\f01a);
$fa-var-arrow-circle-o-left: unicode(\f190);
$fa-var-arrow-circle-o-right: unicode(\f18e);
$fa-var-arrow-circle-o-up: unicode(\f01b);
$fa-var-arrow-circle-right: unicode(\f0a9);
$fa-var-arrow-circle-up: unicode(\f0aa);
$fa-var-arrow-down: unicode(\f063);
$fa-var-arrow-left: unicode(\f060);
$fa-var-arrow-right: unicode(\f061);
$fa-var-arrow-up: unicode(\f062);
$fa-var-arrows: unicode(\f047);
$fa-var-arrows-alt: unicode(\f0b2);
$fa-var-arrows-h: unicode(\f07e);
$fa-var-arrows-v: unicode(\f07d);
$fa-var-asterisk: unicode(\f069);
$fa-var-automobile: unicode(\f1b9);
$fa-var-backward: unicode(\f04a);
$fa-var-ban: unicode(\f05e);
$fa-var-bank: unicode(\f19c);
$fa-var-bar-chart-o: unicode(\f080);
$fa-var-barcode: unicode(\f02a);
$fa-var-bars: unicode(\f0c9);
$fa-var-beer: unicode(\f0fc);
$fa-var-behance: unicode(\f1b4);
$fa-var-behance-square: unicode(\f1b5);
$fa-var-bell: unicode(\f0f3);
$fa-var-bell-o: unicode(\f0a2);
$fa-var-bitbucket: unicode(\f171);
$fa-var-bitbucket-square: unicode(\f172);
$fa-var-bitcoin: unicode(\f15a);
$fa-var-bold: unicode(\f032);
$fa-var-bolt: unicode(\f0e7);
$fa-var-bomb: unicode(\f1e2);
$fa-var-book: unicode(\f02d);
$fa-var-bookmark: unicode(\f02e);
$fa-var-bookmark-o: unicode(\f097);
$fa-var-briefcase: unicode(\f0b1);
$fa-var-btc: unicode(\f15a);
$fa-var-bug: unicode(\f188);
$fa-var-building: unicode(\f1ad);
$fa-var-building-o: unicode(\f0f7);
$fa-var-bullhorn: unicode(\f0a1);
$fa-var-bullseye: unicode(\f140);
$fa-var-cab: unicode(\f1ba);
$fa-var-calendar: unicode(\f073);
$fa-var-calendar-o: unicode(\f133);
$fa-var-camera: unicode(\f030);
$fa-var-camera-retro: unicode(\f083);
$fa-var-car: unicode(\f1b9);
$fa-var-caret-down: unicode(\f0d7);
$fa-var-caret-left: unicode(\f0d9);
$fa-var-caret-right: unicode(\f0da);
$fa-var-caret-square-o-down: unicode(\f150);
$fa-var-caret-square-o-left: unicode(\f191);
$fa-var-caret-square-o-right: unicode(\f152);
$fa-var-caret-square-o-up: unicode(\f151);
$fa-var-caret-up: unicode(\f0d8);
$fa-var-certificate: unicode(\f0a3);
$fa-var-chain: unicode(\f0c1);
$fa-var-chain-broken: unicode(\f127);
$fa-var-check: unicode(\f00c);
$fa-var-check-circle: unicode(\f058);
$fa-var-check-circle-o: unicode(\f05d);
$fa-var-check-square: unicode(\f14a);
$fa-var-check-square-o: unicode(\f046);
$fa-var-chevron-circle-down: unicode(\f13a);
$fa-var-chevron-circle-left: unicode(\f137);
$fa-var-chevron-circle-right: unicode(\f138);
$fa-var-chevron-circle-up: unicode(\f139);
$fa-var-chevron-down: unicode(\f078);
$fa-var-chevron-left: unicode(\f053);
$fa-var-chevron-right: unicode(\f054);
$fa-var-chevron-up: unicode(\f077);
$fa-var-child: unicode(\f1ae);
$fa-var-circle: unicode(\f111);
$fa-var-circle-o: unicode(\f10c);
$fa-var-circle-o-notch: unicode(\f1ce);
$fa-var-circle-thin: unicode(\f1db);
$fa-var-clipboard: unicode(\f0ea);
$fa-var-clock-o: unicode(\f017);
$fa-var-cloud: unicode(\f0c2);
$fa-var-cloud-download: unicode(\f0ed);
$fa-var-cloud-upload: unicode(\f0ee);
$fa-var-cny: unicode(\f157);
$fa-var-code: unicode(\f121);
$fa-var-code-fork: unicode(\f126);
$fa-var-codepen: unicode(\f1cb);
$fa-var-coffee: unicode(\f0f4);
$fa-var-cog: unicode(\f013);
$fa-var-cogs: unicode(\f085);
$fa-var-columns: unicode(\f0db);
$fa-var-comment: unicode(\f075);
$fa-var-comment-o: unicode(\f0e5);
$fa-var-comments: unicode(\f086);
$fa-var-comments-o: unicode(\f0e6);
$fa-var-compass: unicode(\f14e);
$fa-var-compress: unicode(\f066);
$fa-var-copy: unicode(\f0c5);
$fa-var-credit-card: unicode(\f09d);
$fa-var-crop: unicode(\f125);
$fa-var-crosshairs: unicode(\f05b);
$fa-var-css3: unicode(\f13c);
$fa-var-cube: unicode(\f1b2);
$fa-var-cubes: unicode(\f1b3);
$fa-var-cut: unicode(\f0c4);
$fa-var-cutlery: unicode(\f0f5);
$fa-var-dashboard: unicode(\f0e4);
$fa-var-database: unicode(\f1c0);
$fa-var-dedent: unicode(\f03b);
$fa-var-delicious: unicode(\f1a5);
$fa-var-desktop: unicode(\f108);
$fa-var-deviantart: unicode(\f1bd);
$fa-var-digg: unicode(\f1a6);
$fa-var-dollar: unicode(\f155);
$fa-var-dot-circle-o: unicode(\f192);
$fa-var-download: unicode(\f019);
$fa-var-dribbble: unicode(\f17d);
$fa-var-dropbox: unicode(\f16b);
$fa-var-drupal: unicode(\f1a9);
$fa-var-edit: unicode(\f044);
$fa-var-eject: unicode(\f052);
$fa-var-ellipsis-h: unicode(\f141);
$fa-var-ellipsis-v: unicode(\f142);
$fa-var-empire: unicode(\f1d1);
$fa-var-envelope: unicode(\f0e0);
$fa-var-envelope-o: unicode(\f003);
$fa-var-envelope-square: unicode(\f199);
$fa-var-eraser: unicode(\f12d);
$fa-var-eur: unicode(\f153);
$fa-var-euro: unicode(\f153);
$fa-var-exchange: unicode(\f0ec);
$fa-var-exclamation: unicode(\f12a);
$fa-var-exclamation-circle: unicode(\f06a);
$fa-var-exclamation-triangle: unicode(\f071);
$fa-var-expand: unicode(\f065);
$fa-var-external-link: unicode(\f08e);
$fa-var-external-link-square: unicode(\f14c);
$fa-var-eye: unicode(\f06e);
$fa-var-eye-slash: unicode(\f070);
$fa-var-facebook: unicode(\f09a);
$fa-var-facebook-square: unicode(\f082);
$fa-var-fast-backward: unicode(\f049);
$fa-var-fast-forward: unicode(\f050);
$fa-var-fax: unicode(\f1ac);
$fa-var-female: unicode(\f182);
$fa-var-fighter-jet: unicode(\f0fb);
$fa-var-file: unicode(\f15b);
$fa-var-file-archive-o: unicode(\f1c6);
$fa-var-file-audio-o: unicode(\f1c7);
$fa-var-file-code-o: unicode(\f1c9);
$fa-var-file-excel-o: unicode(\f1c3);
$fa-var-file-image-o: unicode(\f1c5);
$fa-var-file-movie-o: unicode(\f1c8);
$fa-var-file-o: unicode(\f016);
$fa-var-file-pdf-o: unicode(\f1c1);
$fa-var-file-photo-o: unicode(\f1c5);
$fa-var-file-picture-o: unicode(\f1c5);
$fa-var-file-powerpoint-o: unicode(\f1c4);
$fa-var-file-sound-o: unicode(\f1c7);
$fa-var-file-text: unicode(\f15c);
$fa-var-file-text-o: unicode(\f0f6);
$fa-var-file-video-o: unicode(\f1c8);
$fa-var-file-word-o: unicode(\f1c2);
$fa-var-file-zip-o: unicode(\f1c6);
$fa-var-files-o: unicode(\f0c5);
$fa-var-film: unicode(\f008);
$fa-var-filter: unicode(\f0b0);
$fa-var-fire: unicode(\f06d);
$fa-var-fire-extinguisher: unicode(\f134);
$fa-var-flag: unicode(\f024);
$fa-var-flag-checkered: unicode(\f11e);
$fa-var-flag-o: unicode(\f11d);
$fa-var-flash: unicode(\f0e7);
$fa-var-flask: unicode(\f0c3);
$fa-var-flickr: unicode(\f16e);
$fa-var-floppy-o: unicode(\f0c7);
$fa-var-folder: unicode(\f07b);
$fa-var-folder-o: unicode(\f114);
$fa-var-folder-open: unicode(\f07c);
$fa-var-folder-open-o: unicode(\f115);
$fa-var-font: unicode(\f031);
$fa-var-forward: unicode(\f04e);
$fa-var-foursquare: unicode(\f180);
$fa-var-frown-o: unicode(\f119);
$fa-var-gamepad: unicode(\f11b);
$fa-var-gavel: unicode(\f0e3);
$fa-var-gbp: unicode(\f154);
$fa-var-ge: unicode(\f1d1);
$fa-var-gear: unicode(\f013);
$fa-var-gears: unicode(\f085);
$fa-var-gift: unicode(\f06b);
$fa-var-git: unicode(\f1d3);
$fa-var-git-square: unicode(\f1d2);
$fa-var-github: unicode(\f09b);
$fa-var-github-alt: unicode(\f113);
$fa-var-github-square: unicode(\f092);
$fa-var-gittip: unicode(\f184);
$fa-var-glass: unicode(\f000);
$fa-var-globe: unicode(\f0ac);
$fa-var-google: unicode(\f1a0);
$fa-var-google-plus: unicode(\f0d5);
$fa-var-google-plus-square: unicode(\f0d4);
$fa-var-graduation-cap: unicode(\f19d);
$fa-var-group: unicode(\f0c0);
$fa-var-h-square: unicode(\f0fd);
$fa-var-hacker-news: unicode(\f1d4);
$fa-var-hand-o-down: unicode(\f0a7);
$fa-var-hand-o-left: unicode(\f0a5);
$fa-var-hand-o-right: unicode(\f0a4);
$fa-var-hand-o-up: unicode(\f0a6);
$fa-var-hdd-o: unicode(\f0a0);
$fa-var-header: unicode(\f1dc);
$fa-var-headphones: unicode(\f025);
$fa-var-heart: unicode(\f004);
$fa-var-heart-o: unicode(\f08a);
$fa-var-history: unicode(\f1da);
$fa-var-home: unicode(\f015);
$fa-var-hospital-o: unicode(\f0f8);
$fa-var-html5: unicode(\f13b);
$fa-var-image: unicode(\f03e);
$fa-var-inbox: unicode(\f01c);
$fa-var-indent: unicode(\f03c);
$fa-var-info: unicode(\f129);
$fa-var-info-circle: unicode(\f05a);
$fa-var-inr: unicode(\f156);
$fa-var-instagram: unicode(\f16d);
$fa-var-institution: unicode(\f19c);
$fa-var-italic: unicode(\f033);
$fa-var-joomla: unicode(\f1aa);
$fa-var-jpy: unicode(\f157);
$fa-var-jsfiddle: unicode(\f1cc);
$fa-var-key: unicode(\f084);
$fa-var-keyboard-o: unicode(\f11c);
$fa-var-krw: unicode(\f159);
$fa-var-language: unicode(\f1ab);
$fa-var-laptop: unicode(\f109);
$fa-var-leaf: unicode(\f06c);
$fa-var-legal: unicode(\f0e3);
$fa-var-lemon-o: unicode(\f094);
$fa-var-level-down: unicode(\f149);
$fa-var-level-up: unicode(\f148);
$fa-var-life-bouy: unicode(\f1cd);
$fa-var-life-ring: unicode(\f1cd);
$fa-var-life-saver: unicode(\f1cd);
$fa-var-lightbulb-o: unicode(\f0eb);
$fa-var-link: unicode(\f0c1);
$fa-var-linkedin: unicode(\f0e1);
$fa-var-linkedin-square: unicode(\f08c);
$fa-var-linux: unicode(\f17c);
$fa-var-list: unicode(\f03a);
$fa-var-list-alt: unicode(\f022);
$fa-var-list-ol: unicode(\f0cb);
$fa-var-list-ul: unicode(\f0ca);
$fa-var-location-arrow: unicode(\f124);
$fa-var-lock: unicode(\f023);
$fa-var-long-arrow-down: unicode(\f175);
$fa-var-long-arrow-left: unicode(\f177);
$fa-var-long-arrow-right: unicode(\f178);
$fa-var-long-arrow-up: unicode(\f176);
$fa-var-magic: unicode(\f0d0);
$fa-var-magnet: unicode(\f076);
$fa-var-mail-forward: unicode(\f064);
$fa-var-mail-reply: unicode(\f112);
$fa-var-mail-reply-all: unicode(\f122);
$fa-var-male: unicode(\f183);
$fa-var-map-marker: unicode(\f041);
$fa-var-maxcdn: unicode(\f136);
$fa-var-medkit: unicode(\f0fa);
$fa-var-meh-o: unicode(\f11a);
$fa-var-microphone: unicode(\f130);
$fa-var-microphone-slash: unicode(\f131);
$fa-var-minus: unicode(\f068);
$fa-var-minus-circle: unicode(\f056);
$fa-var-minus-square: unicode(\f146);
$fa-var-minus-square-o: unicode(\f147);
$fa-var-mobile: unicode(\f10b);
$fa-var-mobile-phone: unicode(\f10b);
$fa-var-money: unicode(\f0d6);
$fa-var-moon-o: unicode(\f186);
$fa-var-mortar-board: unicode(\f19d);
$fa-var-music: unicode(\f001);
$fa-var-navicon: unicode(\f0c9);
$fa-var-openid: unicode(\f19b);
$fa-var-outdent: unicode(\f03b);
$fa-var-pagelines: unicode(\f18c);
$fa-var-paper-plane: unicode(\f1d8);
$fa-var-paper-plane-o: unicode(\f1d9);
$fa-var-paperclip: unicode(\f0c6);
$fa-var-paragraph: unicode(\f1dd);
$fa-var-paste: unicode(\f0ea);
$fa-var-pause: unicode(\f04c);
$fa-var-paw: unicode(\f1b0);
$fa-var-pencil: unicode(\f040);
$fa-var-pencil-square: unicode(\f14b);
$fa-var-pencil-square-o: unicode(\f044);
$fa-var-phone: unicode(\f095);
$fa-var-phone-square: unicode(\f098);
$fa-var-photo: unicode(\f03e);
$fa-var-picture-o: unicode(\f03e);
$fa-var-pied-piper: unicode(\f1a7);
$fa-var-pied-piper-alt: unicode(\f1a8);
$fa-var-pied-piper-square: unicode(\f1a7);
$fa-var-pinterest: unicode(\f0d2);
$fa-var-pinterest-square: unicode(\f0d3);
$fa-var-plane: unicode(\f072);
$fa-var-play: unicode(\f04b);
$fa-var-play-circle: unicode(\f144);
$fa-var-play-circle-o: unicode(\f01d);
$fa-var-plus: unicode(\f067);
$fa-var-plus-circle: unicode(\f055);
$fa-var-plus-square: unicode(\f0fe);
$fa-var-plus-square-o: unicode(\f196);
$fa-var-power-off: unicode(\f011);
$fa-var-print: unicode(\f02f);
$fa-var-puzzle-piece: unicode(\f12e);
$fa-var-qq: unicode(\f1d6);
$fa-var-qrcode: unicode(\f029);
$fa-var-question: unicode(\f128);
$fa-var-question-circle: unicode(\f059);
$fa-var-quote-left: unicode(\f10d);
$fa-var-quote-right: unicode(\f10e);
$fa-var-ra: unicode(\f1d0);
$fa-var-random: unicode(\f074);
$fa-var-rebel: unicode(\f1d0);
$fa-var-recycle: unicode(\f1b8);
$fa-var-reddit: unicode(\f1a1);
$fa-var-reddit-square: unicode(\f1a2);
$fa-var-refresh: unicode(\f021);
$fa-var-renren: unicode(\f18b);
$fa-var-reorder: unicode(\f0c9);
$fa-var-repeat: unicode(\f01e);
$fa-var-reply: unicode(\f112);
$fa-var-reply-all: unicode(\f122);
$fa-var-retweet: unicode(\f079);
$fa-var-rmb: unicode(\f157);
$fa-var-road: unicode(\f018);
$fa-var-rocket: unicode(\f135);
$fa-var-rotate-left: unicode(\f0e2);
$fa-var-rotate-right: unicode(\f01e);
$fa-var-rouble: unicode(\f158);
$fa-var-rss: unicode(\f09e);
$fa-var-rss-square: unicode(\f143);
$fa-var-rub: unicode(\f158);
$fa-var-ruble: unicode(\f158);
$fa-var-rupee: unicode(\f156);
$fa-var-save: unicode(\f0c7);
$fa-var-scissors: unicode(\f0c4);
$fa-var-search: unicode(\f002);
$fa-var-search-minus: unicode(\f010);
$fa-var-search-plus: unicode(\f00e);
$fa-var-send: unicode(\f1d8);
$fa-var-send-o: unicode(\f1d9);
$fa-var-share: unicode(\f064);
$fa-var-share-alt: unicode(\f1e0);
$fa-var-share-alt-square: unicode(\f1e1);
$fa-var-share-square: unicode(\f14d);
$fa-var-share-square-o: unicode(\f045);
$fa-var-shield: unicode(\f132);
$fa-var-shopping-cart: unicode(\f07a);
$fa-var-sign-in: unicode(\f090);
$fa-var-sign-out: unicode(\f08b);
$fa-var-signal: unicode(\f012);
$fa-var-sitemap: unicode(\f0e8);
$fa-var-skype: unicode(\f17e);
$fa-var-slack: unicode(\f198);
$fa-var-sliders: unicode(\f1de);
$fa-var-smile-o: unicode(\f118);
$fa-var-sort: unicode(\f0dc);
$fa-var-sort-alpha-asc: unicode(\f15d);
$fa-var-sort-alpha-desc: unicode(\f15e);
$fa-var-sort-amount-asc: unicode(\f160);
$fa-var-sort-amount-desc: unicode(\f161);
$fa-var-sort-asc: unicode(\f0de);
$fa-var-sort-desc: unicode(\f0dd);
$fa-var-sort-down: unicode(\f0dd);
$fa-var-sort-numeric-asc: unicode(\f162);
$fa-var-sort-numeric-desc: unicode(\f163);
$fa-var-sort-up: unicode(\f0de);
$fa-var-soundcloud: unicode(\f1be);
$fa-var-space-shuttle: unicode(\f197);
$fa-var-spinner: unicode(\f110);
$fa-var-spoon: unicode(\f1b1);
$fa-var-spotify: unicode(\f1bc);
$fa-var-square: unicode(\f0c8);
$fa-var-square-o: unicode(\f096);
$fa-var-stack-exchange: unicode(\f18d);
$fa-var-stack-overflow: unicode(\f16c);
$fa-var-star: unicode(\f005);
$fa-var-star-half: unicode(\f089);
$fa-var-star-half-empty: unicode(\f123);
$fa-var-star-half-full: unicode(\f123);
$fa-var-star-half-o: unicode(\f123);
$fa-var-star-o: unicode(\f006);
$fa-var-steam: unicode(\f1b6);
$fa-var-steam-square: unicode(\f1b7);
$fa-var-step-backward: unicode(\f048);
$fa-var-step-forward: unicode(\f051);
$fa-var-stethoscope: unicode(\f0f1);
$fa-var-stop: unicode(\f04d);
$fa-var-strikethrough: unicode(\f0cc);
$fa-var-stumbleupon: unicode(\f1a4);
$fa-var-stumbleupon-circle: unicode(\f1a3);
$fa-var-subscript: unicode(\f12c);
$fa-var-suitcase: unicode(\f0f2);
$fa-var-resize: unicode(\f2d2);
$fa-var-sun-o: unicode(\f185);
$fa-var-superscript: unicode(\f12b);
$fa-var-support: unicode(\f1cd);
$fa-var-table: unicode(\f0ce);
$fa-var-tablet: unicode(\f10a);
$fa-var-tachometer: unicode(\f0e4);
$fa-var-tag: unicode(\f02b);
$fa-var-tags: unicode(\f02c);
$fa-var-tasks: unicode(\f0ae);
$fa-var-taxi: unicode(\f1ba);
$fa-var-tencent-weibo: unicode(\f1d5);
$fa-var-terminal: unicode(\f120);
$fa-var-text-height: unicode(\f034);
$fa-var-text-width: unicode(\f035);
$fa-var-th: unicode(\f00a);
$fa-var-th-large: unicode(\f009);
$fa-var-th-list: unicode(\f00b);
$fa-var-thumb-tack: unicode(\f08d);
$fa-var-thumbs-down: unicode(\f165);
$fa-var-thumbs-o-down: unicode(\f088);
$fa-var-thumbs-o-up: unicode(\f087);
$fa-var-thumbs-up: unicode(\f164);
$fa-var-ticket: unicode(\f145);
$fa-var-times: unicode(\f00d);
$fa-var-times-circle: unicode(\f057);
$fa-var-times-circle-o: unicode(\f05c);
$fa-var-tint: unicode(\f043);
$fa-var-toggle-down: unicode(\f150);
$fa-var-toggle-left: unicode(\f191);
$fa-var-toggle-right: unicode(\f152);
$fa-var-toggle-up: unicode(\f151);
$fa-var-trash-o: unicode(\f014);
$fa-var-tree: unicode(\f1bb);
$fa-var-trello: unicode(\f181);
$fa-var-trophy: unicode(\f091);
$fa-var-truck: unicode(\f0d1);
$fa-var-try: unicode(\f195);
$fa-var-tumblr: unicode(\f173);
$fa-var-tumblr-square: unicode(\f174);
$fa-var-turkish-lira: unicode(\f195);
$fa-var-twitter: unicode(\f099);
$fa-var-twitter-square: unicode(\f081);
$fa-var-umbrella: unicode(\f0e9);
$fa-var-underline: unicode(\f0cd);
$fa-var-undo: unicode(\f0e2);
$fa-var-university: unicode(\f19c);
$fa-var-unlink: unicode(\f127);
$fa-var-unlock: unicode(\f09c);
$fa-var-unlock-alt: unicode(\f13e);
$fa-var-unsorted: unicode(\f0dc);
$fa-var-upload: unicode(\f093);
$fa-var-usd: unicode(\f155);
$fa-var-user: unicode(\f007);
$fa-var-user-md: unicode(\f0f0);
$fa-var-users: unicode(\f0c0);
$fa-var-video-camera: unicode(\f03d);
$fa-var-vimeo-square: unicode(\f194);
$fa-var-vine: unicode(\f1ca);
$fa-var-vk: unicode(\f189);
$fa-var-volume-down: unicode(\f027);
$fa-var-volume-off: unicode(\f026);
$fa-var-volume-up: unicode(\f028);
$fa-var-warning: unicode(\f071);
$fa-var-wechat: unicode(\f1d7);
$fa-var-weibo: unicode(\f18a);
$fa-var-weixin: unicode(\f1d7);
$fa-var-wheelchair: unicode(\f193);
$fa-var-windows: unicode(\f17a);
$fa-var-won: unicode(\f159);
$fa-var-wordpress: unicode(\f19a);
$fa-var-wrench: unicode(\f0ad);
$fa-var-xing: unicode(\f168);
$fa-var-xing-square: unicode(\f169);
$fa-var-yahoo: unicode(\f19e);
$fa-var-yen: unicode(\f157);
$fa-var-youtube: unicode(\f167);
$fa-var-youtube-play: unicode(\f16a);
$fa-var-youtube-square: unicode(\f166);
