/**
* This file will be included in author mode only
*/


.cq-wcm-edit {
  .hero {
    &:before, &:after {
      display: none;
    }
  }

  #header {
    position: relative;
    z-index: inherit;
  }

  .box-hidden {
    display: block;
    padding:10px;
    margin: 0;
  }

  .box.person-one, .box.person-two {
    display: block;
  }
  .parametrizedhtml {
    min-height: 50px;
  }

}