.richText {

  &.left-content {
    margin-top: 60px;
    font-size: 1rem;
    p {
      font-weight: 500;
      font-size: 1rem;
    }
    @include respond-to(mobile) {
      margin-top: 10px;
    }
  }

  .small-font {
    font-size: .6rem;
  }

  h2 {
    //text-transform: uppercase;
  }

  h3 {
    background: $color-secondary;
    padding: 10px 0;
    margin: 0;
    margin-bottom: 60px;
    position: relative;
    &:before {
      position: absolute;
      bottom: -38px;
      left: 50%;
      border: 19px solid transparent;
      border-top-color: $color-secondary;
      content: '';
      margin-left: -19px;
    }
  }

  &.transparent {
    * {
      color: transparent;
      background: transparent;
    }
  }
}


