@import '../../core/mixins';

.button-accent-2 {
  @include button ($color-accent-1, $color-accent-1-hover)
}

.button {
  @include button ($color-primary, $color-primary-hover);
}

.download-button {
    &:before {
      @include font-awesome($fa-var-download);
      display: inline-block;
      padding-right: 10px;
  }
  @include button ($color-primary, $color-primary-hover);
}

.view-button {
  &:after {
    @include font-awesome($fa-var-copy);
    display: inline-block;
    padding-left: 10px;
  }
  @include button ($color-primary, $color-primary-hover);
}

@include respond-to(small-mobile) {
  .button-accent-2 {
    width: 100%;
  }
  .download-button {
    width: 100%;
  }
}