.richtext-references {
  border-top: 1px solid $border;
  padding-bottom: 20px;
  padding-top: 20px;
  margin-top: 20px;
  p {
    font-size: 0.7rem;
    padding: 0 0 5px 0!important;
    margin: 0
  }
  a {
    color: $color-accent-3;
  }
  ol {
    padding: 0;
    margin: 0;
    li {
      font-size: 0.7rem;
      font-weight: normal;
      padding: 0 20px 10px 30px;
      margin: 0;
      text-align: left;

      &:before, .small-font {
        background: transparent;
        content: counter(step-counter);
        font-size: .6rem;
        padding: 0 0 0;
        margin: -2px 0 0 -15px;
        border-radius: 0;
        color: $color-references;
        font-weight: normal;
        display: inline-block;
        float: left;
      }
      .small-font {
        background: transparent;
        content: '';
        font-size: .6rem;
        padding: 0 0 0;
        margin: -2px 0 0 0px;
        border-radius: 0;
        color: $color-references;
        font-weight: normal;
        display: inline-block;
        float: left;
      }
    }
  }

  ol {
    display: none;
  }
  p {
    position: relative;
    cursor: pointer;
    &:after {
      content: '+';
      float: right;
      font-size: 1.2rem;
      font-weight: 600;
    }
  }
  .is-active {
    p {
      &:after {
        content: '-';
      }
    }
  }

/*###### RWD VERSION ######*/
  @include respond-to(small-mobile) {
      p {
        padding: 10px 0 !important;
      }
    ol {
      li {
        padding: 0 0 10px 20px;
      }
    }
  }
  @include respond-to(mobile) {

  }
  @include respond-to(tablet) {

  }
  @include respond-to(desktop) {

  }
}


.richText-content {
  a {
    &.references {
      color: $color-references;
      position: relative; top: -0.5em; font-size: .8em;
      &:before {
        content: '[';
      }
      &:after {
        content: ']';
      }
    }
  }
  h1, h2, h3, h4 {
    a {
      &.references {
        font-size: 0.6em;
        font-weight: normal;
      }
    }
  }
}



