@import '../core/mixins';


.hero-homeTitle {
  width: 960px !important;
  position: absolute;
  top: 300px;
  min-height: 350px;
  left: 50%;
  margin-left: -480px!important;
  background-image: url(../../assets/img/dots.png);
  background-size: 250px;
  background-position: 0 40px;
  background-repeat: no-repeat;
  z-index: 99;
  p {
    //font-size: 2em;
    font-size: 0;
    padding: 35px 0 0 20px;
    color: white;
    line-height: 1.4;
    font-weight: 600;
    letter-spacing: 3px;
    span {
      display: block;
      &.part-0 { padding-left: 6px}
      &.part-1 { padding-left: 20px}
      &.part-2 { padding-left: 45px}
      &.part-3 { padding-left: 65px}
    }
  }

  @include respond-to(mobile){
    &.grid_12 {
      top: 330px;
      left: 830px;
      width: 80px !important;
      min-height: 200px;
      background-size: 80px;
      background-position: top left;
      background-repeat: no-repeat;
      margin-left: -20px!important;
    }

  }

  @include respond-to(tablet){
    width: 300px !important;
    min-height: 250px;
    background-size: 70%;
    background-position: top left;
    background-repeat: no-repeat;
    margin-left: 20px;
    top: 320px;
    left: 54%;
  }



}









