#wrapper {
  .main {
    .hero-subpageTitle {
      border-radius: 100%;
      width: 200px;
      height: 200px;
      margin-top: -190px!important;
      position:relative;
      z-index:9;
      padding: 0 10px;
      background-color: $color-accent-1;
      .component-content {
        line-height: 1;
        display: table-cell;
        vertical-align: middle;
        height: 200px;
        h2 {
          line-height: 1em;
          padding-top: 65px;
          font-size: 2rem;
          font-weight: bold;
          span {
            display: block;
            &.part-0 { padding-left: 6px}
            &.part-1 { padding-left: 20px}
            &.part-2 { padding-left: 45px}
          }

        }
      }

      &.color-1 {background-color: $color-accent-1;   }
      &.color-2 {background-color: $color-accent-2;   }
      &.color-3 {background-color: $color-accent-3;   }
      &.color-4 {background-color: $color-accent-4;   }
      &.color-5 {background-color: $color-accent-5;   }

      h2, h3, h4 {
        color: $text-light;
        &:nth-child(2) {
          margin-left: 10px;
        }
      }
      @include respond-to(mobile) {
        margin-top: -150px!important;
        margin-left: auto !important;
        margin-right: auto;
        width: 150px;
        height: 150px;
        margin-bottom: 20px;
        .component-content {
          height: 150px;
          h2 {
            padding-top: 30px;
            padding-bottom: 0;
          }
        }
      }
    }
  }
}