.back-button {
  p {
    a {
      text-transform: uppercase;
      color: $color-primary;
      font-weight: bold;
      &:before {
        @include font-awesome($fa-var-th-large);
        margin-right: 5px;
      }
    }
  }
  @include respond-to(mobile) {
    &.grid_3 {
      width: 50%!important;
      float: left!important;
      p {
        padding-bottom: 0;
        line-height: 40px;
      }
    }
  }
}


