/* COLOR NAMES
----------------------------------------- */
/*theme colors*/
/*hard-coded colors*/
/* FUNCTIONAL COLORS
----------------------------------------- */
/*border colors*/
/*text colors*/
/*background colors*/
/*gradient colors*/
/* line 3, ../../sass/components/flash/_flash-base.scss */
.flash {
  text-align: center;
}

/* line 7, ../../sass/components/flash/_flash-base.scss */
.flash object {
  max-width: 100%;
}

/* Flash is not installed */
/* line 12, ../../sass/components/flash/_flash-base.scss */
.flash-missing {
  margin: 0 auto;
}

/* line 16, ../../sass/components/flash/_flash-base.scss */
.flash .seoDescription {
  display: none;
}
