/* COLOR NAMES
----------------------------------------- */
/*theme colors*/
/*hard-coded colors*/
/* FUNCTIONAL COLORS
----------------------------------------- */
/*border colors*/
/*text colors*/
/*background colors*/
/*gradient colors*/
/* line 3, ../../sass/components/searchResults/_searchResults-base.scss */
.searchResults-pagination {
  text-align: center;
  overflow: hidden;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: default;
}

/* line 12, ../../sass/components/searchResults/_searchResults-base.scss */
.searchResults-pagination-list {
  padding: 0;
  margin: 0;
}

/* line 17, ../../sass/components/searchResults/_searchResults-base.scss */
.searchResults-pagination-item {
  display: inline-block;
  line-height: 30px;
  background-color: #eeeeee;
  margin: 1px;
  cursor: default;
  *display: inline;
}

/* line 26, ../../sass/components/searchResults/_searchResults-base.scss */
.searchResults-pagination-item a {
  display: inline-block;
  background-color: #e1e1e1;
  min-width: 30px;
  padding: 0 10px;
  cursor: pointer;
}

/* line 34, ../../sass/components/searchResults/_searchResults-base.scss */
.searchResults-pagination-item a:hover {
  background-color: #ebebeb;
  text-decoration: none;
}

/* line 39, ../../sass/components/searchResults/_searchResults-base.scss */
.searchResults-pagination-item.is-active {
  font-weight: bold;
}

/* line 43, ../../sass/components/searchResults/_searchResults-base.scss */
.searchResults-title {
  display: block;
  color: #323131;
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 10px;
  margin-left: 110px;
}

/* line 48, ../../sass/components/searchResults/_searchResults-base.scss */
.searchResults-term {
  font-style: italic;
}

/* line 52, ../../sass/components/searchResults/_searchResults-base.scss */
.searchResults-number {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: left;
}

/* line 58, ../../sass/components/searchResults/_searchResults-base.scss */
.searchResults-results {
  margin-bottom: 10px;
}

/* line 62, ../../sass/components/searchResults/_searchResults-base.scss */
.searchResults-description,
.searchResults-url {
  margin-left: 110px;
}

/* line 67, ../../sass/components/searchResults/_searchResults-base.scss */
.searchResults-image {
  float: left;
  width: 100px;
  height: 100px;
  margin: 10px 0;
}

/* line 74, ../../sass/components/searchResults/_searchResults-base.scss */
.searchResults-result {
  position: relative;
  overflow: hidden;
  padding: 0 10px 20px 10px;
  background-color: #e1e1e1;
}

/* line 81, ../../sass/components/searchResults/_searchResults-base.scss */
.searchResults-result:nth-child(even) {
  background-color: inherit;
}

/* line 85, ../../sass/components/searchResults/_searchResults-base.scss */
.searchResults-icon-wrapper {
  position: absolute;
  text-align: center;
  width: 70px;
  margin-top: 10px;
  left: 0;
  top: 0;
}

/* line 94, ../../sass/components/searchResults/_searchResults-base.scss */
.searchResults-date {
  margin-bottom: 10px;
  margin-left: 110px;
}

/* line 99, ../../sass/components/searchResults/_searchResults-base.scss */
.searchResults-url {
  margin-top: 10px;
}

/* line 105, ../../sass/components/searchResults/_searchResults-base.scss */
.lt-ie8 .searchResults-pagination-item {
  display: inline;
  zoom: 1;
  margin: 3px;
}
/* line 111, ../../sass/components/searchResults/_searchResults-base.scss */
.lt-ie8 .searchResults-pagination-item a {
  display: block;
  zoom: 1;
}

/* line 118, ../../sass/components/searchResults/_searchResults-base.scss */
.searchResults-tags {
  list-style-type: none;
  padding: 0;
}

/* line 123, ../../sass/components/searchResults/_searchResults-base.scss */
.searchResults-tags-item {
  display: inline-block;
  margin: 0 2px;
}

/* line 128, ../../sass/components/searchResults/_searchResults-base.scss */
.searchResults-tags-item-link {
  background: #b9b8b8;
  color: black;
  border: 1px solid #939191;
  padding: 1px;
  display: block;
  font-size: 0.85em;
}
