@import '../../core/mixins';

.page-home {
  .hero {
    .box {
      .component-content{
        min-height: 350px;
        background-position: top center;
      }
    }
    .component-content {
      margin-bottom: 0 ;
      padding-bottom: 0;
    }
    .carousel {
        border: 0;
        padding:0;
        margin:0;
        background: transparent;
        position: relative;
      .image {
        .component-content {
          line-height: 0;
        }
      }
      .carousel-nav {
        display: none;
        position: absolute;
        bottom: 20px;
        z-index: 9999;
        width: 100vw;
        text-align: center;
        overflow: inherit;
        .carousel-nav-prev,
        .carousel-nav-next {
          top: -275%;
        }
      }

        * {
          text-align: center;
        }

    }


    @include respond-to(small-mobile) {
    }
    @include respond-to(mobile) {
      .box {
        .component-content{
          min-height: 350px;
          background-position: bottom center;
          background-repeat: no-repeat;
          background-size: 850px;
        }
      }
    }
    @include respond-to(tablet) {
    }
    @include respond-to(desktop) {
    }



  }
}


