@import '../../core/mixins';

.carousel {
  border: 0;
  background: $background;
}



.carousel-nav {
  text-align: center;
  margin-top: 20px;
  overflow: hidden;
  padding: 0;
  li {
    display: inline-block;
    margin: 0 3px;
    a {
      display: inline-block;
      border: 0 solid $linkBorderColor;
      border-radius: 50%;
      width: 10px;
      height: 10px;
      font-size: 0;
      color: transparent;
      background: #ddd;
    }
    &.is-active a {
      background: $backgroundHoverColor;
    }

    &.carousel-nav-prev,
    &.carousel-nav-next {
      position: absolute;
      top: 50%;
      border: none;
      width: 40px;
      height: 40px;
      a {
        border: none;
        display: block;
        width: 100%;
        height: 100%;
        background: transparent;
        &:hover:before {
          color: $darkThemeColor;
        }
        &:before {
          background: $background-feature-box;
          right: 0;
          width: 40px;
          height: 40px;
          line-height: 40px;
          color: #fff;
          font-size: 35px;
          border-radius: 50%;
          text-align: center;
        }
      }
    }
  }
}



.carousel-nav-prev {
  left: 10px;
  a:before {
    @include font-awesome($fa-var-chevron-left);
  }


}

.carousel-nav-next {
  right: 10px;
  a:before {
    @include font-awesome($fa-var-chevron-right);
  }
}

.no-js {
  .carousel .carousel-slide:first-child {
    margin-top: 0;
    border-top: none;
  }
  .carousel .carousel-slide {
    position: static;
  }
  .carousel .carousel-nav li {
    display: block;
  }
}

.lt-ie8 {
  .carousel-nav {
  }
  .carousel-nav li {
    display: inline;
    zoom: 1;
  }
  .carousel-nav li.is-active a {
    background: $backgroundHoverColor;
  }
  .carousel-nav .carousel-nav-prev, .carousel-nav .carousel-nav-next {
    width: 19px;
    height: 31px;
    a {
      border: none;
      display: block;
      width: 100%;
      height: 100%;
    }
  }
  .carousel-nav a {
    display: block;
    zoom: 1;
    border: 2px solid $linkBorderColor;
    width: 10px;
    height: 10px;
  }
}

@include respond-to(mobile) {
  .carousel-cover {
    max-width: 100%;
    float: none;
    margin: auto;
    display: block;
  }
  .carousel-content {
    max-width: 100%;
    float: none;
  }
  .carousel-nav {
    li {
      display: none;
    }
    .carousel-nav-prev,
    .carousel-nav-next {
      display: block;
    }

  }
}
