@import '../../core/mixins';

.carousel {
  position: relative;
  @include frame();
  @include filled();
  padding: 15px 60px;
}

.carousel-slides {
  overflow: hidden;
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
}

.carousel-slide {
  clear: both;
  position: absolute;
  width: 100%;
}

.carousel-slide .no-content,
.carousel-slide .no-image {
  text-align: center;
}

.carousel-slide.is-active {
  display: block;
  position: relative;
}

.carousel-cover {
  max-width: 50%;
  height: auto;
  float: right;
}

.carousel-slide .image-and-content {
  overflow: hidden;
}

.carousel-slide .no-content .carousel-cover {
  float: none;
  max-width: 100%;
}

.carousel-slide .no-image .carousel-content {
  float: none;
  max-width: 100%;
}

.carousel-content {
  max-width: 48%;
  float: left;
  text-align: left;
  @include transition-property(margin);
  @include transition-duration(200ms);
  @include transition-timing-function(ease-in);
  width: 100%;
}

.carousel-nav {
  text-align: center;
  margin-top: 20px;
  overflow: hidden;
  padding: 0;
}

.carousel-nav li {
  display: inline-block;
  margin: 0 3px;

}

.carousel-nav a {
  display: inline-block;
  border: 2px solid $linkBorderColor;
  width: 10px;
  height: 10px;
  font-size: 0;
  color: transparent;
}

.carousel-nav li.is-active a {
  background: $backgroundHoverColor;
}

.carousel-nav-prev,
.carousel-nav-next {
  position: absolute;
  top: 50%;
  border: none;
  width: 19px;
  height: 31px;
}

.carousel-nav-prev a,
.carousel-nav-next a {
  border: none;
  display: block;
  width: 100%;
  height: 100%;
}
.carousel-nav li.carousel-nav-next,
.carousel-nav li.carousel-nav-prev {
  a:before {
    @include font-awesome('\f104');
    font-size: 30px;
    color: $themeColor;
  }
  a:hover {
    color: #fff;
    &:before {
      color: #fff!important;
      background: $color-accent-2;
    }
  }

}

.carousel-nav li.carousel-nav-prev {
  left: 10px;
  a:before {
    @include font-awesome('\f104');
  }
}
.carousel-nav li.carousel-nav-next {
  right: 10px;
  a:before {
    @include font-awesome('\f105');
  }
}

.no-js {
  .carousel .carousel-slide:first-child {
    margin-top: 0;
    border-top: none;
  }
  .carousel .carousel-slide {
    position: static;
  }
  .carousel .carousel-nav li {
    display: none;
  }
}

.lt-ie8 {
  .carousel-nav {
  }
  .carousel-nav li {
    display: inline;
    zoom: 1;
  }
  .carousel-nav li.is-active a {
    background: $backgroundHoverColor;
  }
  .carousel-nav .carousel-nav-prev, .carousel-nav .carousel-nav-next {
    width: 19px;
    height: 31px;
    a {
      border: none;
      display: block;
      width: 100%;
      height: 100%;
    }
  }
  .carousel-nav a {
    display: block;
    zoom: 1;
    border: 2px solid $linkBorderColor;
    width: 10px;
    height: 10px;
  }
}

@include respond-to(mobile) {
  .carousel-cover {
    max-width: 100%;
    float: none;
    margin: auto;
    display: block;
  }
  .carousel-content {
    max-width: 100%;
    float: none;
  }
  .carousel-nav {
    li {
      display: none;
    }
    .carousel-nav-prev,
    .carousel-nav-next {
      display: block;
    }

  }
}
