@import '../../core/mixins';

.quotation {

  &.color-1 {
    .carousel-nav {
      li.is-active a {
        background: $color-accent-1;
      }
    }
  }

  &.color-2 {
    .carousel-nav {
      li.is-active a {
        background: $color-accent-2;
      }
    }
  }

  &.color-3 {
    .carousel-nav {
      li.is-active a {
        background: $color-accent-3;
      }
    }
  }

  &.color-4 {
    .carousel-nav {
      li.is-active a {
        background: $color-accent-4;
      }
    }
  }

  &.color-5 {
    .carousel-nav {
      li.is-active a {
        background: $color-accent-5;
      }
    }
  }
}

.box-quotation {


  h4  {
    font-family: "AvantGarde", sans-serif;
    color: #021549;
    font-size: 1.4rem;
    font-weight: 500;
    padding-bottom: 30px;
  }
  em {
    font-size: 1.25rem!important;
    font-weight: 700;
    font-family: "AvantGarde", sans-serif!important;
    color: #021549;
    padding: 0 60px 20px 60px;
    display: inline-block;
  }
  p{
    font-family: "AvantGarde", sans-serif!important;
    color: #021549;
    font-size: 0.9rem!important;
    margin: 0;
    padding: 0;
  }

  &.secondary-bg {
    background: #f6f6f6;
    padding: 25px 0;
  }
  .carousel {
    border: 0;
    padding:0;
    margin:0;
    background: transparent;
    position: relative;
    .carousel-content {
      .content {
        padding: 0 0 0 0;
      }
    }

    .carousel-nav {
      display: block;
      z-index: 9999;
      text-align: center;
      margin: 0;
    }

    * {
      text-align: center;
    }
  }
  @include respond-to(mobile) {
    h4  {
      line-height: 1.3;
    }
    em {
      line-height: 1.3;
      padding: 0 20px 20px 10px;
    }
    .carousel-nav {
      li {
        display: inline-block;
      }
      .carousel-nav-next,
      .carousel-nav-prev { display: none;}
    }
  }

  @include respond-to(tablet) {
    .carousel-nav {
      .carousel-nav-next,
      .carousel-nav-prev { display: none;}
    }
    &.secondary-bg {
      padding: 25px;
    }
  }
}


