@import '../../core/mixins';
.undetectable-slider {
    .carousel {
      padding: 0 40px;
      margin: 0;
        .carousel-nav {
          position: absolute;
          height: 50px;
          width: 100%;
          left: 0;
          margin: 0;
          padding: 0;
          overflow: initial;
          li.carousel-nav-prev,
          li.carousel-nav-next {
            top: -150px;
          }
          li {
            &.is-active {
              a {
                background: $color-accent-4;
              }
            }
          }
        }

      @include respond-to(mobile){
        .carousel-nav {
          li {
            display: inline-block;
          }
          li.carousel-nav-prev,
          li.carousel-nav-next {
            top: 50px;
            display: none;
          }
        }
      }

      }
}



