@charset "UTF-8";
/* COLOR NAMES
----------------------------------------- */
/*theme colors*/
/*hard-coded colors*/
/* FUNCTIONAL COLORS
----------------------------------------- */
/*border colors*/
/*text colors*/
/*background colors*/
/*gradient colors*/
.accordion-container { border: solid 2px #323131; list-style: none; padding: 0; margin: 0; }

.accordion-head { display: block; color: #323131; font-size: 1.2rem; font-weight: 600; padding-bottom: 10px; background-color: #e1e1e1; padding: 13px; margin: 0; color: #939191; border-top: 2px solid black; }

.accordion-slide:first-child .accordion-head { border-top: 0; }

.accordion-title { padding: 13px; margin: 0; }

/*
.accordion-slide:last-child:not(.is-active) > .accordion-head,
.accordion-slide:last-child > .accordion-content {
    border-bottom: none;
}*/
.accordion-content { padding: 13px; }

.accordion-content-wrapper { border-left: 0; border-right: 0; border-top: 0; }

.mod-js .accordion-slide.is-active > .accordion-head { color: black; }

.mod-js .accordion-content-wrapper { display: none; }

.mod-js .accordion-slide.is-active:last-child > .accordion-content-wrapper { border-bottom: none; }

.mod-js .accordion-head { cursor: pointer; margin-bottom: 0; position: relative; }

.mod-js .accordion-head:after { content: ""; display: inline-block; font-family: FontAwesome; font-style: normal; position: relative; font-weight: normal; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; position: relative; top: 8px; font-size: 12px; float: right; }

.mod-js .accordion-head.is-active { cursor: default; }

.mod-js .accordion-head.is-active:after { content: ""; display: inline-block; font-family: FontAwesome; font-style: normal; position: relative; font-weight: normal; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; position: relative; top: 8px; font-size: 12px; float: right; }

/* COLOR NAMES
----------------------------------------- */
/*theme colors*/
/*hard-coded colors*/
/* FUNCTIONAL COLORS
----------------------------------------- */
/*border colors*/
/*text colors*/
/*background colors*/
/*gradient colors*/
.accordion-container { border: 0; list-style: none; padding: 40px 0 0 0; margin: 0; }

.accordion-container .accordion-slide { counter-increment: listItem; position: relative; background: #f9f9f9; margin-bottom: 20px; border-left: 4.5rem solid #f8c91a; }

.accordion-container .accordion-slide a { color: #021549; }

.accordion-container .accordion-slide:before { content: counter(listItem); position: absolute; width: 2.5rem; height: 2.5rem; line-height: 2.5rem; text-align: center; top: 1rem; left: -3.5rem; background: #fff; border-radius: 50%; font-weight: 500; font-size: 1.3rem; }

.accordion-container .accordion-slide .accordion-content { padding: 0 15px; }

.accordion-container .accordion-slide .accordion-content p { margin-top: 0; font-size: .9rem; font-weight: 500; }

@media only screen and (min-width: 768px) and (max-width: 989px) { .accordion-container .accordion-slide:before { top: 0.6rem; } }

.accordion-head { background: transparent; border: 0; margin: 0; color: #021549; padding: 1.2rem 1rem; font-weight: 600; }

.accordion-slide:first-child .accordion-head { border-top: 0; }

.accordion-title { padding: 13px; margin: 0; }

.accordion-content-wrapper { border-left: 0; border-right: 0; border-top: 0; }

.mod-js .accordion-slide.is-active > .accordion-head { color: black; }

.mod-js .accordion-slide.is-active:last-child > .accordion-content-wrapper { border-bottom: none; }

.mod-js .accordion-head { cursor: pointer; margin-bottom: 0; position: relative; }

.mod-js .accordion-head:after { content: ""; display: inline-block; font-family: FontAwesome; font-style: normal; position: relative; font-weight: normal; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; position: relative; top: 8px; font-size: 0.9rem; float: right; }

.mod-js .accordion-head.is-active { cursor: default; }

.mod-js .accordion-head.is-active:after { content: ""; display: inline-block; font-family: FontAwesome; font-style: normal; position: relative; font-weight: normal; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; position: relative; top: 8px; font-size: 0.9rem; float: right; }
