@charset "UTF-8";
/* COLOR NAMES
----------------------------------------- */
/*theme colors*/
/*hard-coded colors*/
/* FUNCTIONAL COLORS
----------------------------------------- */
/*border colors*/
/*text colors*/
/*background colors*/
/*gradient colors*/
/* COLOR NAMES
----------------------------------------- */
/*theme colors*/
/*hard-coded colors*/
/* FUNCTIONAL COLORS
----------------------------------------- */
/*border colors*/
/*text colors*/
/*background colors*/
/*gradient colors*/
/* COLOR NAMES
----------------------------------------- */
/*theme colors*/
/*hard-coded colors*/
/* FUNCTIONAL COLORS
----------------------------------------- */
/*border colors*/
/*text colors*/
/*background colors*/
/*gradient colors*/
.box.left-content { margin-top: 60px; }

@media only screen and (max-width: 767px) { .box.left-content { margin-top: 10px; } }

.box-outlined .component-content { border: solid 2px #323131; padding: 13px; background-color: #e1e1e1; }

.box-heading { display: block; color: #323131; font-size: 1.2rem; font-weight: 600; padding-bottom: 10px; position: absolute; }

.box-more { display: block; text-align: right; }

/*#### ABOUT PP ####*/
.snippetReference .person .person-one .feature-box { display: none; }

.snippetReference .person .person-two .feature-box { display: none; }

.box.person-one { margin: 30px 0 !important; background-image: none; }

@media only screen and (max-width: 767px) { .box.person-one { min-height: 350px; padding: 10px 0; text-align: left; } }

.box.person-one .richText-content { padding: 40px 0; }

@media only screen and (max-width: 767px) { .box.person-one .richText-content { padding: 10px 0; } }

.box.person-one .richText-content p { font-size: 1.1rem; }

.box.person-one .richText-content ul { font-size: 1.1rem; color: #021549; padding-right: 15px; }

@media only screen and (max-width: 767px) { .box.person-one .richText-content { padding: 10px 0; }
  .box.person-one .richText-content p, .box.person-one .richText-content ul { font-size: 1rem; } }

.box.person-two { margin: 30px 0 !important; background-image: none; }

@media only screen and (max-width: 767px) { .box.person-two { margin: 10px 0 20px 0 !important; min-height: 350px; text-align: left; } }

.box.person-two .richText-content { padding: 40px 0; }

@media only screen and (max-width: 767px) { .box.person-two .richText-content { padding: 10px 0; } }

.box.person-two .richText-content p { font-size: 1.1rem; text-align: left; }

.box.person-two .richText-content ul { font-size: 1.1rem; color: #021549; padding-right: 15px; text-align: left; }

@media only screen and (max-width: 767px) { .box.person-two .richText-content { padding: 10px 0; }
  .box.person-two .richText-content p, .box.person-two .richText-content ul { font-size: 1rem; } }

.box.person-one .html_component__video, .box.person-two .html_component__video { padding: 20px 0; }

.box.person-one .html_component__video iframe, .box.person-two .html_component__video iframe { height: 250px; min-height: 250px; }

.box.person-one .richText-content, .box.person-two .richText-content { padding: 20px 0; }

.box.person-one .richText-content ul li, .box.person-two .richText-content ul li { font-size: 1rem; }

.box.person-one .richText-content p, .box.person-two .richText-content p { font-size: 1rem; }

.primary-bg { background-color: #12919f; color: #ffffff; }

.primary-bg .richText { margin-bottom: 0; }

/* COLOR NAMES
----------------------------------------- */
/*theme colors*/
/*hard-coded colors*/
/* FUNCTIONAL COLORS
----------------------------------------- */
/*border colors*/
/*text colors*/
/*background colors*/
/*gradient colors*/
.secondary-bg { background-color: #d7e4e4; }

.secondary-bg .richText { margin-bottom: 0; }

.secondary-bg h1, .secondary-bg h2, .secondary-bg h3, .secondary-bg h4, .secondary-bg p { color: #1e6575; }

.bg_white { background: white; }

.primary-darker-bg { background-color: #10818e; }

.primary-darker-bg .richText { margin-bottom: 0; }

.primary-darker-bg .richText p, .primary-darker-bg .richText h1, .primary-darker-bg .richText h2, .primary-darker-bg .richText h3, .primary-darker-bg .richText h4 { color: #ffffff; }

.hero { position: relative; overflow: hidden; padding-bottom: 50px; }

.hero .box-heading { position: absolute; top: 0; right: 40px; color: #fff; display: inline-block; padding: 5px 15px; font-size: 11px; font-weight: normal; z-index: 999; }

.hero .box-heading:before { padding: 0 10px 0 0; content: ""; display: inline-block; font-family: FontAwesome; font-style: normal; position: relative; font-weight: normal; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.hero .box-heading:after { content: ''; border-top: 26px solid rgba(255, 255, 255, 0.3); border-left: 10px solid transparent; border-right: 10px solid transparent; height: 0; width: 445px; position: absolute; top: 0; right: -5px; }

.hero > .component-content { background-position: center 300px; padding-bottom: 0; background-size: 83%; background-repeat: no-repeat; min-height: 580px; border-radius: 0 0 100% 100%; margin-top: -300px; margin-left: -200px; margin-right: -200px; box-shadow: 22px 7px 0 #e2001d; }

@media only screen and (min-width: 768px) and (max-width: 989px) { .hero > .component-content { min-height: 480px; } }

.hero > .component-content .content { max-width: 960px; margin: 0 auto; }

@media only screen and (max-width: 767px) { .hero > .component-content { background-position: center 300px; padding-bottom: 0; background-size: 83%; background-repeat: no-repeat; min-height: 480px; border-radius: 0 0 100% 100%; margin-top: -300px; margin-left: -600px; margin-right: -600px; } }

.hero.color-1 > .component-content { box-shadow: 22px 7px 0 #e2001d; }

.hero.color-2 > .component-content { box-shadow: 22px 7px 0 #1e6575; }

.hero.color-3 > .component-content { box-shadow: 22px 7px 0 #02c1c1; }

.hero.color-4 > .component-content { box-shadow: 22px 7px 0 #f8c91a; }

.hero.color-5 > .component-content { box-shadow: 22px 7px 0 #51a045; }

@media only screen and (min-width: 768px) and (max-width: 989px) { .hero .grid_9 { width: 100% !important; padding: 0 4%; } }

/*###### HOMEPAGE BANNER *#######*/
.page-home .hero > .component-content { overflow: hidden; position: relative; z-index: 9; background-position: center 300px; padding-bottom: 0; background-size: 68%; background-repeat: no-repeat; min-height: 30px; padding-top: 300px; border-radius: 0 0 100% 100%; margin-top: -300px; margin-left: -500px; margin-right: -500px; box-shadow: 22px 7px 0 #e2001d; }

.page-home .hero > .component-content .content { max-width: 100%; width: 100vw; overflow: hidden; }

@media only screen and (max-width: 767px) { .page-home .hero > .component-content { padding-top: 100px; background-position: bottom center; background-size: 250%; background-repeat: no-repeat; margin-top: -300px; margin-left: -800px; margin-right: -800px; }
  .page-home .hero > .component-content > .content { max-width: 100vw; } }

@media only screen and (min-width: 768px) and (max-width: 989px) { .page-home .hero > .component-content { padding-top: 280px; background-position: bottom center; background-size: 250%; background-repeat: no-repeat; margin-top: -300px; margin-left: -800px; margin-right: -800px; }
  .page-home .hero > .component-content > .content { max-width: 100vw; } }

@media only screen and (min-width: 990px) { .page-home .hero > .component-content { background-position: bottom center; background-size: 250%; background-repeat: no-repeat; margin-top: -300px; margin-left: -800px; margin-right: -800px; } }

.box-960 .component-content { background-size: cover; background-position: bottom center; background-repeat: no-repeat; }

.box-960 .component-content .content { max-width: 920px; margin: 0 auto; padding: 15px 0; position: relative; }

.box-960 .component-content .content .tiles { margin-bottom: 0; }

.box-960.last { margin-bottom: 0; }

@media only screen and (max-width: 767px) { .box-960 > .component-content { background-image: none; }
  .box-960 > .component-content > .content { text-align: left; padding: 0 10px; } }

@media only screen and (min-width: 768px) and (max-width: 989px) { .box-960 .component-content { background-image: none; }
  .box-960 .component-content .content { text-align: left; line-height: 1.3em; margin-bottom: 0; } }

.tiles { padding: 0; }

.tiles .component-content .content { padding: 0; }

.tiles .component-content .content .image { min-height: 380px; }

.tiles .component-content .content .image figcaption h4 { min-height: 50px; font-size: 1.1rem; padding: 0; }

@media only screen and (max-width: 420px) { .tiles { padding: 0; }
  .tiles .component-content .content .image { min-height: 420px; float: left; }
  .tiles .component-content .content .image.grid_3 { margin: 2% !important; width: 46% !important; }
  .tiles .component-content .content .image figcaption h4 { min-height: 60px; }
  .tiles .component-content .content .image figcaption p { line-height: 1.3; } }

.feature-box { background-color: #dddddd; background-image: url(../../assets/img/bg_hiv_sheets.png); background-repeat: no-repeat; background-position: right; padding: 15px; margin-bottom: 20px; position: relative; overflow: hidden; }

.feature-box.new:after { content: 'NEW'; width: 100px; position: absolute; padding: 30px 0 5px 0; top: -15px; left: -37px; font-size: 13px; background: #f8c91a; text-align: center; -ms-transform: rotate(-45deg); -webkit-transform: rotate(-45deg); transform: rotate(-45deg); }

.feature-box .richText .richText-content { display: table-cell; height: 100px; vertical-align: middle; }

.feature-box .richText p { padding: 0; margin: 0; font-size: 13px; }

.feature-box .richText h3 { font-weight: bold; margin: 0; padding: 0; background: transparent; font-size: 1.2em; }

.feature-box .richText h3:before { display: none; }

.feature-box img { padding-top: 0; }

@media only screen and (max-width: 767px) { .feature-box .component-content.left { text-align: center; } }

@media only screen and (min-width: 768px) and (max-width: 989px) { .feature-box .component-content.left { text-align: center; } }

@media only screen and (max-width: 767px) { .feature-box .richText .richText-content { display: block; height: initial; vertical-align: middle; }
  .feature-box .richText p { width: 100%; }
  .feature-box .richText h3 { font-weight: bold; margin: 0; padding: 0; background: transparent; font-size: 1.2em; }
  .feature-box .richText h3:before { display: none; } }

.indent-shadow { position: relative; -webkit-box-shadow: inset 0 5px 10px 0 #a5a5a5; box-shadow: inset 0 5px 10px 0 #a5a5a5; min-height: 300px; overflow: inherit; }

.indent-shadow:after { position: absolute; content: ''; border-style: solid; border-width: 15px 19px 0; border-color: #fff transparent; display: block; width: 0; z-index: 1; left: 91px; top: -2px; }

.indent-shadow.person-one:after { left: 50%; margin-left: -300px; }

.indent-shadow.person-two:after { left: 50%; margin-left: 200px; }

/* COLOR NAMES
----------------------------------------- */
/*theme colors*/
/*hard-coded colors*/
/* FUNCTIONAL COLORS
----------------------------------------- */
/*border colors*/
/*text colors*/
/*background colors*/
/*gradient colors*/
.movie-story-box-container, .movie-story-box-container-1 { position: relative; }

.movie-story-box-container .close, .movie-story-box-container-1 .close { display: none; position: absolute; top: 20px; right: 20px; cursor: pointer; font-size: 1.2rem; }

.movie-story-box-container .close:before, .movie-story-box-container-1 .close:before { content: ""; display: inline-block; font-family: FontAwesome; font-style: normal; position: relative; font-weight: normal; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.movie-story-box-container .close:hover, .movie-story-box-container-1 .close:hover { color: red; }

.box-story, .box-movie { color: #021549; position: relative; opacity: 1; cursor: pointer; }

.box-story figure, .box-movie figure { position: relative; border: 1px solid #e9e9e9; }

.box-story figure:before, .box-story figure:after, .box-movie figure:before, .box-movie figure:after { content: ''; position: absolute; top: 100px; left: 50%; }

.box-story figure:after, .box-movie figure:after { margin-top: -1.7rem; margin-left: -2rem; width: 4rem; height: 4rem; border: 3px solid #fff; border-radius: 50%; z-index: 9; }

.box-story figure:before, .box-movie figure:before { margin-top: -11px; margin-left: -7px; z-index: 10; width: 0; height: 0; border-top: 16px solid transparent; border-bottom: 16px solid transparent; border-left: 25px solid #ffffff; }

.box-story figcaption, .box-movie figcaption { min-height: 130px; position: relative; border: 0; padding: 1px 15px 0 15px; }

.box-story figcaption:before, .box-movie figcaption:before { content: ''; }

.box-story figcaption p, .box-movie figcaption p { min-height: 80px; font-weight: 500; font-size: 0.9rem; }

.box-story figcaption h4, .box-movie figcaption h4 { height: 50px; width: 100%; font-size: 0.9rem; font-weight: 600; line-height: 1.3; color: #FFF; text-align: left; margin: 0; position: absolute; bottom: 0; left: 0; right: 0; }

.box-story figcaption h4 span, .box-movie figcaption h4 span { height: 50px; display: table-cell; vertical-align: middle; padding: 3px 10px; }

.box-story:hover, .box-movie:hover { opacity: 1; }

.box-story.non-active, .box-movie.non-active { opacity: 0.5; }

.box-story.active, .box-movie.active { opacity: 1; }

.box-story.active:after, .box-movie.active:after { content: ""; width: 0; height: 0; border-style: solid; border-width: 15px 18px 0 18px; border-color: #fff transparent transparent transparent; position: absolute; z-index: 1; left: 50%; margin-left: -18px; bottom: -15px; }

@media only screen and (max-width: 767px) { .box-story figure, .box-movie figure { line-height: 0; }
  .box-story figure:before, .box-story figure:after, .box-movie figure:before, .box-movie figure:after { top: 40%; left: 25%; }
  .box-story figure:after, .box-movie figure:after { margin-top: -12px; margin-left: -12px; width: 35px; height: 35px; border: 2px solid #fff; }
  .box-story figure:before, .box-movie figure:before { margin-top: -2px; margin-left: 1px; border-top: 8px solid transparent; border-bottom: 8px solid transparent; border-left: 12px solid #ffffff; }
  .box-story img, .box-movie img { width: 50%; }
  .box-story figcaption, .box-movie figcaption { width: 50%; padding: 10px; float: right; min-height: initial; }
  .box-story figcaption p, .box-movie figcaption p { min-height: initial; height: initial; padding: initial; line-height: 1.1; }
  .box-story figcaption h4, .box-movie figcaption h4 { background: transparent !important; position: relative; bottom: initial; left: initial; right: initial; height: initial; line-height: 1.1; color: #021549; padding: 5px 0 0 0; }
  .box-story figcaption h4 span, .box-movie figcaption h4 span { background: transparent !important; position: relative; bottom: initial; left: initial; right: initial; height: initial; display: block; padding: 0; color: #021549; } }

.box-movie figcaption { border-top: 10px solid #1e6575; min-height: 100px; font-size: 0.9rem; top: -10px; }

.box-movie figcaption p { min-height: initial; padding: 10px 0 5px; }

.box-movie figcaption p strong { color: #02c1c1; margin: 0; }

@media only screen and (max-width: 767px) { .box-movie figcaption { border: 0; min-height: initial; top: initial; }
  .box-movie figcaption p { padding: 0 0 5px 0; } }

.box-hidden { display: none; padding: 50px 0 40px; margin: -15px 0 0 0; }

.box-hidden .html_component__video iframe { min-height: 260px; }

.box-hidden .richText h3 { background: none; padding: 0; margin-bottom: 0; }

.box-hidden .button { display: inline-block; margin-top: 20px; margin-bottom: 0; background-color: #12919f; color: #ffffff; font-weight: 400; font-size: 0.9rem; padding: 8px 30px; border-radius: 30px; -webkit-box-shadow: 0 6px 24px -3px rgba(0, 0, 0, 0.39); -moz-box-shadow: 0 6px 24px -3px rgba(0, 0, 0, 0.39); box-shadow: 0 6px 24px -3px rgba(0, 0, 0, 0.39); transition: 0.6s; }

@media only screen and (max-width: 767px) { .box-hidden { margin-top: 10px; margin-bottom: 10px; padding: 10px; background: #dddddd; padding-left: 100%; margin-left: -100%; padding-right: 100%; margin-right: -100%; -webkit-box-shadow: inset 0 5px 10px 0 #a5a5a5; box-shadow: inset 0 5px 10px 0 #a5a5a5; } }

#movie-story-box, #movie-story-box-1 { background: #dddddd; padding-left: 100%; margin-left: -100%; padding-right: 100%; margin-right: -100%; -webkit-box-shadow: inset 0 5px 10px 0 #a5a5a5; box-shadow: inset 0 5px 10px 0 #a5a5a5; }

#movie-story-box .box-hidden, #movie-story-box-1 .box-hidden { display: block !important; }

.box.color-1 .box-story figure figcaption h4 { background: #e2001d; }

@media only screen and (max-width: 767px) { .box.color-1 .box-story figure { border-bottom: 4px solid #e2001d; } }

.box.color-2 .box-story figure figcaption h4 { background: #1e6575; }

@media only screen and (max-width: 767px) { .box.color-2 .box-story figure { border-bottom: 4px solid #1e6575; } }

.box.color-3 .box-story figure figcaption h4 { background: #02c1c1; }

@media only screen and (max-width: 767px) { .box.color-3 .box-story figure { border-bottom: 4px solid #02c1c1; } }

.box.color-4 .box-story figure figcaption h4 { background: #f8c91a; }

@media only screen and (max-width: 767px) { .box.color-4 .box-story figure { border-bottom: 4px solid #f8c91a; } }

.box.color-5 .box-story figure figcaption h4 { background: #51a045; }

@media only screen and (max-width: 767px) { .box.color-5 .box-story figure { border-bottom: 4px solid #51a045; } }

.box.left-content { font-size: 1rem; }

.box.left-content p { font-weight: 500; font-size: 1rem; }

.box.left-content.color-5 ul li { list-style: none; padding-bottom: 10px; }

.box.left-content.color-5 ul li:before { content: ''; width: 15px; height: 15px; background: #51a045; display: inline-block; border-radius: 50%; margin: 0 25px 0 -40px; }
