@charset "UTF-8";
/* COLOR NAMES
----------------------------------------- */
/*theme colors*/
/*hard-coded colors*/
/* FUNCTIONAL COLORS
----------------------------------------- */
/*border colors*/
/*text colors*/
/*background colors*/
/*gradient colors*/
/* COLOR NAMES
----------------------------------------- */
/*theme colors*/
/*hard-coded colors*/
/* FUNCTIONAL COLORS
----------------------------------------- */
/*border colors*/
/*text colors*/
/*background colors*/
/*gradient colors*/
.breadcrumbs { margin: 10px 0; }

.breadcrumbs .first { font-size: .1px; color: transparent; }

.breadcrumbs .first a:before { color: #12919f; font-size: 1.2rem; margin-top: -2px; content: ""; display: inline-block; font-family: FontAwesome; font-style: normal; position: relative; font-weight: normal; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.breadcrumbs-list { overflow: hidden; margin: 0; padding: 0; list-style: none; }

.breadcrumbs-list li { float: left; margin-right: 6px; }

.breadcrumbs-separator { margin: 0 10px; }

.breadcrumbs-without-separator .breadcrumbs-separator { display: none; }

.breadcrumbs-without-separator li { padding-right: 15px; margin-right: 9px; position: relative; }

.breadcrumbs-without-separator li:before { content: ""; display: inline-block; font-family: FontAwesome; font-style: normal; position: relative; font-weight: normal; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; position: absolute; top: 5px; right: 0; font-size: 8px; color: #323131; }

.breadcrumbs-without-separator li:last-child { background-image: none; }

.breadcrumbs-without-separator li:last-child:before { display: none; }

@media only screen and (max-width: 767px) { .breadcrumbs-list { display: none; } }
