@charset "UTF-8";
/* COLOR NAMES
----------------------------------------- */
/*theme colors*/
/*hard-coded colors*/
/* FUNCTIONAL COLORS
----------------------------------------- */
/*border colors*/
/*text colors*/
/*background colors*/
/*gradient colors*/
.carousel { position: relative; border: solid 2px #323131; background-color: #e1e1e1; padding: 15px 60px; }

.carousel-slides { overflow: hidden; margin: 0; padding: 0; list-style: none; position: relative; }

.carousel-slide { clear: both; position: absolute; width: 100%; }

.carousel-slide .no-content, .carousel-slide .no-image { text-align: center; }

.carousel-slide.is-active { display: block; position: relative; }

.carousel-cover { max-width: 50%; height: auto; float: right; }

.carousel-slide .image-and-content { overflow: hidden; }

.carousel-slide .no-content .carousel-cover { float: none; max-width: 100%; }

.carousel-slide .no-image .carousel-content { float: none; max-width: 100%; }

.carousel-content { max-width: 48%; float: left; text-align: left; -webkit-transition-property: margin; -moz-transition-property: margin; -o-transition-property: margin; transition-property: margin; -webkit-transition-duration: 200ms; -moz-transition-duration: 200ms; -o-transition-duration: 200ms; transition-duration: 200ms; -webkit-transition-timing-function: ease-in; -moz-transition-timing-function: ease-in; -o-transition-timing-function: ease-in; transition-timing-function: ease-in; width: 100%; }

.carousel-nav { text-align: center; margin-top: 20px; overflow: hidden; padding: 0; }

.carousel-nav li { display: inline-block; margin: 0 3px; }

.carousel-nav a { display: inline-block; border: 2px solid #656363; width: 10px; height: 10px; font-size: 0; color: transparent; }

.carousel-nav li.is-active a { background: #939191; }

.carousel-nav-prev, .carousel-nav-next { position: absolute; top: 50%; border: none; width: 19px; height: 31px; }

.carousel-nav-prev a, .carousel-nav-next a { border: none; display: block; width: 100%; height: 100%; }

.carousel-nav li.carousel-nav-next a:before, .carousel-nav li.carousel-nav-prev a:before { content: ""; display: inline-block; font-family: FontAwesome; font-style: normal; position: relative; font-weight: normal; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; font-size: 30px; color: #939191; }

.carousel-nav li.carousel-nav-next a:hover, .carousel-nav li.carousel-nav-prev a:hover { color: #fff; }

.carousel-nav li.carousel-nav-next a:hover:before, .carousel-nav li.carousel-nav-prev a:hover:before { color: #fff !important; background: #1e6575; }

.carousel-nav li.carousel-nav-prev { left: 10px; }

.carousel-nav li.carousel-nav-prev a:before { content: ""; display: inline-block; font-family: FontAwesome; font-style: normal; position: relative; font-weight: normal; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.carousel-nav li.carousel-nav-next { right: 10px; }

.carousel-nav li.carousel-nav-next a:before { content: ""; display: inline-block; font-family: FontAwesome; font-style: normal; position: relative; font-weight: normal; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.no-js .carousel .carousel-slide:first-child { margin-top: 0; border-top: none; }

.no-js .carousel .carousel-slide { position: static; }

.no-js .carousel .carousel-nav li { display: none; }

.lt-ie8 .carousel-nav li { display: inline; zoom: 1; }

.lt-ie8 .carousel-nav li.is-active a { background: #939191; }

.lt-ie8 .carousel-nav .carousel-nav-prev, .lt-ie8 .carousel-nav .carousel-nav-next { width: 19px; height: 31px; }

.lt-ie8 .carousel-nav .carousel-nav-prev a, .lt-ie8 .carousel-nav .carousel-nav-next a { border: none; display: block; width: 100%; height: 100%; }

.lt-ie8 .carousel-nav a { display: block; zoom: 1; border: 2px solid #656363; width: 10px; height: 10px; }

@media only screen and (max-width: 767px) { .carousel-cover { max-width: 100%; float: none; margin: auto; display: block; }
  .carousel-content { max-width: 100%; float: none; }
  .carousel-nav li { display: none; }
  .carousel-nav .carousel-nav-prev, .carousel-nav .carousel-nav-next { display: block; } }

/* COLOR NAMES
----------------------------------------- */
/*theme colors*/
/*hard-coded colors*/
/* FUNCTIONAL COLORS
----------------------------------------- */
/*border colors*/
/*text colors*/
/*background colors*/
/*gradient colors*/
.carousel { border: 0; background: #f9f9f9; }

.carousel-nav { text-align: center; margin-top: 20px; overflow: hidden; padding: 0; }

.carousel-nav li { display: inline-block; margin: 0 3px; }

.carousel-nav li a { display: inline-block; border: 0 solid #656363; border-radius: 50%; width: 10px; height: 10px; font-size: 0; color: transparent; background: #ddd; }

.carousel-nav li.is-active a { background: #939191; }

.carousel-nav li.carousel-nav-prev, .carousel-nav li.carousel-nav-next { position: absolute; top: 50%; border: none; width: 40px; height: 40px; }

.carousel-nav li.carousel-nav-prev a, .carousel-nav li.carousel-nav-next a { border: none; display: block; width: 100%; height: 100%; background: transparent; }

.carousel-nav li.carousel-nav-prev a:hover:before, .carousel-nav li.carousel-nav-next a:hover:before { color: #323131; }

.carousel-nav li.carousel-nav-prev a:before, .carousel-nav li.carousel-nav-next a:before { background: #dddddd; right: 0; width: 40px; height: 40px; line-height: 40px; color: #fff; font-size: 35px; border-radius: 50%; text-align: center; }

.carousel-nav-prev { left: 10px; }

.carousel-nav-prev a:before { content: ""; display: inline-block; font-family: FontAwesome; font-style: normal; position: relative; font-weight: normal; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.carousel-nav-next { right: 10px; }

.carousel-nav-next a:before { content: ""; display: inline-block; font-family: FontAwesome; font-style: normal; position: relative; font-weight: normal; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.no-js .carousel .carousel-slide:first-child { margin-top: 0; border-top: none; }

.no-js .carousel .carousel-slide { position: static; }

.no-js .carousel .carousel-nav li { display: block; }

.lt-ie8 .carousel-nav li { display: inline; zoom: 1; }

.lt-ie8 .carousel-nav li.is-active a { background: #939191; }

.lt-ie8 .carousel-nav .carousel-nav-prev, .lt-ie8 .carousel-nav .carousel-nav-next { width: 19px; height: 31px; }

.lt-ie8 .carousel-nav .carousel-nav-prev a, .lt-ie8 .carousel-nav .carousel-nav-next a { border: none; display: block; width: 100%; height: 100%; }

.lt-ie8 .carousel-nav a { display: block; zoom: 1; border: 2px solid #656363; width: 10px; height: 10px; }

@media only screen and (max-width: 767px) { .carousel-cover { max-width: 100%; float: none; margin: auto; display: block; }
  .carousel-content { max-width: 100%; float: none; }
  .carousel-nav li { display: none; }
  .carousel-nav .carousel-nav-prev, .carousel-nav .carousel-nav-next { display: block; } }

/* COLOR NAMES
----------------------------------------- */
/*theme colors*/
/*hard-coded colors*/
/* FUNCTIONAL COLORS
----------------------------------------- */
/*border colors*/
/*text colors*/
/*background colors*/
/*gradient colors*/
.page-home .hero .box .component-content { min-height: 350px; background-position: top center; }

.page-home .hero .component-content { margin-bottom: 0; padding-bottom: 0; }

.page-home .hero .carousel { border: 0; padding: 0; margin: 0; background: transparent; position: relative; }

.page-home .hero .carousel .image .component-content { line-height: 0; }

.page-home .hero .carousel .carousel-nav { display: none; position: absolute; bottom: 20px; z-index: 9999; width: 100vw; text-align: center; overflow: inherit; }

.page-home .hero .carousel .carousel-nav .carousel-nav-prev, .page-home .hero .carousel .carousel-nav .carousel-nav-next { top: -275%; }

.page-home .hero .carousel * { text-align: center; }

@media only screen and (max-width: 767px) { .page-home .hero .box .component-content { min-height: 350px; background-position: bottom center; background-repeat: no-repeat; background-size: 850px; } }

/* COLOR NAMES
----------------------------------------- */
/*theme colors*/
/*hard-coded colors*/
/* FUNCTIONAL COLORS
----------------------------------------- */
/*border colors*/
/*text colors*/
/*background colors*/
/*gradient colors*/
.quotation.color-1 .carousel-nav li.is-active a { background: #e2001d; }

.quotation.color-2 .carousel-nav li.is-active a { background: #1e6575; }

.quotation.color-3 .carousel-nav li.is-active a { background: #02c1c1; }

.quotation.color-4 .carousel-nav li.is-active a { background: #f8c91a; }

.quotation.color-5 .carousel-nav li.is-active a { background: #51a045; }

.box-quotation h4 { font-family: "AvantGarde", sans-serif; color: #021549; font-size: 1.4rem; font-weight: 500; padding-bottom: 30px; }

.box-quotation em { font-size: 1.25rem !important; font-weight: 700; font-family: "AvantGarde", sans-serif !important; color: #021549; padding: 0 60px 20px 60px; display: inline-block; }

.box-quotation p { font-family: "AvantGarde", sans-serif !important; color: #021549; font-size: 0.9rem !important; margin: 0; padding: 0; }

.box-quotation.secondary-bg { background: #f6f6f6; padding: 25px 0; }

.box-quotation .carousel { border: 0; padding: 0; margin: 0; background: transparent; position: relative; }

.box-quotation .carousel .carousel-content .content { padding: 0 0 0 0; }

.box-quotation .carousel .carousel-nav { display: block; z-index: 9999; text-align: center; margin: 0; }

.box-quotation .carousel * { text-align: center; }

@media only screen and (max-width: 767px) { .box-quotation h4 { line-height: 1.3; }
  .box-quotation em { line-height: 1.3; padding: 0 20px 20px 10px; }
  .box-quotation .carousel-nav li { display: inline-block; }
  .box-quotation .carousel-nav .carousel-nav-next, .box-quotation .carousel-nav .carousel-nav-prev { display: none; } }

@media only screen and (min-width: 768px) and (max-width: 989px) { .box-quotation .carousel-nav .carousel-nav-next, .box-quotation .carousel-nav .carousel-nav-prev { display: none; }
  .box-quotation.secondary-bg { padding: 25px; } }

/* COLOR NAMES
----------------------------------------- */
/*theme colors*/
/*hard-coded colors*/
/* FUNCTIONAL COLORS
----------------------------------------- */
/*border colors*/
/*text colors*/
/*background colors*/
/*gradient colors*/
.undetectable-slider .carousel { padding: 0 40px; margin: 0; }

.undetectable-slider .carousel .carousel-nav { position: absolute; height: 50px; width: 100%; left: 0; margin: 0; padding: 0; overflow: initial; }

.undetectable-slider .carousel .carousel-nav li.carousel-nav-prev, .undetectable-slider .carousel .carousel-nav li.carousel-nav-next { top: -150px; }

.undetectable-slider .carousel .carousel-nav li.is-active a { background: #f8c91a; }

@media only screen and (max-width: 767px) { .undetectable-slider .carousel .carousel-nav li { display: inline-block; }
  .undetectable-slider .carousel .carousel-nav li.carousel-nav-prev, .undetectable-slider .carousel .carousel-nav li.carousel-nav-next { top: 50px; display: none; } }
