/* COLOR NAMES
----------------------------------------- */
/*theme colors*/
/*hard-coded colors*/
/* FUNCTIONAL COLORS
----------------------------------------- */
/*border colors*/
/*text colors*/
/*background colors*/
/*gradient colors*/
.divider { background: #e2001d; height: 2px; background-size: 25% 100%; margin: 2% 0; }

.divider.color-1 { background: #e2001d; }

.divider.color-2 { background: #1e6575; }

.divider.color-3 { background: #02c1c1; }

.divider.color-4 { background: #f8c91a; }

.divider.color-5 { background: #51a045; }

.divider.float-breaker { background: none; -ms-filter: "progid:DXImageTransform.Microsoft.gradient(enabled=false)"; clear: both; margin: 0; padding: 0; border: 0; height: auto; }

.page-about-positive-perspectives .divider { margin-bottom: 40px; }
