/* COLOR NAMES
----------------------------------------- */
/*theme colors*/
/*hard-coded colors*/
/* FUNCTIONAL COLORS
----------------------------------------- */
/*border colors*/
/*text colors*/
/*background colors*/
/*gradient colors*/
.fileList-heading { display: block; color: #323131; font-size: 1.2rem; font-weight: 600; padding-bottom: 10px; }

.fileList-date { margin-bottom: 10px; color: #868484; }

.fileList-file { margin-bottom: 20px; overflow: hidden; }

.fileList-description { overflow: hidden; }

.fileList-title { display: block; color: #323131; font-size: 1.2rem; font-weight: 600; padding-bottom: 10px; }

.fileList-list { list-style: none; margin: 0; padding: 0; }

.fileList-thumbnail { max-width: 100px; float: left; margin-right: 15px; }

.fileList-download { text-align: right; }

.fileList-download-size { color: #868484; display: block; }

@media only screen and (max-width: 767px) { .fileList-thumbnail { float: none; margin: auto; display: block; } }
