/* COLOR NAMES
----------------------------------------- */
/*theme colors*/
/*hard-coded colors*/
/* FUNCTIONAL COLORS
----------------------------------------- */
/*border colors*/
/*text colors*/
/*background colors*/
/*gradient colors*/
/* STATES AND INPUT GROUP VARIABLES ------------------------------------*/
/*   TEMPORARY VARIABLES FOR OPERATIONS ------------------------------------*/
/*   CREATING SCSS USABLE VARIABLES FOR INTERPOLATION ------------------------------------*/
/*   FUNCTIONAL VARIABLES FOR INPUTS AND STATES ------------------------------------*/
/* COLOR AND FONT VARIABLES TODO: SEPARATE COLOR ON FUNCTIONS ------------------------------------*/
/* MAIN STYLE FOR FORM ------------------------------------*/
.form { /* TWITTER BOOTSTRAP FORM STYLE ------------------------------------*/ /* STATES STYLES ------------------------------------*/ /* ARROW BUTTON STYLES -----------------------------------*/ }

.form .form-heading { display: block; color: #323131; font-size: 1.2rem; font-weight: 600; padding-bottom: 10px; }

.form form { margin: 0 0 20px; }

.form fieldset { background-color: #e1e1e1; border: solid 2px #323131; padding: 13px; margin: 15px 0; min-width: 0; }

.form legend { font-size: 18px; font-weight: 700; margin-left: 10px; padding: 0 5px; }

.form fieldset legend { display: table; white-space: normal; margin-right: 10px; }

.form label, .form input, .form button, .form select, .form textarea { font-size: 0.9rem; font-weight: normal; line-height: normal; max-width: 100%; }

.form textarea { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; width: 300px; min-width: 200px; }

.form input, .form button, .form select, .form textarea { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

.form label { display: block; margin-bottom: 5px; }

.form select, .form textarea, .form input[type="email"], .form input[type="number"], .form input[type="password"], .form input[type="search"], .form input[type="tel"], .form input[type="text"], .form input[type="url"], .form input[type="color"], .form input[type="date"], .form input[type="datetime"], .form input[type="datetime-local"], .form input[type="month"], .form input[type="time"], .form input[type="week"], .form .uneditable-input { display: inline-block; height: 20px; padding: 4px 6px; margin-bottom: 10px; font-size: 0.9rem; line-height: 20px; color: #555555; vertical-align: middle; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; }

.form input, .form textarea, .form .uneditable-input { width: 206px; }

.form fieldset textarea { resize: vertical; width: 100%; }

.form textarea { height: auto; }

.form select, .form textarea, .form input[type="email"], .form input[type="number"], .form input[type="password"], .form input[type="search"], .form input[type="tel"], .form input[type="text"], .form input[type="url"], .form input[type="color"], .form input[type="date"], .form input[type="datetime"], .form input[type="datetime-local"], .form input[type="month"], .form input[type="time"], .form input[type="week"], .form .uneditable-input { background-color: white; border: 1px solid #CCCCCC; -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); -webkit-transition: border linear, box-shadow linear; -webkit-transition-delay: 0.2s, 0.2s; -moz-transition: border linear 0.2s, box-shadow linear 0.2s; -o-transition: border linear 0.2s, box-shadow linear 0.2s; transition: border linear 0.2s, box-shadow linear 0.2s; }

.form select:focus, .form textarea:focus, .form input[type="email"]:focus, .form input[type="number"]:focus, .form input[type="password"]:focus, .form input[type="search"]:focus, .form input[type="tel"]:focus, .form input[type="text"]:focus, .form input[type="url"]:focus, .form input[type="color"]:focus, .form input[type="date"]:focus, .form input[type="datetime"]:focus, .form input[type="datetime-local"]:focus, .form input[type="month"]:focus, .form input[type="time"]:focus, .form input[type="week"]:focus, .form .uneditable-input:focus { border-color: rgba(82, 168, 236, 0.8); outline: 0; -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6); -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6); box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6); }

.form input + .help-block, .form select + .help-block, .form textarea + .help-block, .form .uneditable-input + .help-block { margin-top: 10px; }

.form input, .form textarea, .form select, .form .help-inline, .form .uneditable-input { display: inline-block; *display: inline; margin-bottom: 0; vertical-align: middle; *zoom: 1; }

.form input[type="radio"], .form input[type="checkbox"] { margin: 4px 0 0; margin-top: 1px                  \9; *margin-top: 0; line-height: normal; }

.form input[type="file"], .form input[type="image"], .form input[type="submit"], .form input[type="reset"], .form input[type="button"], .form input[type="radio"], .form input[type="checkbox"] { width: auto; }

.form select, .form input[type="file"] { height: 30px; /* In IE7, the height of the select element cannot be changed by height, only font-size */ *margin-top: 4px; /* For IE7, add top margin to align select with labels */ line-height: 30px; }

.form select { width: 220px; background-color: white; border: 1px solid #CCCCCC; }

.form select[multiple], .form select[size] { height: auto; }

.form .uneditable-input, .form .uneditable-textarea { color: #999999; cursor: not-allowed; background-color: #fcfcfc; border-color: #CCCCCC; -webkit-box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.025); -moz-box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.025); box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.025); }

.form .uneditable-input { overflow: hidden; white-space: nowrap; }

.form .uneditable-textarea { width: auto; height: auto; }

.form input:-moz-placeholder, .form textarea:-moz-placeholder, .form input:-ms-input-placeholder, .form textarea:-ms-input-placeholder, .form input::-webkit-input-placeholder, .form textarea::-webkit-input-placeholder { color: #999999; }

.form .form-actions { padding-left: 180px; }

.form .hide { display: none; }

.form .radio, .form .checkbox { min-height: 20px; padding-left: 20px; }

.form .radio input[type="radio"], .form .checkbox input[type="checkbox"] { float: left; margin-left: -22px; }

.form .controls { *display: inline-block; *padding-left: 20px; margin-left: 180px; *margin-left: 0; }

.form .controls:first-child { *padding-left: 180px; }

.form .controls > .radio:first-child, .form .controls > .checkbox:first-child { padding-top: 5px; }

.form .radio.inline, .form .checkbox.inline { display: inline-block; padding-top: 5px; margin-bottom: 0; vertical-align: middle; }

.form .radio.inline + .radio.inline, .form .checkbox.inline + .checkbox.inline { margin-left: 10px; }

.form input, .form textarea, .form .uneditable-input { margin-left: 0; }

.form .controls-row { *zoom: 1; }

.form .controls-row:before, .form .controls-row:after { display: table; line-height: 0; content: ""; }

.form .controls-row:after { clear: both; }

.form input[disabled], .form select[disabled], .form textarea[disabled], .form input[readonly], .form select[readonly], .form textarea[readonly] { cursor: not-allowed; background-color: #eeeeee; }

.form input[type="radio"][disabled], .form input[type="checkbox"][disabled], .form input[type="radio"][readonly], .form input[type="checkbox"][readonly] { background-color: transparent; }

.form .control-label { word-break: break-all; float: left; width: 160px; padding-top: 5px; text-align: right; line-height: normal; }

.form .control-group.warning input, .form .control-group.warning select, .form .control-group.warning textarea, .form .control-group.warning .control-label, .form .control-group.warning .help-block, .form .control-group.warning .help-inline, .form .control-group.warning .checkbox, .form .control-group.warning .radio { color: #c09853; }

.form .control-group.warning input, .form .control-group.warning select, .form .control-group.warning textarea { border-color: #c09853; -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }

.form .control-group.warning input:focus, .form .control-group.warning select:focus, .form .control-group.warning textarea:focus { border-color: #a47e3c; -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #dbc59e; -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #dbc59e; box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #dbc59e; }

.form .control-group.error input, .form .control-group.error select, .form .control-group.error textarea, .form .control-group.error .control-label, .form .control-group.error .help-block, .form .control-group.error .help-inline, .form .control-group.error .checkbox, .form .control-group.error .radio { color: #b94a48; }

.form .control-group.error input, .form .control-group.error select, .form .control-group.error textarea { border-color: #b94a48; -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }

.form .control-group.error input:focus, .form .control-group.error select:focus, .form .control-group.error textarea:focus { border-color: #953b39; -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392; -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392; box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392; }

.form .control-group.success input, .form .control-group.success select, .form .control-group.success textarea, .form .control-group.success .control-label, .form .control-group.success .help-block, .form .control-group.success .help-inline, .form .control-group.success .checkbox, .form .control-group.success .radio { color: #468847; }

.form .control-group.success input, .form .control-group.success select, .form .control-group.success textarea { border-color: #468847; -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }

.form .control-group.success input:focus, .form .control-group.success select:focus, .form .control-group.success textarea:focus { border-color: #356635; -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7aba7b; -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7aba7b; box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7aba7b; }

.form .control-group.info input, .form .control-group.info select, .form .control-group.info textarea, .form .control-group.info .control-label, .form .control-group.info .help-block, .form .control-group.info .help-inline, .form .control-group.info .checkbox, .form .control-group.info .radio { color: #3a87ad; }

.form .control-group.info input, .form .control-group.info select, .form .control-group.info textarea { border-color: #3a87ad; -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }

.form .control-group.info input:focus, .form .control-group.info select:focus, .form .control-group.info textarea:focus { border-color: #2d6987; -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7ab5d3; -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7ab5d3; box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7ab5d3; }

.form .control-group.warning input[type="radio"], .form .control-group.error input[type="radio"], .form .control-group.success input[type="radio"], .form .control-group.info input[type="radio"] { -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }

.form input:focus:invalid, .form textarea:focus:invalid, .form select:focus:invalid { color: #b94a48; border-color: #ee5f5b; }

.form input:focus:invalid:focus, .form textarea:focus:invalid:focus, .form select:focus:invalid:focus { border-color: #e9322d; -webkit-box-shadow: 0 0 6px #d59392; -moz-box-shadow: 0 0 6px #d59392; box-shadow: 0 0 6px #d59392; }

.form .help-block, .form .help-inline { color: #595959; }

.form .help-block { display: block; margin-bottom: 0; }

.form .help-inline { display: inline-block; *display: inline; padding-left: 5px; vertical-align: middle; *zoom: 1; }

.form .control-group { margin-bottom: 20px; *zoom: 1; }

.form .control-group:before, .form .control-group:after { display: table; line-height: 0; content: ""; }

.form .control-group:after { clear: both; }

.form legend + .control-group { margin-top: 20px; -webkit-margin-top-collapse: separate; }

.form .radio input[type="radio"] { width: 20px; float: none; vertical-align: baseline; margin-top: 0; margin-bottom: 0; }

.form .radio .radio-label-text { line-height: 13px; vertical-align: baseline; }

.form .button-arrow-left button, .form .button-arrow-right button { position: relative; box-shadow: none; height: 28px; overflow: visible; }

.form .button-arrow-left button { border-left: none; border-top-left-radius: 0; border-bottom-left-radius: 0; margin-left: 20px; }

.form .button-arrow-right button { border-right: none; border-top-right-radius: 0; border-bottom-right-radius: 0; margin-right: 20px; }

.form .button-arrow-left button:after, .form .button-arrow-right button:after { content: ' '; width: 19px; height: 19px; display: inline-block; position: absolute; top: 3px; background-color: #e1e1e1; border: 2px solid #656363; box-shadow: none; }

.form .button-arrow-left button:after { -webkit-transform: rotate(135deg); -moz-transform: rotate(135deg); -ms-transform: rotate(135deg); -o-transform: rotate(135deg); transform: rotate(135deg); left: -10px; border-width: 0px 1px 1px 0px; border-bottom-right-radius: 5px; }

.form .button-arrow-right button:after { -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg); transform: rotate(45deg); right: -10px; border-width: 1px 1px 0px 0px; border-top-right-radius: 5px; }

.form .button-arrow-left button:hover:after, .form .button-arrow-right button:hover:after { background-color: #939191; }

.form > .component-content, .form-element > .component-content { overflow: hidden; }

/* FORM HORIZONTAL STYLES ------------------------------------*/
.form-horizontal .radio { display: inline-block; margin-right: 10px; }

/* IE STYLES ------------------------------------*/
.lt-ie9 .form fieldset { position: relative; margin: 10px; }

.lt-ie9 .form fieldset legend { position: relative; top: -0.7em; left: 0.5em; margin-right: 20px; }

.lt-ie9 .form fieldset legend span { display: block; width: 100%; }

.lt-ie9 .form .input-focus-border-fix { border-color: #52A8EC; }

.lt-ie9 .form .button { border: 1px solid #656363; height: auto; margin-left: 0; margin-right: 0; }

.lt-ie9 .form .button-arrow-left button:after, .lt-ie9 .form .button-arrow-right button:after { position: static; border: none; display: inline; }

.lt-ie9 .form .button-arrow-left button:before { content: "<<"; padding-right: 5px; }

.lt-ie9 .form .button-arrow-right button:after { content: ">>"; padding-left: 5px; }

.lt-ie8 .form fieldset legend { top: -0.5em; }

.lt-ie8 .form .button { display: inline; }

.lt-ie8 .form .button-arrow-left button, .lt-ie8 .form .button-arrow-right button { position: static; }

/* MEDIA QUERIES ------------------------------------*/
@media only screen and (max-width: 767px) { .form .radio input[type="radio"] { height: 14px; }
  .form .control-group { margin-bottom: 10px; }
  .form .checkboxField .control-label { float: left; }
  .form .control-label { float: none; width: 160px; padding-top: 5px; text-align: left; }
  .form .controls { margin-left: 0; }
  .form .help-block { margin-bottom: 10px; } }

@media only screen and (max-width: 420px) { .form input, .form textarea, .form .uneditable-input { width: 200px; }
  .form select { width: 200px; } }

/* NO JS STYLES ------------------------------------*/
.no-js .clearButton { display: none; }
