@charset "UTF-8";
/* COLOR NAMES
----------------------------------------- */
/*theme colors*/
/*hard-coded colors*/
/* FUNCTIONAL COLORS
----------------------------------------- */
/*border colors*/
/*text colors*/
/*background colors*/
/*gradient colors*/
/* COLOR NAMES
----------------------------------------- */
/*theme colors*/
/*hard-coded colors*/
/* FUNCTIONAL COLORS
----------------------------------------- */
/*border colors*/
/*text colors*/
/*background colors*/
/*gradient colors*/
.parametrizedhtml { margin: 0; }

.country-selector { float: right; margin-bottom: 10px; display: none; }

.country-selector img, .country-selector span { display: inline-block; height: 100%; vertical-align: middle; }

.country-selector span { font-size: 0.9rem; font-weight: bold; padding: 0 5px; }

.country-selector input { display: none; }

.country-selector input ~ ul { display: none; }

.country-selector input:checked ~ ul { display: block; position: absolute; background: #fff; }

.country-selector input:checked ~ label:after { content: ""; display: inline-block; font-family: FontAwesome; font-style: normal; position: relative; font-weight: normal; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.country-selector label { display: block; border: 1px solid #021549; border-radius: 25px; position: relative; z-index: 2; padding: 0 5px; }

.country-selector label:after { content: ""; display: inline-block; font-family: FontAwesome; font-style: normal; position: relative; font-weight: normal; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; top: 2px; }

.country-selector label:hover { cursor: pointer; }

.country-selector ul { padding: 0 5px; margin: 0; }

.country-selector ul li { display: block; }

.country-selector ul li:hover { cursor: pointer; }

@media only screen and (max-width: 767px) { .country-selector { position: absolute; margin-bottom: 0; right: 80px; z-index: 10; }
  .country-selector span { display: none; }
  .country-selector label:after { padding-left: 5px; }
  .country-selector input:checked ~ label:after { top: 0; } }

.page-diagnosis .secondary-bg h2 { color: #021549; }

.page-diagnosis .secondary-bg h2 span { background: #1e6575; }

.page-diagnosis .secondary-bg.charts-start figure figcaption { background: #1e6575; }

.page-diagnosis .secondary-bg.charts-start .box .richText { background: #1e6575; }

.page-diagnosis .secondary-bg.charts-start .box .richText:after { border-top-color: #1e6575; }

.page-diagnosis .chart-content .chart-box__2 label span { color: #1e6575; }

.page-diagnosis .chart-content ul li { color: #021549; }

.page-diagnosis .chart-content ul li span { background: #1e6575; }

.diagnosis { margin-top: 0; display: -webkit-flex; /* Safari */ display: flex; flex-direction: column; }

.diagnosis .diagnosis__charts { padding: 20px 10px 0 10px; width: 100%; }

.diagnosis .row { display: flex; padding: 0; }

@media only screen and (max-width: 767px) { .diagnosis .row.box-charts { display: block; margin: 0; } }

@media only screen and (max-width: 767px) and (max-width: 767px) { .diagnosis .row.box-charts .col-md-6 { width: 100%; margin-left: 0; } }

.diagnosis .inside.sexual .row { flex-wrap: wrap; }

.diagnosis .col-md-3 { width: 25%; margin: 0 10px; }

.diagnosis .col-md-3.chart-box { margin: 0; }

.diagnosis .col-md-4 { width: 33.333%; margin: 0 10px; }

.diagnosis .col-md-4.chart-box { margin: 0; }

.diagnosis .col-md-6 { width: 50%; margin: 0 10px; }

@media only screen and (max-device-width: 320px) { .diagnosis { -webkit-flex-direction: column-reverse; /* Safari 6.1+ */ flex-direction: column-reverse; } }

/*##### CHARTS ######*/
.diagnosis__charts .chart-box label:before { background-image: url(../../assets/img/icon_diagnosis.png); }

.diagnosis__charts .inside.sexual .chart-box .chart-bar.chart_color_1 span { background-color: #e2001d; }

.diagnosis__charts .inside.sexual .chart-box .chart-bar.chart_color_2 span { background-color: #1e6575; }

.diagnosis__charts .inside.sexual .chart-box .chart-bar.chart_color_3 span { background-color: #535353; }

.diagnosis__charts .inside.sexual .chart-box .chart-bar.chart_color_4 span { background-color: #898989; }

.diagnosis__charts .inside.sexual .chart-box .percent { color: #323131; }

.diagnosis__charts h3 { background: #1e6575; }

.diagnosis__charts .chart-box .label { background-image: url(../../assets/img/icon_diagnosis.png); }

.diagnosis__charts .icon_region { background-image: url(../../assets/img/icon_diagnosis.png); background-position: 0px -196px; }

@media only screen and (max-width: 767px) { .diagnosis__charts .icon_region { background-size: 140%; }
  .diagnosis__charts .icon_region.region_1 { background-position: 46% 101%; }
  .diagnosis__charts .icon_region.region_2 { background-position: 46% 101%; }
  .diagnosis__charts .icon_region.region_1.region_2 { background-position: 46% 101%; } }

@media only screen and (min-width: 768px) and (max-width: 989px) { .diagnosis__charts .icon_region { background-size: 100%; }
  .diagnosis__charts .icon_region.region_1 { background-position: 46% 101%; }
  .diagnosis__charts .icon_region.region_2 { background-position: 46% 101%; }
  .diagnosis__charts .icon_region.region_1.region_2 { background-position: 46% 101%; } }

@media only screen and (max-device-width: 320px) { .diagnosis__charts .chart-box { width: 50%; text-align: center; }
  .diagnosis__charts .chart { position: relative; } }

@media only screen and (max-device-width: 480px) { .diagnosis__charts .chart-box { width: 50%; text-align: center; }
  .diagnosis__charts .chart { position: relative; }
  .diagnosis__charts .chart canvas { width: 80px !important; height: 80px !important; } }

@media only screen and (max-device-width: 768px) { .diagnosis__charts .chart-box { width: 33%; text-align: center; }
  .diagnosis__charts .chart { position: relative; } }

/*###### FILTERS ####*/
.page-disclosure .secondary-bg h2 { color: #021549; }

.page-disclosure .secondary-bg h2 span { background: #02c1c1; }

.page-disclosure .secondary-bg.charts-start figure figcaption { background: #02c1c1; }

.page-disclosure .secondary-bg.charts-start figure figcaption h3 { color: #02c1c1; }

.page-disclosure .secondary-bg.charts-start .box .richText { background: #02c1c1; }

.page-disclosure .secondary-bg.charts-start .box .richText h3 { color: #02c1c1; }

.page-disclosure .secondary-bg.charts-start .box .richText:after { border-top-color: #02c1c1; }

.page-disclosure .chart-content .chart-box__2 label span { color: #02c1c1; }

.page-disclosure .chart-content ul li { color: #021549; }

.page-disclosure .chart-content ul li span { background: #02c1c1; }

.disclosure { margin-top: 0; display: -webkit-flex; /* Safari */ display: flex; flex-direction: column; }

.disclosure .disclosure__charts { padding: 20px 10px 0 10px; width: 100%; }

.disclosure .row { display: flex; padding: 0; }

@media only screen and (max-width: 767px) { .disclosure .row.box-charts { display: block; margin: 0; } }

@media only screen and (max-width: 767px) and (max-width: 767px) { .disclosure .row.box-charts .col-md-6 { width: 100%; margin-left: 0; } }

.disclosure .inside.sexual .row { flex-wrap: wrap; }

.disclosure .col-md-3 { width: 25%; margin: 0 10px; }

.disclosure .col-md-3.chart-box { margin: 0; }

.disclosure .col-md-4 { width: 33.333%; margin: 0 10px; }

.disclosure .col-md-4.chart-box { margin: 0; }

.disclosure .col-md-6 { width: 50%; margin: 0 10px; }

@media only screen and (max-device-width: 320px) { .disclosure { -webkit-flex-direction: column-reverse; /* Safari 6.1+ */ flex-direction: column-reverse; } }

/*##### CHARTS ######*/
.disclosure__charts .chart-box label:before { background-image: url(../../assets/img/icon_disclosure.png); }

.disclosure__charts .inside.sexual .chart-box .chart-bar.chart_color_1 span { background-color: #e2001d; }

.disclosure__charts .inside.sexual .chart-box .chart-bar.chart_color_2 span { background-color: #02c1c1; }

.disclosure__charts .inside.sexual .chart-box .chart-bar.chart_color_3 span { background-color: #535353; }

.disclosure__charts .inside.sexual .chart-box .chart-bar.chart_color_4 span { background-color: #898989; }

.disclosure__charts .inside.sexual .chart-box .percent { color: #323131; }

.disclosure__charts h3 { background: #02c1c1; }

.disclosure__charts .chart-box .label { background-image: url(../../assets/img/icon_disclosure.png); }

.disclosure__charts .icon_region { background-image: url(../../assets/img/icon_disclosure.png); background-position: 0px -196px; }

@media only screen and (max-width: 767px) { .disclosure__charts .icon_region { background-size: 140%; }
  .disclosure__charts .icon_region.region_1 { background-position: 46% 101%; }
  .disclosure__charts .icon_region.region_2 { background-position: 46% 101%; }
  .disclosure__charts .icon_region.region_1.region_2 { background-position: 46% 101%; } }

@media only screen and (min-width: 768px) and (max-width: 989px) { .disclosure__charts .icon_region { background-size: 100%; }
  .disclosure__charts .icon_region.region_1 { background-position: 46% 101%; }
  .disclosure__charts .icon_region.region_2 { background-position: 46% 101%; }
  .disclosure__charts .icon_region.region_1.region_2 { background-position: 46% 101%; } }

@media only screen and (max-device-width: 320px) { .disclosure__charts .chart-box { width: 50%; text-align: center; }
  .disclosure__charts .chart { position: relative; } }

@media only screen and (max-device-width: 480px) { .disclosure__charts .chart-box { width: 50%; text-align: center; }
  .disclosure__charts .chart { position: relative; }
  .disclosure__charts .chart canvas { width: 80px !important; height: 80px !important; } }

@media only screen and (max-device-width: 768px) { .disclosure__charts .chart-box { width: 33%; text-align: center; }
  .disclosure__charts .chart { position: relative; } }

/*###### FILTERS ####*/
.page-treatment .secondary-bg .carousel { background: transparent; padding: 0 20px; }

.page-treatment .secondary-bg .carousel-nav { margin: 0; padding: 0; }

.page-treatment .secondary-bg .carousel-nav li.is-active a { background: #f8c91a; }

.page-treatment .secondary-bg .carousel-nav li.carousel-nav-prev { margin-left: -15px; }

.page-treatment .secondary-bg .carousel-nav li.carousel-nav-next { margin-right: -15px; }

.page-treatment .secondary-bg h2 { color: #021549; }

.page-treatment .secondary-bg h2 span { background: #f8c91a; color: #00144b !important; }

.page-treatment .secondary-bg.charts-start figure figcaption { background: #f8c91a; }

.page-treatment .secondary-bg.charts-start figure figcaption h3, .page-treatment .secondary-bg.charts-start figure figcaption p { color: #00144b !important; }

.page-treatment .secondary-bg.charts-start figure figcaption p { line-height: 1.1; padding: 0; }

.page-treatment .secondary-bg.charts-start .box .richText { background: #f8c91a; }

.page-treatment .secondary-bg.charts-start .box .richText h3, .page-treatment .secondary-bg.charts-start .box .richText p { color: #00144b !important; }

.page-treatment .secondary-bg.charts-start .box .richText:after { border-top-color: #f8c91a; }

.page-treatment .chart-content .chart-box__2 label span { color: #f8c91a; }

.page-treatment .chart-content ul li { color: #021549; }

.page-treatment .chart-content ul li span { background: #f8c91a; color: #00144b !important; }

.treatment { margin-top: 0; display: -webkit-flex; /* Safari */ display: flex; flex-direction: column; }

.treatment .treatment__charts { padding: 20px 10px 0 10px; width: 100%; }

.treatment .row { display: flex; padding: 0; }

@media only screen and (max-width: 767px) { .treatment .row.box-charts { display: block; margin: 0; } }

@media only screen and (max-width: 767px) and (max-width: 767px) { .treatment .row.box-charts .col-md-6 { width: 100%; margin-left: 0; } }

.treatment .inside.sexual .row { flex-wrap: wrap; }

.treatment .col-md-3 { width: 25%; margin: 0 10px; }

.treatment .col-md-3.chart-box { margin: 0; }

.treatment .col-md-4 { width: 33.333%; margin: 0 10px; }

.treatment .col-md-4.chart-box { margin: 0; }

.treatment .col-md-6 { width: 50%; margin: 0 10px; }

@media only screen and (max-device-width: 320px) { .treatment { -webkit-flex-direction: column-reverse; /* Safari 6.1+ */ flex-direction: column-reverse; } }

/*##### CHARTS ######*/
.treatment__charts .chart-box label:before { background-image: url(../../assets/img/icon_treatment.png); }

.treatment__charts .inside.sexual .chart-box .chart-bar.chart_color_1 span { background-color: #e2001d; }

.treatment__charts .inside.sexual .chart-box .chart-bar.chart_color_2 span { background-color: #f8c91a; }

.treatment__charts .inside.sexual .chart-box .chart-bar.chart_color_3 span { background-color: #535353; }

.treatment__charts .inside.sexual .chart-box .chart-bar.chart_color_4 span { background-color: #898989; }

.treatment__charts .inside.sexual .chart-box .percent { color: #323131; }

.treatment__charts h3 { background: #f8c91a; color: #00144b !important; }

.treatment__charts .chart-box .label { background-image: url(../../assets/img/icon_treatment.png); }

.treatment__charts .icon_region { background-image: url(../../assets/img/icon_treatment.png); background-position: 0px -196px; }

@media only screen and (max-width: 767px) { .treatment__charts .icon_region { background-size: 140%; }
  .treatment__charts .icon_region.region_1 { background-position: 46% 101%; }
  .treatment__charts .icon_region.region_1 label span { color: #e2001d; }
  .treatment__charts .icon_region.region_2 { background-position: 46% 101%; }
  .treatment__charts .icon_region.region_1.region_2 { background-position: 46% 101%; } }

@media only screen and (min-width: 768px) and (max-width: 989px) { .treatment__charts .icon_region { background-size: 100%; }
  .treatment__charts .icon_region.region_1 { background-position: 46% 101%; }
  .treatment__charts .icon_region.region_2 { background-position: 46% 101%; }
  .treatment__charts .icon_region.region_1.region_2 { background-position: 46% 101%; } }

@media only screen and (max-device-width: 320px) { .treatment__charts .chart-box { width: 50%; text-align: center; }
  .treatment__charts .chart { position: relative; } }

@media only screen and (max-device-width: 480px) { .treatment__charts .chart-box { width: 50%; text-align: center; }
  .treatment__charts .chart { position: relative; }
  .treatment__charts .chart canvas { width: 80px !important; height: 80px !important; } }

@media only screen and (max-device-width: 768px) { .treatment__charts .chart-box { width: 33%; text-align: center; }
  .treatment__charts .chart { position: relative; } }

/*###### FILTERS ####*/
.page-talking-with-your-doctor .secondary-bg h2 { color: #021549; }

.page-talking-with-your-doctor .secondary-bg h2 span { background: #51a045; }

.page-talking-with-your-doctor .secondary-bg.charts-start figure figcaption { background: #51a045; }

.page-talking-with-your-doctor .secondary-bg.charts-start figure figcaption h3 { color: #51a045; }

.page-talking-with-your-doctor .secondary-bg.charts-start .box .richText { background: #51a045; }

.page-talking-with-your-doctor .secondary-bg.charts-start .box .richText h3 { color: #51a045; }

.page-talking-with-your-doctor .secondary-bg.charts-start .box .richText:after { border-top-color: #51a045; }

.page-talking-with-your-doctor .chart-content .chart-box__2 label span { color: #51a045; }

.page-talking-with-your-doctor .chart-content ul li { color: #021549; }

.page-talking-with-your-doctor .chart-content ul li span { background: #51a045; }

.doctor { margin-top: 0; display: -webkit-flex; /* Safari */ display: flex; flex-direction: column; }

.doctor .doctor__charts { padding: 20px 10px 0 10px; width: 100%; }

.doctor .row { display: flex; padding: 0; }

@media only screen and (max-width: 767px) { .doctor .row.box-charts { display: block; margin: 0; } }

@media only screen and (max-width: 767px) and (max-width: 767px) { .doctor .row.box-charts .col-md-6 { width: 100%; margin-left: 0; } }

.doctor .inside.sexual .row { flex-wrap: wrap; }

.doctor .col-md-3 { width: 25%; margin: 0 10px; }

.doctor .col-md-3.chart-box { margin: 0; }

.doctor .col-md-4 { width: 33.333%; margin: 0 10px; }

.doctor .col-md-4.chart-box { margin: 0; }

.doctor .col-md-6 { width: 50%; margin: 0 10px; }

@media only screen and (max-device-width: 320px) { .doctor { -webkit-flex-direction: column-reverse; /* Safari 6.1+ */ flex-direction: column-reverse; } }

/*##### CHARTS ######*/
.doctor__charts .chart-box label:before { background-image: url(../../assets/img/icon_doctor.png); }

.doctor__charts .inside.sexual .chart-box .chart-bar.chart_color_1 span { background-color: #e2001d; }

.doctor__charts .inside.sexual .chart-box .chart-bar.chart_color_2 span { background-color: #51a045; }

.doctor__charts .inside.sexual .chart-box .chart-bar.chart_color_3 span { background-color: #535353; }

.doctor__charts .inside.sexual .chart-box .chart-bar.chart_color_4 span { background-color: #898989; }

.doctor__charts .inside.sexual .chart-box .percent { color: #323131; }

.doctor__charts h3 { background: #51a045; }

.doctor__charts .chart-box .label { background-image: url(../../assets/img/icon_doctor.png); }

.doctor__charts .icon_region { background-image: url(../../assets/img/icon_doctor.png); background-position: 0px -196px; }

@media only screen and (max-width: 767px) { .doctor__charts .icon_region { background-size: 140%; }
  .doctor__charts .icon_region.region_1 { background-position: 46% 101%; }
  .doctor__charts .icon_region.region_2 { background-position: 46% 101%; }
  .doctor__charts .icon_region.region_1.region_2 { background-position: 46% 101%; } }

@media only screen and (min-width: 768px) and (max-width: 989px) { .doctor__charts .icon_region { background-size: 100%; }
  .doctor__charts .icon_region.region_1 { background-position: 46% 101%; }
  .doctor__charts .icon_region.region_2 { background-position: 46% 101%; }
  .doctor__charts .icon_region.region_1.region_2 { background-position: 46% 101%; } }

@media only screen and (max-device-width: 320px) { .doctor__charts .chart-box { width: 50%; text-align: center; }
  .doctor__charts .chart { position: relative; } }

@media only screen and (max-device-width: 480px) { .doctor__charts .chart-box { width: 50%; text-align: center; }
  .doctor__charts .chart { position: relative; }
  .doctor__charts .chart canvas { width: 80px !important; height: 80px !important; } }

@media only screen and (max-device-width: 768px) { .doctor__charts .chart-box { width: 33%; text-align: center; }
  .doctor__charts .chart { position: relative; } }

/*###### FILTERS ####*/
.infographics .box-960 > .component-content > .content { padding: 0; }

.secondary-bg.charts-start { position: relative; padding: 0 10px; overflow: hidden; background: #eee; }

.secondary-bg.charts-start h2 { color: #021549; margin: 0; padding: 0 10px 0 50px; font-size: 1.2rem; font-weight: 600; line-height: 1.5; }

.secondary-bg.charts-start h2 span { color: #fff; width: 40px; height: 40px; display: inline-block; line-height: 40px; text-align: center; border-radius: 50%; margin-right: 10px; float: left; margin-left: -50px; font-weight: 600; }

@media only screen and (max-width: 767px) { .secondary-bg.charts-start h2 { font-weight: normal; padding-right: 0; } }

.secondary-bg.charts-start figure { position: relative; text-align: center; width: 100%; line-height: 0; border-radius: 5px; overflow: hidden; margin: 0 auto; }

.secondary-bg.charts-start figure img { filter: grayscale(100%); }

@media only screen and (max-width: 767px) { .secondary-bg.charts-start figure img { left: 0; position: absolute; width: initial; max-height: 80px; z-index: 9; top: 0; border-radius: 0 50% 50% 0; } }

.secondary-bg.charts-start figure figcaption { overflow: hidden; position: absolute; color: #fff; font-weight: bold; border-radius: 50%; vertical-align: middle; height: 190px; width: 190px; padding: 0 10px; line-height: 190px; top: 50%; left: 50%; margin-left: -95px; margin-top: -95px; transition: 0.3s; }

.secondary-bg.charts-start figure figcaption p { display: inline-block; vertical-align: middle; line-height: normal; color: #fff; padding-bottom: 0; }

@media only screen and (max-width: 767px) { .secondary-bg.charts-start figure figcaption { position: relative; width: 100%; height: 80px; margin: 0; padding: 10px 10px 10px 35%; line-height: 1.2em; top: 0; left: 0; border-radius: 0; text-align: left; }
  .secondary-bg.charts-start figure figcaption p { text-align: left !important; font-weight: normal; padding-right: 20px; }
  .secondary-bg.charts-start figure figcaption p:after { position: absolute !important; right: 10px; top: 20px; font-size: 3em; content: ""; display: inline-block; font-family: FontAwesome; font-style: normal; position: relative; font-weight: normal; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; } }

@media only screen and (min-width: 768px) and (max-width: 989px) { .secondary-bg.charts-start figure figcaption { width: 160px; height: 160px; line-height: 160px; margin-left: -80px; margin-top: -80px; } }

.secondary-bg.charts-start .box { position: relative; overflow: hidden; text-align: center; padding: 20px; cursor: pointer; margin: 0; display: inline-block; width: 33.333%; }

@media only screen and (max-width: 767px) { .secondary-bg.charts-start .box { width: 100%; padding: 0; margin: 10px 0; min-height: 80px; overflow: visible; position: inherit; } }

.secondary-bg.charts-start .box .content { margin: 0; padding: 0; }

.secondary-bg.charts-start .box .richText { text-align: center; color: #fff; position: absolute; background: #1e6575; padding: 0; top: 100%; left: 0; bottom: 0; right: 0; border-radius: 5px; transition: 1s; overflow: hidden; }

.secondary-bg.charts-start .box .richText:after { content: ''; width: 0; height: 0; border: 20px solid transparent; border-top-color: #1e6575; position: absolute; bottom: -40px; left: 50%; margin-left: -20px; }

.secondary-bg.charts-start .box .richText::before { content: 'x'; position: absolute; top: 5px; right: 10px; color: #fff; font-weight: bold; }

.secondary-bg.charts-start .box .richText p { line-height: 15px; padding-top: 10px; font-size: 0.75rem; font-weight: 700; color: #fff; opacity: 0; }

@media only screen and (min-width: 768px) and (max-width: 989px) { .secondary-bg.charts-start .box .richText p { padding: 2px 0; margin: 0; line-height: 1.1em; } }

.secondary-bg.charts-start .box .richText h3 { opacity: 0; position: relative; background: #fff; border-radius: 50%; font-size: 2em; line-height: 1.4em; width: 10rem; height: 10rem; text-transform: uppercase; margin: 0 auto; }

@media only screen and (min-width: 768px) and (max-width: 989px) { .secondary-bg.charts-start .box .richText h3 { width: 9rem; height: 9rem; } }

.secondary-bg.charts-start .box .richText h3:before { display: none; }

.secondary-bg.charts-start .box .richText h3 span { font-size: 4.5rem; font-weight: 600; line-height: 10rem; display: inline-block; padding-top: 0; }

@media only screen and (min-width: 768px) and (max-width: 989px) { .secondary-bg.charts-start .box .richText h3 span { font-size: 2.5em; line-height: 9rem; } }

@keyframes anim { from { transform: scale(0.5);
    -moz-transform: scale(0.5);
    opacity: 0; }
  to { transform: scale(1);
    -moz-transform: scale(1);
    opacity: 1; } }

@-webkit-keyframes anim { from { transform: scale(0.5);
    -moz-transform: scale(0.5);
    opacity: 0; }
  to { transform: scale(1);
    -moz-transform: scale(1);
    opacity: 1; } }

.secondary-bg.charts-start .box.active .richText { top: 0; transition: 1s; padding: 10px; }

.secondary-bg.charts-start .box.active .richText h3, .secondary-bg.charts-start .box.active .richText p { animation: anim 3s; -ms-animation-name: anim 3s; -ms-animation: anim 3s; -webkit-animation: anim 3s; animation-fill-mode: forwards; }

@media only screen and (max-width: 767px) { .secondary-bg.charts-start .box.active .richText { top: 0; left: 0; right: 0; z-index: 99; padding-top: 60px; } }

@media only screen and (min-width: 990px) { .secondary-bg.charts-start .box :hover figure { box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); }
  .secondary-bg.charts-start .box :hover figure img { filter: grayscale(0%); }
  .secondary-bg.charts-start .box :hover figcaption { width: 210px; height: 210px; line-height: 210px; padding: 0 20px; transition: 0.1s; margin-top: -100px; margin-left: -100px; } }

@media only screen and (max-width: 767px) { .secondary-bg.charts-start .component-content .content.paragraphSystem { position: inherit !important; } }

.chart-content { display: none; margin-top: 20px; background: #eee; /*####### FILTERS #######*/ }

.chart-content .icon_region.region_1 { background-position: 0px -396px; }

.chart-content .icon_region.region_2 { background-position: 0px -597px; }

.chart-content .icon_region.region_1.region_2 { background-position: 0px -797px; }

.chart-content .chart-box.age_1 label:before { background-position: 0 -95px; }

.chart-content .chart-box.age_2 label:before { background-position: -40px -95px; }

.chart-content .chart-box.age_3 label:before { background-position: -995px -95px; }

.chart-content .chart-box.age_1 label.active:before { background-position: 15px -150px; }

.chart-content .chart-box.age_2 label.active:before { background-position: -40px -150px; }

.chart-content .chart-box.age_3 label.active:before { background-position: -995px -150px; }

.chart-content .chart-box.gender_1 label:before { background-position: -35px 12px; }

.chart-content .chart-box.gender_2 label:before { background-position: 0 12px; }

.chart-content .chart-box.gender_3 label:before { width: 30px; background-position: -88px 12px; }

.chart-content .chart-box.gender_1 label.active:before { background-position: -35px -45px; }

.chart-content .chart-box.gender_2 label.active:before { background-position: 15px -45px; }

.chart-content .chart-box.gender_3 label.active:before { background-position: -88px -45px; }

.chart-content ul { list-style: none; margin: 0; padding: 0; }

.chart-content ul li { list-style: none; color: #021549; display: none; margin: 0; padding: 0 20px 0 60px; font-size: 1.2rem; font-weight: 600; line-height: 1.5; }

@media only screen and (max-width: 767px) { .chart-content ul li { font-weight: normal; } }

.chart-content ul li span { color: #fff; width: 40px; height: 40px; display: inline-block; line-height: 40px; text-align: center; border-radius: 50%; margin-right: 10px; float: left; margin-left: -50px; font-weight: 600; }

@media only screen and (max-width: 767px) { .chart-content .chart-box.gender_1 label, .chart-content .chart-box.gender_2 label, .chart-content .chart-box.gender_3 label { height: 90px; position: relative; padding-top: 50px; }
  .chart-content .chart-box.gender_1 label:before, .chart-content .chart-box.gender_2 label:before, .chart-content .chart-box.gender_3 label:before { position: absolute; top: 0; left: 50%; width: 40px; margin-left: -20px; } }

@media only screen and (min-width: 768px) and (max-width: 989px) { .chart-content .chart-box.gender_1 label, .chart-content .chart-box.gender_2 label, .chart-content .chart-box.gender_3 label { height: 90px; position: relative; padding-top: 50px; }
  .chart-content .chart-box.gender_1 label:before, .chart-content .chart-box.gender_2 label:before, .chart-content .chart-box.gender_3 label:before { position: absolute; top: 0; left: 50%; width: 40px; margin-left: -20px; } }

.chart-content .chart-box__1 label span { color: #e2001d; }

.chart-content .chart-box__2 label span { color: #f8c91a; }

.chart-content .chart-box__3 label span { color: #535353; }

.chart-content .chart-box__4 label span { color: #898989; }

.chart-content .chart-box { text-align: center; }

.chart-content .chart-box label { text-align: center; display: block; font-weight: bold; padding: 20px 0 0 0; height: 4.5rem; color: #00144b; }

.chart-content .chart-box label span { display: block; font-size: 0.75rem; font-weight: bold; content: 'n=(122)'; }

.chart-content .chart-box label:before { content: ''; width: 40px; height: 50px; position: relative; display: inline-block; float: left; vertical-align: middle; }

@media only screen and (max-width: 767px) { .chart-content .chart-box label:before { display: block; text-align: center; margin: 0 auto; } }

@media only screen and (min-width: 768px) and (max-width: 989px) { .chart-content .chart-box label:before { display: block; text-align: center; margin: 0 auto; } }

.chart-content .chart { position: relative; }

.chart-content .chart input[type=checkbox] { position: absolute; top: 10px; left: 50%; margin-left: -60px; background: #fff; }

.chart-content .inside { background: #fff; margin-bottom: 20px; border: 1px solid #e9e6e6; border-radius: 5px; overflow: hidden; min-height: 280px; display: block; }

@media only screen and (max-width: 767px) { .chart-content .inside { min-height: 230px; } }

.chart-content .inside.region label:before { background: transparent; display: none; }

.chart-content .inside.region .chart-value:before { content: ''; width: 90px; height: 90px; position: absolute; border-radius: 50%; background: white; z-index: -1; top: -28px; left: 50%; margin-left: -45px; }

.chart-content .inside.region canvas { position: relative; z-index: 9999; }

.chart-content .inside.sexual .row { padding: 35px 15px; }

.chart-content .inside.sexual .row label { background: transparent; }

.chart-content .inside.sexual .chart-box { display: block; width: 100%; padding: 0; text-align: left; }

.chart-content .inside.sexual .chart-box .chart-box__label { display: inline-block; vertical-align: middle; line-height: 1.2em; width: 35%; text-align: left; height: initial; height: auto; }

.chart-content .inside.sexual .chart-box .chart-box__label:before { display: none; }

.chart-content .inside.sexual .chart-box .chart-bar { display: inline-block; position: relative; vertical-align: middle; background-color: #e9e9e9; width: 50%; height: 11px; top: initial; margin: 0; overflow: hidden; border-radius: 11px; }

.chart-content .inside.sexual .chart-box .chart-bar span { width: 20%; background-color: green; display: inline-block; height: 11px; border-radius: 11px; margin: 0; top: 0; transition: 0.5s; }

.chart-content .inside.sexual .chart-box .percent { display: inline-block; vertical-align: middle; width: 0; padding: 0; margin: 0; font-size: 1.4em; font-weight: bold; color: #323131; }

@media only screen and (max-width: 767px) { .chart-content .inside.sexual .chart-box .chart-bar { display: block; width: 100%; margin-top: 5px; } }

.chart-content h3 { text-align: left; color: #fff; font-size: 1rem; padding: 9px 10px; cursor: pointer; position: relative; }

.chart-content .chart_head { position: relative; }

.chart-content .chart_head ul { position: absolute; top: 42px; width: 100%; background: #fff; z-index: 99; padding: 10px 20px; margin: 0; list-style: none; box-shadow: 1px 4px 5px 0 rgba(0, 0, 0, 0.2); }

.chart-content .chart_head ul input { margin-right: 10px; }

.chart-content .chart_head ul label { padding-left: 0; }

.chart-content .chart-value { display: block; position: absolute; font-weight: bold; font-size: 1.4em; height: 40px; top: 44%; left: 0; right: 0; margin-top: -15px; line-height: 40px; z-index: 99; }

.chart-content .age .chart_head ul { top: 0; position: relative; }

.chart-content .sexual .chart-box label { text-align: center; display: block; font-weight: bold; padding: 0; color: #00144b; }

.chart-content .chart-box .label { margin: 0 auto; background-repeat: no-repeat; width: 80px; height: 100px; }

.chart-content .icon_region { margin-top: 0; width: 100%; height: 200px; background-repeat: no-repeat; background-position: 0px -196px; }

.chart-content .disclosure__filters, .chart-content .diagnosis__filters, .chart-content .treatment__filters, .chart-content .doctor__filters { display: none; }

.chart-content .select { position: relative; }

.chart-content .select > .label { background: #fff; color: #999; font-size: 0.9rem; border: 1px solid #eee; padding: 10px; border-radius: 4px; font-weight: bold; margin: 0; position: relative; }

.chart-content .select > .label span { color: red; float: right; }

.chart-content .select > .label:hover { color: red; }

.chart-content .select ul { list-style: none; margin: 0; background: #fff; border: 1px solid #eee; padding: 10px; position: absolute; top: 40px; left: 0; right: 0; }

.chart-content .select ul li input, .chart-content .select ul li label { display: inline-block; vertical-align: top; }

.chart-content .select ul li input { padding: 0; margin: 7px 10px 0 0; background: #fff; }

.chart-content .select ul li label { padding: 0; margin: 0; }

.chart-content .applied_filters { padding: 10px 10px 0 10px; display: block; }

.chart-content .applied_filters h2 { color: #8d8d8d !important; font-size: 1rem !important; padding: 0 0 10px 0 !important; }

.chart-content .applied_filters > span { display: inline-block; background: #b5c2c6; color: #fff; text-transform: uppercase; padding: 0 10px; border-radius: 5px; margin: 0 10px 10px 0; }

.chart-content .applied_filters > span span { display: inline-block; margin: 0 0 0 10px; cursor: pointer; }

.chart-content .applied_filters > span span:hover { color: red; }

.chart-content .applied_filters .applied_filters_clear { display: inline-block; background: #626262; color: #fff; text-transform: uppercase; padding: 0 10px; border-radius: 5px; margin: 0 10px 10px 0; cursor: pointer; }

.chart-content .applied_filters .applied_filters_clear:hover { background-color: red; }

@media only screen and (max-device-width: 320px) { .chart-content .select ul { position: relative; top: initial; left: initial; right: initial; } }

/*##### CHARTS ######*/
@media only screen and (max-device-width: 320px) { .container { margin: 0; padding: 0; }
  .icon_region { background-size: 100%; } }

@media only screen and (max-device-width: 480px) { .container { margin: 0; padding: 0; }
  .icon_region { background-size: 100%; } }

@media only screen and (max-device-width: 768px) { .container { margin: 0; padding: 0; }
  .icon_region { background-size: 100%; } }

.html_component__video { text-align: center; width: 100%; }

.html_component__video iframe { width: 100%; min-height: 550px; }

@media only screen and (max-width: 767px) { .html_component__video iframe { min-height: 200px; margin-bottom: 20px; } }

.page-home .html_component__video { padding: 30px 0; }

.page-home .html_component__video iframe { width: 80%; min-height: 400px; }

.snippetReference.unity-tool h4 a { display: inline-block; position: relative; top: -12px; }

.snippetReference.unity-tool .computer-carousel { background: url(../../assets/img/bg_unitytool-computer.png); background-size: 100%; background-position: top center; background-repeat: no-repeat; min-height: 320px; }

.snippetReference.unity-tool .computer-carousel .carousel-nav { display: none; }

.snippetReference.unity-tool .component-content .content { padding-top: 0; padding-top: 0; }

.snippetReference.unity-tool .component-content .button { display: inline-block; margin-top: 0; position: relative; }

.snippetReference.unity-tool .box.grid_5 .richText img { padding: 5px; border-radius: 50%; }

.snippetReference.unity-tool .box.grid_5 .richText .richText-content { padding-left: 70px; }

.snippetReference.unity-tool ul { list-style: none; padding: 0; margin: 0; }

.snippetReference.unity-tool ul li { padding: 20px 10px 10px 10px; margin: 0; }

.snippetReference.unity-tool.color-1 .richText img { background: #e2001d; }

.snippetReference.unity-tool.color-2 .richText img { background: #1e6575; }

.snippetReference.unity-tool.color-3 .richText img { background: #02c1c1; }

.snippetReference.unity-tool.color-4 .richText img { background: #f8c91a; }

.snippetReference.unity-tool.color-5 .richText img { background: #51a045; }

.snippetReference.download-box .component-content .content { padding-top: 0; }

.snippetReference.download-box .image { display: inline-block; padding: 15px 0; }

.snippetReference.download-box .grid_3 p { font-size: 10px; padding-top: 10px; font-weight: 600; }

.snippetReference.download-box.view-sheet { display: none; }

.snippetReference.download-box.view-sheet .image { display: inline-block; padding: 0; }

.snippetReference.start-boxes { padding: 40px 0 0 0; }

.parametrizedhtml .bottom-line { width: 100%; padding-top: 20px; overflow: hidden; }

.parametrizedhtml .bottom-line .bottom-line-box { width: 138%; margin-left: 11%; height: 400px; background: #f9f9f9; margin-bottom: -285px; border-radius: 100%; }

@media only screen and (max-width: 767px) { .parametrizedhtml .bottom-line { display: none; } }

.parametrizedhtml.color-1 .bottom-line .bottom-line-box { box-shadow: 10px -12px 0 #e2001d; }

.parametrizedhtml.color-2 .bottom-line .bottom-line-box { box-shadow: 10px -12px 0 #1e6575; }

.parametrizedhtml.color-3 .bottom-line .bottom-line-box { box-shadow: 10px -12px 0 #02c1c1; }

.parametrizedhtml.color-4 .bottom-line .bottom-line-box { box-shadow: 10px -12px 0 #f8c91a; }

.parametrizedhtml.color-5 .bottom-line .bottom-line-box { box-shadow: 10px -12px 0 #51a045; }

.share-button { display: none; position: relative; text-align: right; cursor: pointer; font-size: 13px; font-weight: bold; padding-bottom: 10px; color: #12919f; }

.share-button > span:before { content: ""; display: inline-block; font-family: FontAwesome; font-style: normal; position: relative; font-weight: normal; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; font-size: 25px; vertical-align: middle; padding-right: 10px; color: #021549; }

.share-button .addthis_inline_share_toolbox { display: none; background: #d7d7d7; padding: 4px 3px 0 3px; border-radius: 5px; position: absolute; width: 200px; top: 40px; right: 0; z-index: 99999; }

.share-button .addthis_inline_share_toolbox:before { content: ''; width: 0; height: 0; border: 8px solid transparent; border-bottom-color: #d7d7d7; position: absolute; top: -16px; right: 30px; }

.share-button:hover .addthis_inline_share_toolbox { display: block; }
