@charset "UTF-8";
/* COLOR NAMES
----------------------------------------- */
/*theme colors*/
/*hard-coded colors*/
/* FUNCTIONAL COLORS
----------------------------------------- */
/*border colors*/
/*text colors*/
/*background colors*/
/*gradient colors*/
.smart-link { margin: 10px 0; float: right; }

.smart-link-list { overflow: hidden; margin: 0; padding: 0; list-style: none; text-align: right; padding-right: 10px; }

.smart-link-list li { display: inline-block; *display: inline; margin-top: 15px; }

.smart-link-next:after, .smart-link-previous:before { position: relative; top: -1px; height: 14px; display: inline-block; width: 6px; font-size: 18px; color: #12919f; opacity: 0.6; }

.smart-link-next:after { content: ""; display: inline-block; font-family: FontAwesome; font-style: normal; position: relative; font-weight: normal; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; margin-left: 15px; font-size: 18px; opacity: 1; }

.smart-link-previous:before { content: ""; display: inline-block; font-family: FontAwesome; font-style: normal; position: relative; font-weight: normal; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; margin-right: 15px; }

.smart-link-next, .smart-link-previous { font-size: 0; }

/* COLOR NAMES
----------------------------------------- */
/*theme colors*/
/*hard-coded colors*/
/* FUNCTIONAL COLORS
----------------------------------------- */
/*border colors*/
/*text colors*/
/*background colors*/
/*gradient colors*/
.smart-link { margin: 10px 0; float: right; }

.smart-link-list { overflow: hidden; margin: 0; padding: 0; list-style: none; text-align: right; }

.smart-link-list li { display: inline-block; *display: inline; margin-top: 15px; }

.smart-link-next:after, .smart-link-previous:before { position: relative; top: -1px; display: inline-block; font-size: 15px; color: white; width: 30px; height: 30px; line-height: 31px; text-align: center; border-radius: 50%; }

.smart-link-next:after { content: ""; display: inline-block; font-family: FontAwesome; font-style: normal; position: relative; font-weight: normal; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; margin-left: 5px; background: #12919f; }

.smart-link-previous:before { content: ""; display: inline-block; font-family: FontAwesome; font-style: normal; position: relative; font-weight: normal; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; margin-right: 5px; background: #939191; }

.smart-link-next, .smart-link-previous { font-size: 0; }

@media only screen and (max-width: 767px) { .smartLink.grid_9 { width: 50% !important; float: right !important; }
  .smartLink.grid_9 .smart-link-list li { margin: 5px 0 0 0; padding: 0; } }
