/* COLOR NAMES
----------------------------------------- */
/*theme colors*/
/*hard-coded colors*/
/* FUNCTIONAL COLORS
----------------------------------------- */
/*border colors*/
/*text colors*/
/*background colors*/
/*gradient colors*/
body.table-popup { background-color: #FFF; line-height: 1.5; }

.table-heading { display: block; color: #323131; font-size: 1.2rem; font-weight: 600; padding-bottom: 10px; }

.table-caption { border: solid 2px #323131; padding: 13px; background-color: #e1e1e1; border-bottom: none; }

.table-popup .table-caption { border: 1px solid #656363; background-color: #f3f3f3; }

.table th { background-color: #e1e1e1; font-weight: bold; text-align: center; }

.table-popup .table th { background-color: #f3f3f3; }

.table table { border-collapse: collapse; width: 100%; border: solid 2px #323131; }

.table-popup .table table { border: 1px solid #656363; }

.table th, .table td { border: solid 2px #323131; padding: 5px; }

.table-popup .table th, .table-popup .table td { border: 1px solid #656363; line-height: 1.5; }

.table td { vertical-align: middle; }

.table .button { display: none; }

.table .table-caption .button { display: block; margin: 10px 0 0 5px; }

.no-js .table .button { display: none; }

.lt-ie8 .table-popup .table { position: static; }

@media only screen and (max-width: 767px) { .table .component-content .button { display: block; margin: 20px; }
  .table .component-content .table-caption .button { display: none; } }
