@charset "UTF-8";
/* COLOR NAMES
----------------------------------------- */
/*theme colors*/
/*hard-coded colors*/
/* FUNCTIONAL COLORS
----------------------------------------- */
/*border colors*/
/*text colors*/
/*background colors*/
/*gradient colors*/
.tabs { position: relative; width: 100%; }

.tabs-heading { display: block; color: #323131; font-size: 1.2rem; font-weight: 600; padding-bottom: 10px; }

.no-js .tabs-nav { display: none; }

.no-js .tabs-content { display: block !important; visibility: visible !important; }

.no-js .tabs > .component-content { padding-top: 0; }

.tabs > .component-content { padding-top: 39px; }

.tabs-nav { position: absolute; z-index: 150; top: 0; left: 0; height: 39px; overflow: hidden; width: 100%; }

.tabs-nav-list { position: relative; left: 0; padding: 0; margin: 0; list-style: none; overflow: hidden; width: 2000px; }

.tabs-nav-switcher { position: absolute; height: 35px; width: 15px; border: 2px solid #323131; cursor: pointer; top: 0; background: #e1e1e1; }

.tabs-nav-switcher:before { content: ""; display: inline-block; font-family: FontAwesome; font-style: normal; position: relative; font-weight: normal; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; left: 50%; margin-left: -3px; padding: 7px 0; font-size: 12px; }

.tabs-nav-switcher-right { right: 0; }

.tabs-nav-item { border-width: 2px 2px 0 2px; border-style: solid; border-color: #323131; font-weight: bold; font-size: 12px; display: inline; float: left; margin-left: 5px; background: #e1e1e1; padding: 7px 10px 7px 10px; cursor: pointer; height: 21px; top: 4px; }

.tabs-nav-switcher-left { left: 0; }

.tabs-nav-switcher-left:before { content: ""; margin-left: -4px; }

.tabs-nav-item:first-child { margin-left: 0; }

.tabs-nav-item.is-active, .tabs-nav-item.is-active a, .tabs-nav-item.is-active:hover { cursor: default; background: white; }

.tabs-nav-item.is-active, .tabs-nav-item.is-active:hover { border-bottom: none; padding-bottom: 9px; }

.tabs-nav-item:hover { background: #939191; }

.tabs-nav-item:hover a { color: white; text-decoration: none; }

.tabs-nav-item.is-active:hover a { color: #323131; }

.tabs-nav-item a { color: #323131; }

.tabs-content { position: relative; z-index: 100; top: -2px; padding: 13px; border: solid 2px #323131; background: white; }

.tabs-vertical .tabs-nav { height: auto; width: 60px; }

.tabs-vertical .component-content { padding-top: 0; }

.tabs-vertical .tabs-nav-list { width: 100%; }

.tabs-vertical .tabs-nav-item.is-active, .tabs-vertical .tabs-nav-item.is-active:hover { border-bottom: 2px solid; border-right: medium; padding: 7px 12px 7px 10px; }

.tabs-vertical .tabs-nav-item { border-width: 2px; height: auto; margin: 0 0 5px; width: 36px; }

.tabs-vertical .tabs-content { margin-left: 60px; left: -2px; top: 0; }
