.articleTeaser {
  background-color: $text-light;
  transition: 0.6s;
  margin-bottom: 30px;
  &.grid_4.section {
    @include respond-to(tablet){
      //margin-left: 2%!important;
      //margin-bottom: 2%!important;
    }

  }

  &.color-1 {
    .articleTeaser-image-holder {
      border-color: $color-accent-1;
    }
  }
  &.color-2 {
    .articleTeaser-image-holder {
      border-color: $color-accent-2;
    }
  }
  &.color-3 {
    .articleTeaser-image-holder {
      border-color: $color-accent-3;
    }
  }
  &.color-4 {
    .articleTeaser-image-holder {
      border-color: $color-accent-4;
    }
  }
  &.color-5 {
    .articleTeaser-image-holder {
      border-color: $color-accent-5;
    }
  }

  .articleTeaser-text-description {
    min-height: 50px;
    p {
      margin: 0;
      padding: 0 0 10px 0;
      line-height: 1.2em;
    }
  }

  .articleTeaser-image-holder {
    border-bottom-width: 5px;
    border-bottom-color: $color-accent-1;
    border-bottom-style: solid;
    line-height: 0;
    & > a {
      position: relative;
      display: block;

      &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -33px;
        margin-left: -33px;
        width: 65px;
        height: 65px;
        border: 3px solid #fff;
        border-radius: 50%;
        z-index: 9;
      }
      &:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -11px;
        margin-left: -7px;
        z-index: 10;
        width: 0;
        height: 0;
        border-top: 16px solid transparent;
        border-bottom: 16px solid transparent;
        border-left: 25px solid #ffffff;

      }
    }

    //.grayscale {
    //  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='saturate' values='0'/></filter></svg>#grayscale");
    //  -webkit-filter: grayscale(1);
    //  filter: grayscale(1);
    //  filter: gray
    //}



    img {
      transition: 0.6s;
      width: 100%;
      //filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='saturate' values='0'/></filter></svg>#grayscale");
      -webkit-filter: grayscale(1);
      filter: grayscale(1);
      filter: gray;
      position: relative;
    }
  }
  .articleTeaser-text-content {
    padding: 0 15px;
    padding-bottom: 20px;
    border-color: $color-secondary;
    border-style: solid;
    border-width: 1px;
    border-top-color: transparent;
    min-height: 120px;
    h2, p {
      font-size: 0.9rem;
    }
    h2 {
      padding: 10px 0 5px 0;
      text-transform: uppercase;
      a {
        color: $color-primary;
        font-weight: bold;
      }
    }
  }
  &:hover {
    -webkit-box-shadow: 0 6px 24px -3px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 6px 24px -3px rgba(0, 0, 0, 0.25);
    box-shadow: 0 6px 24px -3px rgba(0, 0, 0, 0.25);
    transition: 0.6s;
    img {
      transition: 0.6s;
      filter: grayscale(0%);
    }
  }
}

@include respond-to(mobile) {
  .articleTeaser {
    border: 1px solid $color-secondary;
    .component-content {
      border: 0;
      display: flex;
      align-items: stretch;
      .articleTeaser-image-holder {
        width: 50%;
        img {
          height: 100%;
          width: 100%;
        }
        & > a {
          display: inline-block;
          &:before {
            margin-top: -15px;
            margin-left: -15px;
            width: 30px;
            height: 30px;
            border: 2px solid #fff;
          }
          &:after {
            margin-top: -8px;
            margin-left: -4px;
            border-top: 8px solid transparent;
            border-bottom: 8px solid transparent;
            border-left: 12px solid #ffffff;
          }
        }
      }
      .articleTeaser-text-description {
        min-height: inherit;
        p {
          padding-bottom: 0;
        }
      }
      .articleTeaser-text-content {
        padding: 10px;
        width: 50%;
        min-height: initial ;
        border: 0;
        h2 {
          padding-top: 0;
        }
      }
    }
  }
}