@import '../../core/mixins';

/*rename this to feed-provider*/
.twitter {
    @include frame();
    @include innerspace();
    @include filled();
}

.feed-provider-heading {
    display: inline-block;
    margin: 0 0 0 20px;
    line-height: 30px;
}

.feed-provider-description{
    border-bottom: 1px solid #000;
    margin: 10px 0;
    padding: 10px 0;
}

.feed-provider-heading-image {
    float: left;
    width: 30px;
    height: 30px;
}

.feed-provider-feeds{
    padding: 0;
    margin: 0;
}




/*twitter template*/
.twitter-feed {
    list-style-type: none;
    padding-left: 55px;
    margin: 10px 0;
    display: block;
    position: relative;
    @include clearfix;
}

.twitter-content a:hover strong{
    text-decoration: underline;
}

.twitter-sender-avatar{
    position: absolute;
    top: 3px;
    left: 0;
}

.twitter-date{
    float: right;
}

.twitter-actions{
    padding: 0;
    margin: 0;
    float: right;
}

.twitter-action{
    list-style-type: none;
    display: inline;
}