/**
* This file will be included in author mode only
*/
.cq-wcm-edit .hero:before, .cq-wcm-edit .hero:after { display: none; }

.cq-wcm-edit #header { position: relative; z-index: inherit; }

.cq-wcm-edit .box-hidden { display: block; padding: 10px; margin: 0; }

.cq-wcm-edit .box.person-one, .cq-wcm-edit .box.person-two { display: block; }

.cq-wcm-edit .parametrizedhtml { min-height: 50px; }
