

.infographics {
  .box-960 > .component-content > .content {
    padding:0;
  }
}


    .secondary-bg.charts-start {
      position: relative;
      padding: 0 10px;
      overflow: hidden;
      background: #eee;

      h2 {
        color: $text-default;
        margin: 0;
        padding: 0 10px 0 50px;
        font-size: 1.2rem;
        font-weight: 600;
        line-height: 1.5;
        span {
          color: #fff;
          width: 40px;
          height: 40px;
          display: inline-block;
          line-height: 40px;
          text-align: center;
          border-radius: 50%;
          margin-right: 10px;
          float: left;
          margin-left: -50px;
          font-weight: 600;
        }
        @include respond-to(mobile) {
          font-weight: normal;
          padding-right: 0;
        }
      }



      figure {
        position: relative;
        text-align: center;
        width: 100%;
        line-height: 0;
        border-radius: 5px;
        overflow: hidden;
        margin: 0 auto;

        img {
          filter: grayscale(100%);

          @include respond-to(mobile) {
            left: 0;
            position: absolute;
            width: initial;
            max-height: 80px;
            z-index: 9;
            top: 0;
            border-radius: 0 50% 50% 0;
          }


        }
        figcaption{
          p {
            display: inline-block;
            vertical-align: middle;
            line-height: normal;
            color: #fff;
            padding-bottom: 0;
          }
          overflow: hidden;
          position: absolute;
          color: #fff;
          font-weight: bold;
          border-radius: 50%;
          vertical-align: middle;
          height: 190px;
          width: 190px;
          padding: 0 10px;
          line-height: 190px;
          top: 50%;
          left: 50%;
          margin-left: -95px;
          margin-top: -95px;
          transition: 0.3s;
          @include respond-to(mobile) {
            position: relative;
            width: 100%;
            height: 80px;
            margin: 0;
            padding: 10px 10px 10px 35%;
            line-height: 1.2em;
            top: 0;
            left: 0;
            border-radius: 0;
            text-align: left;
            p {
              text-align: left!important;
              font-weight: normal;
              padding-right: 20px;
              &:after {
                position: absolute!important;
                right: 10px;
                top: 20px;
                font-size: 3em;
                @include font-awesome('\f105');
              }
            }
          }
          @include respond-to(tablet) {
            width: 160px;
            height: 160px;
            line-height: 160px;
            margin-left: -80px;
            margin-top: -80px;
            p {

            }
          }
        }

      }


      .box {
        position: relative;
        overflow: hidden;
        text-align: center;
        padding: 20px;
        cursor: pointer;
        margin: 0;
        display: inline-block;
        width: 33.333%;
        @include respond-to(mobile) {
          width: 100%;
          padding: 0;
          margin: 10px 0;
          min-height: 80px;
          overflow: visible;
          position: inherit;
        }

        .content {
          margin: 0;
          padding: 0;
        }

        .richText {
          text-align: center;
          color: #fff;
          position: absolute;
          background: $color-accent-2;
          padding: 0;
          top: 100%;
          left: 0;
          bottom: 0;
          right: 0;

          border-radius: 5px;
          transition: 1s;
          overflow: hidden;
          &:after {
            content: '';
            width: 0;
            height: 0;
            border: 20px solid transparent;
            border-top-color: $color-accent-2;
            position: absolute;
            bottom: -40px;
            left: 50%;
            margin-left: -20px;

          }
          &::before {
            content: 'x';
            position: absolute;
            top: 5px;
            right: 10px;
            color: #fff;
            font-weight: bold;
          }
          p {
            line-height: 15px;
            padding-top: 10px;
            font-size: 0.75rem;
            font-weight: 700;
            color: #fff;
            opacity: 0;
            @include respond-to(tablet) {
              padding: 2px 0;
              margin: 0;
              line-height: 1.1em;
            }
          }
          h3 {
            opacity: 0;
            position: relative;
            background: #fff;
            border-radius: 50%;
            font-size: 2em;
            line-height: 1.4em;
            width: 10rem;
            height: 10rem;
            text-transform: uppercase;
            margin: 0 auto;
            @include respond-to(tablet) {
              width: 9rem;
              height: 9rem;
            }
            &:before {
              display: none;
            }
            span {
              font-size: 4.5rem;
              font-weight: 600;
              line-height: 10rem;
              display: inline-block;
              padding-top: 0;
              @include respond-to(tablet) {
                font-size: 2.5em;
                line-height:9rem;
              }
            }
          }
        }
        &.active {
          @keyframes anim{
            from  {
              //zoom: 0.5;
              transform: scale(0.5);
              -moz-transform: scale(0.5);
              opacity: 0;
            }
            to {
              //zoom: 1;
              transform: scale(1);
              -moz-transform: scale(1);
              opacity: 1;
            }
          }

          @-webkit-keyframes anim{
            from  {
              //zoom: 0.5;
              transform: scale(0.5);
              -moz-transform: scale(0.5);
              opacity: 0;
            }
            to {
              //zoom: 1;
              transform: scale(1);
              -moz-transform: scale(1);
              opacity: 1;
            }
          }

          .richText {
            //display: block;
            h3, p {
              animation: anim 3s;
              -ms-animation-name: anim 3s;
              -ms-animation: anim 3s;
              -webkit-animation: anim 3s;
              animation-fill-mode: forwards;
            }

            top: 0;
            transition: 1s;
            padding: 10px;

            @include respond-to(mobile) {
              top: 0;
              left: 0;
              right: 0;
              z-index: 99;
              padding-top: 60px;
            }
          }
        }
        @include respond-to(tablet){

        }
       @include respond-to(desktop){
         :hover {
           figure {
             box-shadow: 0 0 20px rgba(0,0,0,0.2);
             img {
               filter: grayscale(0%);
             }
           }
           figcaption {
             width: 210px;
             height: 210px;
             line-height: 210px;
             padding: 0 20px;
             transition: 0.1s;
             margin-top: -100px;
             margin-left: -100px;
           }
         }
       }
      }

      @include respond-to(mobile) {
        .component-content .content.paragraphSystem {
          position: inherit!important;
        }
      }

    }

  .chart-content {


    .icon_region.region_1 {background-position: 0px -396px;}
    .icon_region.region_2 {background-position: 0px -597px;}
    .icon_region.region_1.region_2 {background-position: 0px -797px;}

    .chart-box.age_1 label:before {background-position: 	0 -95px;}
    .chart-box.age_2 label:before {background-position: 	-40px -95px;}
    .chart-box.age_3 label:before {background-position: 	-995px -95px;}
    .chart-box.age_1 label.active:before{background-position: 	15px -150px;}
    .chart-box.age_2 label.active:before{background-position: 	-40px -150px;}
    .chart-box.age_3 label.active:before{background-position: 	-995px -150px;}

    .chart-box.gender_1 label:before {background-position: -35px 12px;}
    .chart-box.gender_2 label:before {background-position: 0 12px;}
    .chart-box.gender_3 label:before { width: 30px; background-position: -88px 12px;}
    .chart-box.gender_1 label.active:before{background-position: -35px -45px;}
    .chart-box.gender_2 label.active:before{background-position: 15px -45px;}
    .chart-box.gender_3 label.active:before{background-position: -88px -45px;}
    display: none;
    margin-top: 20px;
    background: #eee;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li{
        list-style: none;
        color: $text-default;
        display: none;
        margin: 0;
        padding: 0 20px 0 60px;
        font-size: 1.2rem;
        font-weight: 600;
        line-height: 1.5;
        @include respond-to(mobile) {
          font-weight: normal;
        }
        span {
          color: #fff;
          width: 40px;
          height: 40px;
          display: inline-block;
          line-height: 40px;
          text-align: center;
          border-radius: 50%;
          margin-right: 10px;
          float: left;
          margin-left: -50px;
          font-weight: 600;
        }
      }
    }

    @include respond-to(mobile) {
      .chart-box.gender_1,
      .chart-box.gender_2,
      .chart-box.gender_3 {
        label {
          height: 90px;
          position: relative;
          padding-top: 50px;
        }

        label:before {
          position: absolute;
          top: 0;
          left: 50%;
          width: 40px;
          margin-left: -20px;
        }

      }
    }
    @include respond-to(tablet) {
      .chart-box.gender_1,
      .chart-box.gender_2,
      .chart-box.gender_3 {
        label {
          height: 90px;
          position: relative;
          padding-top: 50px;
        }

        label:before {
          position: absolute;
          top: 0;
          left: 50%;
          width: 40px;
          margin-left: -20px;
        }

      }
    }
    .chart-box__1 { label span { color: $chart-color-1}   }
    .chart-box__2 { label span { color: $color-accent-4}   }
    .chart-box__3 { label span { color: $chart-color-3}   }
    .chart-box__4 { label span { color: $chart-color-4}   }


    .chart-box {
      text-align: center;
      label {
        text-align: center;
        display: block;
        font-weight: bold;
        padding: 20px 0 0 0;
        height: 4.5rem;
        color: #00144b;

        span {
          display: block;
          font-size: 0.75rem;
          font-weight: bold;
          content: 'n=(122)';
        }

        &:before {
          content: '';
          width: 40px;
          height: 50px;
          position: relative;
          display: inline-block;
          float: left;
          vertical-align: middle;
          @include respond-to(mobile) {
            display: block;
            text-align: center;
            margin: 0 auto;
          }
          @include respond-to(tablet) {
            display: block;
            text-align: center;
            margin: 0 auto;
          }
        }
      }

    }
    .chart {
      position: relative;
      input[type=checkbox] {
        position: absolute;
        top: 10px;
        left: 50%;
        margin-left: -60px;
        background: #fff;
      }
    }

    .inside {
      background: #fff;
      margin-bottom: 20px;
      border: 1px solid #e9e6e6;
      border-radius: 5px;
      overflow: hidden;
      min-height: 280px;
      display: block;
      @include respond-to(mobile){
        min-height: 230px;
      }

      &.region {
        label:before {
          background: transparent;
          display: none;
        }
        .chart-value {
          &:before {
            content: '';
            width: 90px;
            height: 90px;
            position: absolute;
            border-radius: 50%;
            background: white;
            z-index: -1;
            top: -28px;
            left: 50%;
            margin-left: -45px;
          }
        }
        canvas {
          position: relative;
          z-index: 9999;
        }
      }

      &.sexual {
        .row {
          padding: 35px 15px;
          label {
            background: transparent;
          }
        }
        .chart-box {
          display: block;
          width: 100%;
          padding: 0;
          text-align: left;
          .chart-box__label {
            display: inline-block;
            vertical-align: middle;
            line-height: 1.2em;
            width: 35%;
            text-align: left;
            height: initial;
            height: auto;
            &:before {
              display: none;
            }
          }
          .chart-bar {
            display: inline-block;
            position: relative;
            vertical-align: middle;
            background-color: $gray;
            width: 50%;
            height: 11px;
            top: initial;
            margin: 0;
            overflow: hidden;
            border-radius: 11px;
            span {
              width: 20%;
              background-color: green ;
              display: inline-block;
              height: 11px;
              border-radius: 11px;
              margin: 0;
              top: 0;
              transition: 0.5s;
            }
          }
          .percent {
            display: inline-block;
            vertical-align: middle;
            width: 0;
            padding: 0;
            margin: 0;
            font-size: 1.4em;
            font-weight: bold;
            color: $textColor;
          }
        }

        @include respond-to(mobile){
          .chart-box {
            .chart-bar {
              display: block;
              width: 100%;
              margin-top: 5px;
            }
          }

        }
        //@include respond-to(tablet){
        //  .chart-box {
        //    .chart-bar {
        //      display: block;
        //      width: 100%;
        //      margin-top: 5px;
        //    }
        //  }
        //
        //}
      }
    }

    h3 {
      text-align: left;
      color: #fff;
      font-size: 1rem;
      padding: 9px 10px;
      cursor: pointer;
      position: relative;
    }


    .chart_head {
      position: relative;
      ul {
        position: absolute;
        top: 42px;
        width: 100%;
        background: #fff;
        z-index: 99;
        padding: 10px 20px;
        margin: 0;
        list-style: none;
        box-shadow: 1px 4px 5px 0 rgba(0, 0, 0, 0.2);
        input { margin-right: 10px;}
        label { padding-left: 0;}
      }
    }

    .chart-value {
      display: block;
      position: absolute;
      font-weight: bold;
      font-size: 1.4em;
      height: 40px;
      top: 44%;
      left: 0;
      right: 0;
      margin-top: -15px;
      line-height: 40px;
      z-index: 99;
      @include respond-to(mobile){

      }
    }

    .age .chart_head ul {
      top: 0;
      position: relative;
    }

    .sexual .chart-box label {
      text-align: center;
      display: block;
      font-weight: bold;
      padding: 0;
      color: #00144b;
    }

    .chart-box .label {
      margin: 0 auto;
      background-repeat: no-repeat;

      width: 80px;
      height: 100px;
    }

    .icon_region {
      margin-top: 0;
      width: 100%;
      height: 200px;
      background-repeat: no-repeat;
      background-position: 0px -196px;
    }



    /*####### FILTERS #######*/

    .disclosure__filters,
    .diagnosis__filters,
    .treatment__filters,
    .doctor__filters {display: none;}

    .select {
      position: relative;
      & > .label {
        background: #fff;
        color: #999;
        font-size: 0.9rem;
        border: 1px solid #eee;
        padding: 10px;
        border-radius: 4px;
        font-weight: bold;
        margin: 0;
        position: relative;
        & span {
          color: red;
          float: right;
        }
        &:hover {
          color: red;
        }

      }

      ul {
        list-style: none;
        margin: 0;
        background: #fff;
        border: 1px solid #eee;
        padding: 10px;
        position: absolute;
        top: 40px;
        left: 0;
        right: 0;
      }
    }

    .select {
      ul li input,
      ul li label {
        display: inline-block;
        vertical-align: top;
      }
      ul li input {
        padding: 0;
        margin: 7px 10px 0 0;
        background: #fff;
      }
      ul li label {
        padding: 0;
        margin: 0;
      }
    }

    .applied_filters {
      padding: 10px 10px 0 10px;
      display: block;

      h2 {
        color: #8d8d8d!important;
        font-size: 1rem!important;
        padding: 0 0 10px 0!important;
      }


      & > span {
        display: inline-block;
        background: #b5c2c6;
        color: #fff;
        text-transform: uppercase;
        padding: 0 10px;
        border-radius: 5px;
        margin: 0 10px 10px 0;

        span {
          display: inline-block;
          margin: 0 0 0 10px;
          cursor: pointer;
          &:hover {
            color: red;
          }

        }
      }

      .applied_filters_clear {
        display: inline-block;
        background: #626262;
        color: #fff;
        text-transform: uppercase;
        padding: 0 10px;
        border-radius: 5px;
        margin: 0 10px 10px 0;
        cursor: pointer;
        &:hover {
          background-color: red;
        }
      }
    }



    @media only screen and (max-device-width: 320px) {
      .select ul {
        position: relative;
        top: initial;
        left: initial;
        right: initial;
      }
    }
  }



/*##### CHARTS ######*/


@media only screen and (max-device-width: 320px) {
  .container { margin: 0; padding: 0; }
  .icon_region { background-size: 100%; }
}

@media only screen and (max-device-width: 480px) {
  .container { margin: 0; padding: 0; }
  .icon_region { background-size: 100%; }
}

@media only screen and (max-device-width: 768px) {
  .container { margin: 0; padding: 0; }
  .icon_region { background-size: 100%; }
}










