

.html_component__video {
  text-align: center;
  width: 100%;
  iframe {
    width: 100%;
    min-height: 550px;
    @include respond-to(mobile) {
      min-height: 200px;
      margin-bottom: 20px;
    }
  }
}

.page-home {
  .html_component__video {
    padding: 30px 0;
    iframe {
      width: 80%;
      min-height: 400px;
    }
  }
}