

.page-diagnosis {

  .secondary-bg {
    h2 {
      color: $text-default;
      span {
        background: $color-accent-2;
      }
    }
    &.charts-start {
      figure {
        figcaption {
          background: $color-accent-2;
         }
      }
      .box {
        .richText {
          background: $color-accent-2;
          &:after {
            border-top-color: $color-accent-2;
          }
        }
      }
    }
  }

  .chart-content {
    .chart-box__2 label span {
      color:$color-accent-2;
    }
    ul {
      li{
        color: $text-default;
        span {
          background: $color-accent-2;
        }
      }
    }
  }
}


.diagnosis {
  margin-top: 0;
  display: -webkit-flex; /* Safari */
  display: flex;
  flex-direction:column;
  .diagnosis__charts {
    padding: 20px 10px 0 10px;
    width: 100%;
  }
    .row {
      display: flex; padding: 0;
      &.box-charts {
        @include respond-to(mobile) {
          display: block;
          margin: 0;
          .col-md-6 {
            @include respond-to(mobile) {
              width: 100%;
              margin-left: 0;
            }
          }
        }
      }

    }
    .inside.sexual {
      .row { flex-wrap: wrap;   }
    }
    .col-md-3 {
      width: 25%; margin: 0 10px;
      &.chart-box { margin: 0;}
    }
    .col-md-4 {
      width: 33.333%;  margin: 0 10px;
      &.chart-box { margin: 0;}
    }
    .col-md-6 {      width: 50%;  margin: 0 10px;
    }
}




@media only screen and (max-device-width: 320px) {
  .diagnosis {
    -webkit-flex-direction: column-reverse; /* Safari 6.1+ */
    flex-direction: column-reverse;
  }
}

/*##### CHARTS ######*/

.diagnosis__charts {
  .chart-box {
    label {
      &:before {        background-image: url(../../assets/img/icon_diagnosis.png);      }
    }
  }

  .inside {
    &.sexual {
      .chart-box {
        .chart-bar {
          &.chart_color_1 { span { background-color: $chart-color-1}   }
          &.chart_color_2 { span { background-color: $chart-color-2}   }
          &.chart_color_3 { span { background-color: $chart-color-3}   }
          &.chart_color_4 { span { background-color: $chart-color-4}   }
        }
        .percent { color: $textColor; }
      }
    }
   }

  h3 {  background: $color-accent-2; }
  .chart-box .label {   background-image: url(../../assets/img/icon_diagnosis.png);  }
  .icon_region {        background-image: url(../../assets/img/icon_diagnosis.png);  background-position: 0px -196px;  }
}


.diagnosis__charts {




  @include respond-to(mobile) {
    .icon_region {                    background-size: 140%;  }
    .icon_region.region_1 {           background-position: 46% 101%;    }
    .icon_region.region_2 {           background-position: 46% 101%;    }
    .icon_region.region_1.region_2 {  background-position: 46% 101%;    }
  }

  @include respond-to(tablet) {
    .icon_region {                    background-size: 100%;    }
    .icon_region.region_1 {           background-position: 46% 101%;    }
    .icon_region.region_2 {           background-position: 46% 101%;    }
    .icon_region.region_1.region_2 {  background-position: 46% 101%;    }
  }
}

@media only screen and (max-device-width: 320px) {
  .diagnosis__charts .chart-box {
    width: 50%;
    text-align: center;
  }
  .diagnosis__charts .chart { position: relative; }
}

@media only screen and (max-device-width: 480px) {
  .diagnosis__charts .chart-box {
    width: 50%;
    text-align: center;
  }
  .diagnosis__charts .chart {
    position: relative;
    canvas {
      width:  80px!important;
      height: 80px!important;
    }
  }
}

@media only screen and (max-device-width: 768px) {
  .diagnosis__charts .chart-box {
    width: 33%;
    text-align: center;
  }
  .diagnosis__charts .chart { position: relative; }
}



/*###### FILTERS ####*/
.diagnosis__filters {

}

