

.snippetReference    {

  &.unity-tool {

    h4 {
      a {
        display: inline-block;
        position: relative;
        top: -12px;
      }
    }

    .computer-carousel {
      background: url(../../assets/img/bg_unitytool-computer.png);
      background-size: 100%;
      background-position: top center;
      background-repeat: no-repeat;
      min-height: 320px;
      .carousel-nav {
        display: none;
      }
    }

    .component-content {
      .content {
        padding-top: 0;
        padding-top: 0;
      }

      p {

      }
      .button {
        display: inline-block;
        margin-top: 0;
        position: relative;
      }
    }

    .box {
      &.grid_5 {
        .richText {
          img {
            padding: 5px;
            border-radius: 50%;
          }
          .richText-content {
            padding-left: 70px;
          }
        }
      }
    }


    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        padding: 20px 10px 10px 10px;
        margin:0;
        //background: url(../)
      }
    }

    &.color-1 {
      .richText {
        img {
          background: $color-accent-1;
        }
      }
    }
    &.color-2 {
      .richText {
        img {
          background: $color-accent-2;
        }
      }
    }
    &.color-3 {
      .richText {
        img {
          background: $color-accent-3;
        }
      }
    }
    &.color-4 {
      .richText {
        img {
          background: $color-accent-4;
        }
      }
    }
    &.color-5 {
      .richText {
        img {
          background: $color-accent-5;
        }
      }
    }
  }



}