

.snippetReference    {
  &.download-box {
      .component-content {
        .content {
          padding-top: 0;
        }
      }

    .image {
      display: inline-block;
      padding: 15px 0;
    }
    .grid_3 {
      p { font-size: 10px; padding-top: 10px; font-weight: 600;}
    }

    &.view-sheet {
      display: none;
      .image {
        display: inline-block;
        padding: 0;
      }
    }

    }

}