

.share-button {
    display: none;
    position: relative;
    //display: block;
    text-align: right;
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
    padding-bottom: 10px;
    color: #12919f;
    > span:before {
        @include font-awesome($fa-var-share-alt);
        font-size: 25px;
        vertical-align: middle;
        padding-right: 10px;
        color: $text-default;
    }
    .addthis_inline_share_toolbox {

        display: none;
        background: #d7d7d7;
        padding: 4px 3px 0 3px;
        border-radius: 5px;
        position: absolute;
        width: 200px;
        top: 40px;
        right: 0;
        z-index: 99999;
        &:before {
            content: '';
            width: 0;
            height: 0;
            border: 8px solid transparent;
            border-bottom-color: #d7d7d7;
            position: absolute;
            top: -16px;
            right: 30px;;
        }
    }
    &:hover {
        .addthis_inline_share_toolbox {
            display: block;
        }
    }
}