

.parametrizedhtml {
  .bottom-line {
    width: 100%;
    padding-top: 20px;
    overflow: hidden;
    .bottom-line-box {
      width: 138%;
      margin-left: 11%;
      height: 400px;
      background: $background;
      margin-bottom: -285px;
      border-radius: 100%;

    }
    @include respond-to(mobile) {
      display: none;
    }
  }

  &.color-1 {
    .bottom-line {
      .bottom-line-box {
        box-shadow: 10px -12px 0 $color-accent-1;
      }
    }
  }
  &.color-2 {
    .bottom-line {
      .bottom-line-box {
        box-shadow: 10px -12px 0 $color-accent-2;
      }
    }
  }
  &.color-3 {
    .bottom-line {
      .bottom-line-box {
        box-shadow: 10px -12px 0 $color-accent-3;
      }
    }
  }
  &.color-4 {
    .bottom-line {
      .bottom-line-box {
        box-shadow: 10px -12px 0 $color-accent-4;
      }
    }
  }
  &.color-5 {
    .bottom-line {
      .bottom-line-box {
        box-shadow: 10px -12px 0 $color-accent-5;
      }
    }
  }



}


