

.page-disclosure {

  .secondary-bg {
    h2 {
      color: $text-default;
      span {
        background: $color-accent-3;
      }
    }
    &.charts-start {
      figure {
        figcaption {
          background: $color-accent-3;
          h3 {
            color: $color-accent-3;
          }
        }
      }
      .box {
        .richText {
          background: $color-accent-3;
          h3 {
            color: $color-accent-3;
          }
          &:after {
            border-top-color: $color-accent-3;
          }
        }
      }
    }
  }

  .chart-content {
    .chart-box__2 label span {
      color:$color-accent-3;
    }
    ul {
      li{
        color: $text-default;
        span {
          background: $color-accent-3;
        }
      }
    }
  }
}


.disclosure {
  margin-top: 0;
  display: -webkit-flex; /* Safari */
  display: flex;
  flex-direction:column;
  .disclosure__charts {
    padding: 20px 10px 0 10px;
    width: 100%;
  }
  .row {
    display: flex; padding: 0;
    &.box-charts {
      @include respond-to(mobile) {
        display: block;
        margin: 0;
        .col-md-6 {
          @include respond-to(mobile) {
            width: 100%;
            margin-left: 0;
          }
        }
      }
    }

  }
  .inside.sexual {
    .row { flex-wrap: wrap;   }
  }
  .col-md-3 {
    width: 25%; margin: 0 10px;
    &.chart-box { margin: 0;}
  }
  .col-md-4 {
    width: 33.333%;  margin: 0 10px;
    &.chart-box { margin: 0;}
  }
  .col-md-6 {      width: 50%;  margin: 0 10px;
  }
}




@media only screen and (max-device-width: 320px) {
  .disclosure {
    -webkit-flex-direction: column-reverse; /* Safari 6.1+ */
    flex-direction: column-reverse;
  }
}

/*##### CHARTS ######*/

.disclosure__charts {
  .chart-box {
    label {
      &:before {        background-image: url(../../assets/img/icon_disclosure.png);      }
    }
  }

  .inside {
    &.sexual {
      .chart-box {
        .chart-bar {
          &.chart_color_1 { span { background-color: $chart-color-1}   }
          &.chart_color_2 { span { background-color: $color-accent-3}   }
          &.chart_color_3 { span { background-color: $chart-color-3}   }
          &.chart_color_4 { span { background-color: $chart-color-4}   }
        }
        .percent { color: $textColor; }
      }
    }
  }

  h3 {  background: $color-accent-3; }
  .chart-box .label {  background-image: url(../../assets/img/icon_disclosure.png);  }
  .icon_region {   background-image: url(../../assets/img/icon_disclosure.png);  background-position: 0px -196px;  }
}


.disclosure__charts {
  @include respond-to(mobile) {
    .icon_region { background-size: 140%;  }
    .icon_region.region_1 {    background-position: 46% 101%;    }
    .icon_region.region_2 {     background-position: 46% 101%;    }
    .icon_region.region_1.region_2 {      background-position: 46% 101%;    }
  }

  @include respond-to(tablet) {
    .icon_region {      background-size: 100%;    }
    .icon_region.region_1 {      background-position: 46% 101%;    }
    .icon_region.region_2 {      background-position: 46% 101%;    }
    .icon_region.region_1.region_2 {      background-position: 46% 101%;    }
  }
}




@media only screen and (max-device-width: 320px) {
  .disclosure__charts .chart-box {
    width: 50%;
    text-align: center;
  }
  .disclosure__charts .chart { position: relative; }
}

@media only screen and (max-device-width: 480px) {
  .disclosure__charts .chart-box {
    width: 50%;
    text-align: center;
  }
  .disclosure__charts .chart {
    position: relative;
    canvas {
      width:  80px!important;
      height: 80px!important;
    }
  }
}

@media only screen and (max-device-width: 768px) {
  .disclosure__charts .chart-box {
    width: 33%;
    text-align: center;
  }
  .disclosure__charts .chart { position: relative; }
}



/*###### FILTERS ####*/
.disclosure__filters {



}











