@import '../../core/mixins';

.accordion-container {
    @include frame();
    list-style: none;
    padding: 0;
    margin: 0;
}

.accordion-head {
    @include heading();
    @include filled();
    @include innerspace();
    margin: 0;
    // TO DO: color to be changed - not matching functionality
    color: #939191;
    border-top: 2px solid $black;
}
.accordion-slide:first-child .accordion-head{
    border-top: 0;
}

.accordion-title {
    @include innerspace();
    margin: 0;
}

/*
.accordion-slide:last-child:not(.is-active) > .accordion-head,
.accordion-slide:last-child > .accordion-content {
    border-bottom: none;
}*/

.accordion-content {
    @include innerspace();
}

.accordion-content-wrapper {
    border-left: 0;
    border-right: 0;
    border-top: 0;
}

.mod-js {

    .accordion-slide .accordion-head:hover {
        //background-color: $backgroundHoverColor;
        //color: $textHoverColor;
    }

    .accordion-slide.is-active > .accordion-head:hover {
        //@include filled();
    }

    .accordion-slide.is-active > .accordion-head {
      // TO DO: color to be changed - not matching functionality
        color: $black;
    }

    .accordion-content-wrapper {
        display: none;
        //visibility: hidden;
        //height: 0;
        //position: relative;
        //top: -999999px;
        //left: -999999px;
        //overflow: hidden;
        //margin: 0;
        //box-sizing:border-box;
        //-moz-box-sizing:border-box;
    }

    .accordion-slide.is-active > .accordion-content-wrapper {
        //visibility: visible;
        //position: relative;
        //top: auto;
        //left: auto;
        //height: auto;
        //overflow: auto;
    }

    .accordion-slide.is-active:last-child > .accordion-content-wrapper {
        border-bottom: none;
    }

    .accordion-head {
        cursor: pointer;
        margin-bottom: 0;
        position: relative;
        &:after {
            @include font-awesome($fa-var-chevron-right);
            position: relative;
            top: 8px;
            font-size: 12px;
            float: right;
        }
    }

    .accordion-head.is-active {
        cursor: default;
        &:after {
            @include font-awesome($fa-var-chevron-down);
            position: relative;
            top: 8px;
            font-size: 12px;
            float: right;
        }
    }
}
