@import '../../core/mixins';

.accordion-container {
    //@include frame();
    border: 0;
    list-style: none;
    padding: 40px 0 0 0;
    margin: 0;
    .accordion-slide {
        counter-increment: listItem;
        position: relative;
        a {
            color: $text-default;
        }
        &:before {
            content: counter(listItem);
            position: absolute;
            width: 2.5rem;
            height: 2.5rem;
            line-height:2.5rem;
            text-align: center;
            top: 1rem;
            left: -3.5rem;;
            background: #fff;
            border-radius: 50%;
            font-weight: 500;
            font-size: 1.3rem;
        }
        background: $background;
        margin-bottom: 20px;
        .accordion-content {
            padding: 0 15px;
            p {
                margin-top: 0;
                font-size: .9rem;
                font-weight: 500;
            }
        }
        border-left: 4.5rem solid $color-accent-4;
    }
    @include respond-to(tablet) {
        .accordion-slide {
            &:before {
                top: 0.6rem;
            }
        }
    }
}

.accordion-head {
    background: transparent;
    border: 0;
    margin: 0;
    color: $text-default;
    padding: 1.2rem 1rem;
    font-weight: 600;
}
.accordion-slide:first-child .accordion-head{
    border-top: 0;
}

.accordion-title {
    @include innerspace();
    margin: 0;
}



.accordion-content-wrapper {
    border-left: 0;
    border-right: 0;
    border-top: 0;
}


.mod-js {

    .accordion-slide .accordion-head:hover {
        //background: $background;
        //color: $textHoverColor;
    }

    .accordion-slide.is-active > .accordion-head:hover {
        //@include filled();
    }
    .accordion-slide.is-active > .accordion-head {
      // TO DO: color to be changed - not matching functionality
        color: $black;
    }

    .accordion-content-wrapper {
        //visibility: hidden;
        //height: 0;
        //position: relative;
        //top: -999999px;
        //left: -999999px;
        //overflow: hidden;
        //margin: 0;
        //box-sizing:border-box;
        //-moz-box-sizing:border-box;
    }

    .accordion-slide.is-active > .accordion-content-wrapper {
        //visibility: visible;
        //position: relative;
        //top: auto;
        //left: auto;
        //height: auto;
        //overflow: auto;
    }

    .accordion-slide.is-active:last-child > .accordion-content-wrapper {
        border-bottom: none;
    }

    .accordion-head {
        cursor: pointer;
        margin-bottom: 0;
        position: relative;
        &:after {
            @include font-awesome($fa-var-plus);
            position: relative;
            top: 8px;
            font-size: 0.9rem;
            float: right;
        }
    }

    .accordion-head.is-active {
        cursor: default;
        &:after {
            @include font-awesome($fa-var-minus);
            position: relative;
            top: 8px;
            font-size: 0.9rem;
            float: right;
        }
    }
}

