@import '../core/mixins';

.secondary-bg {
    background-color: $color-secondary;
    .richText {
            margin-bottom: 0;
    }
    h1, h2, h3, h4, p {
        color: $color-accent-2;
    }
}

.bg_white {
    background: $white;
}
