.feature-box {
  background-color: $background-feature-box;
  background-image: url(../../assets/img/bg_hiv_sheets.png);
  background-repeat: no-repeat;
  background-position: right;
  padding: 15px;
  margin-bottom: 20px;position: relative;
  overflow: hidden;

  &.new {
    &:after {
      content: 'NEW';
      width: 100px;
      position: absolute;
      padding: 30px 0 5px 0;
      top: -15px;
      left: -37px;
      font-size: 13px;
      background: #f8c91a;
      text-align: center;
      -ms-transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
  }
  .richText {
    .richText-content {
      display: table-cell;
      height: 100px;
      vertical-align: middle;
    }
    p {
      padding: 0;
      margin: 0;
      font-size: 13px;
    }
    h3 {
      font-weight: bold;
      margin: 0;
      padding: 0;
      background: transparent;
      font-size: 1.2em;
      &:before {
        display: none;
      }
    }
  }

  img {
    padding-top: 0;
  }

  .component-content.left {
    @include respond-to(mobile) {
      text-align: center;

    }
    @include respond-to(tablet) {
      text-align: center;

    }

  }

  @include respond-to(mobile) {
    .richText {
      .richText-content {
        display: block;
        height: initial;
        vertical-align: middle;
        //text-align: center;
      }
      p {
        width: 100%;
      }
      h3 {
        font-weight: bold;
        margin: 0;
        padding: 0;
        background: transparent;
        font-size: 1.2em;
        &:before {
          display: none;
        }
      }
    }

  }

}