
.hero {
  position: relative;
  overflow: hidden;
  padding-bottom: 50px;

  .box-heading {
    position: absolute;
    top: 0;
    right: 40px;
    color: #fff;
    display: inline-block;
    padding: 5px 15px;
    //background: rgba(255,255,255,0.3);
    font-size: 11px;
    font-weight: normal;
    z-index:999;
    &:before {
      padding: 0 10px 0 0;
      @include font-awesome('\f030');
    }
    &:after {
      content: '';
      border-top: 26px solid rgba(255, 255, 255, 0.3);
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      height: 0;
      width: 445px;
      position: absolute;
      top: 0;
      right: -5px;
    }
  }

  & > .component-content {
    background-position: center 300px;
    padding-bottom: 0;
    background-size: 83%;
    background-repeat: no-repeat;
    min-height: 580px;
    border-radius: 0 0 100% 100%;
    margin-top: -300px;
    margin-left: -200px;
    margin-right: -200px;
    box-shadow: 22px 7px 0 $color-accent-1;

    @include respond-to(tablet) {
      min-height: 480px;

    }

    .content {
      max-width: 960px;
      margin: 0 auto;
    }
  }

  @include respond-to(mobile){
    & > .component-content {
    background-position: center 300px;
    padding-bottom: 0;
    background-size: 83%;
    background-repeat: no-repeat;
    min-height: 480px;
    border-radius: 0 0 100% 100%;
    margin-top: -300px;
    margin-left: -600px;
    margin-right: -600px;
    }
  }

}

.hero {
  &.color-1 {
    & > .component-content {
      box-shadow: 22px 7px 0 $color-accent-1;
    }
  }
  &.color-2 {
    & > .component-content {
      box-shadow: 22px 7px 0 $color-accent-2;
    }
  }
  &.color-3 {
    & > .component-content {
      box-shadow: 22px 7px 0 $color-accent-3;
    }
  }
  &.color-4 {
    & > .component-content {
      box-shadow: 22px 7px 0 $color-accent-4;
    }
  }
  &.color-5 {
    & > .component-content {
      box-shadow: 22px 7px 0 $color-accent-5;
    }
  }
}



@include respond-to(tablet) {
  .hero {
    .grid_9 {
      width: 100%!important;
      padding: 0 4%;
    }
  }

}


/*###### HOMEPAGE BANNER *#######*/


.page-home {
  .hero {
    & > .component-content {
      overflow: hidden;
      position: relative;
      z-index: 9;
      background-position: center 300px;
      padding-bottom: 0;
      background-size: 68%;
      background-repeat: no-repeat;
      min-height: 30px;
      padding-top: 300px;
      border-radius: 0 0 100% 100%;
      margin-top: -300px;
      margin-left: -500px;
      margin-right: -500px;
      box-shadow: 22px 7px 0 $color-accent-1;
      .content{
        max-width: 100%;
        width: 100vw;
        overflow: hidden;
      }
    }
  }
  @include respond-to(mobile) {
    .hero {
      & > .component-content {
        padding-top: 100px;
        background-position: bottom center;
        background-size: 250%;
        background-repeat: no-repeat;
        margin-top: -300px;
        margin-left: -800px;
        margin-right: -800px;
        & > .content {
          max-width: 100vw;
        }
      }
    }
  }

  @include respond-to(tablet) {
    .hero {
      & > .component-content {
        padding-top: 280px;
        background-position: bottom center;
        background-size: 250%;
        background-repeat: no-repeat;
        margin-top: -300px;
        margin-left: -800px;
        margin-right: -800px;
        & > .content {
          max-width: 100vw;
        }
      }
    }
  }
  @include respond-to(desktop) {
    .hero {
      & > .component-content {
        background-position: bottom center;
        background-size: 250%;
        background-repeat: no-repeat;
        margin-top: -300px;
        margin-left: -800px;
        margin-right: -800px;
      }
    }
  }
}
