.tiles {
  padding: 0;
  .component-content {
    .content {
      padding: 0;
      .image {
        min-height: 380px;
        figcaption {
          h4 {
            min-height: 50px;
            font-size: 1.1rem;
            padding: 0;
          }
        }
      }
    }
  }
}

@include respond-to(small-mobile) {
  .tiles {
    padding: 0;
    .component-content {
      .content {
        .image {
          min-height: 420px;
          float: left;
          &.grid_3 {
            margin: 2%!important;
            width: 46%!important;
          }
          figcaption {
            h4 {
              min-height: 60px;
            }
            p {
              line-height: 1.3;
            }
          }
        }
      }
    }
  }
}
@include respond-to(mobile) {

}
@include respond-to(tablet) {

}
@include respond-to(desktop) {

}

