@import '../../core/mixins';

.box {
    &.left-content {
        margin-top: 60px;
        @include respond-to(mobile) {
            margin-top: 10px ;
        }
    }
}


.box-outlined .component-content {
    @include frame();
    @include innerspace();
    @include filled();
}

.box-heading {
    @include heading();
    position: absolute;
}

.box-more {
    display: block;
    text-align: right;
}


/*#### ABOUT PP ####*/

.snippetReference {
    .person {
        .person-one {
            .feature-box {
                display: none;
            }
        }
        .person-two {
            .feature-box {
                display: none;
            }
        }
    }
}
.box {
    &.person-one {
        //display: none;
        margin: 30px 0!important;
        background-image: none;
        @include respond-to(mobile) {
            &.active {
                //margin: -505px 0 10px 0!important;
            }
            min-height: 350px;
            padding: 10px 0;
            text-align: left;
        }

        .richText-content {
            padding: 40px 0;
            @include respond-to(mobile) {
                padding: 10px 0;
            }
            p { font-size: 1.1rem;}
            ul {
                font-size: 1.1rem;
                color: $text-default;
                padding-right: 15px;
            }
            @include respond-to(mobile) {
                padding: 10px 0;
                p, ul { font-size: 1rem;}
            }
        }
    }
    &.person-two {
        //display: none;
        margin: 30px 0!important;
        background-image: none;
        @include respond-to(mobile) {
            margin: 10px 0 20px 0!important;
            min-height: 350px;
            text-align: left;
        }
        .richText-content {
            padding: 40px 0;
            @include respond-to(mobile) {
                padding: 10px 0;
            }
            p { font-size: 1.1rem; text-align: left;}
            ul {
                font-size: 1.1rem;
                color: $text-default;
                padding-right: 15px;
                text-align: left;
            }
            @include respond-to(mobile) {
                padding: 10px 0;
                p, ul { font-size: 1rem;}
            }
        }
    }
    &.person-one, &.person-two {
        .html_component__video {
            padding: 20px 0;
            iframe {
                height: 250px;
                min-height:250px;
            }
        }
        .richText-content {
            padding: 20px 0;
            ul {
                li {
                    font-size: 1rem;
                }
            }
            p {font-size: 1rem}
        }
    }



}


