
.box {
  &.left-content {
    font-size: 1rem;
    p {
      font-weight: 500;
      font-size: 1rem;
    }
    &.color-5 {
      ul {
        li {
          list-style: none;
          padding-bottom: 10px;
          &:before {
            content: '';
            width: 15px;
            height: 15px;
            background: $color-accent-5;
            display: inline-block;
            border-radius: 50%;
            margin: 0 25px 0 -40px;
          }
        }
      }
    }
  }
}
