@import '../../core/mixins';


.movie-story-box-container, .movie-story-box-container-1 {
  position: relative;
    .close {
      display: none;
      position: absolute;
      top: 20px;
      right: 20px;
      cursor: pointer;
      font-size: 1.2rem;
      &:before {
        @include font-awesome('\f00d');
      }
      &:hover {
        color: red;
      }

    }
}

.box-story, .box-movie {
  color: #021549;
  position: relative;
  opacity: 1;
  cursor: pointer;

  figure {
    position: relative;
    border: 1px solid #e9e9e9;

    &:before, &:after{
      content: '';
      position: absolute;
      top: 100px;
      left: 50%;
    }
    &:after {
      margin-top: -1.7rem;
      margin-left: -2rem;
      width: 4rem;
      height: 4rem;
      border: 3px solid #fff;
      border-radius: 50%;
      z-index: 9;
    }
    &:before {
      margin-top: -11px;
      margin-left: -7px;
      z-index: 10;
      width: 0;
      height: 0;
      border-top: 16px solid transparent;
      border-bottom: 16px solid transparent;
      border-left: 25px solid #ffffff;
    }
  }

  figcaption {
    min-height: 130px;
    position: relative;
    border: 0;

    padding: 1px 15px 0 15px;
    &:before {
      content: '';

    }
    p {
      min-height: 80px;
      font-weight: 500;
      font-size: 0.9rem;
    }
    h4 {
      height: 50px;
      width: 100%;
      font-size: 0.9rem;
      font-weight: 600;
      line-height: 1.3;
      color: #FFF;
      text-align: left;
      margin: 0;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      span {
        height: 50px;
        display: table-cell;
        vertical-align: middle;
        padding: 3px 10px;

      }
    }
  }


  &:hover {
    opacity: 1;
  }

  &.non-active {
    opacity: 0.5;
  }
  &.active {
    opacity: 1;
  }

  &.active:after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 18px 0 18px;
    border-color: #fff transparent transparent transparent;
    position: absolute;
    z-index: 1;
    left: 50%;
    margin-left: -18px;
    bottom: -15px;
  }

  @include respond-to(mobile) {

    figure {
      line-height: 0;
      &:before, &:after{
        top: 40%;
        left: 25%;
      }
      &:after {
        margin-top: -12px;
        margin-left: -12px;
        width: 35px;
        height: 35px;
        border: 2px solid #fff;
      }
      &:before {
        margin-top: -2px;
        margin-left: 1px;
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
        border-left: 12px solid #ffffff;
      }
    }

    img {
      width: 50%;
      //float: left;
    }
    figcaption {
      width: 50%;
      padding:10px;
      float: right;
      min-height: initial;
      p {
        min-height: initial;
        height: initial;
        padding: initial;
        line-height: 1.1;
      }
      h4 {
        background: transparent!important;
        position: relative;
        bottom: initial;
        left: initial;
        right: initial;
        height: initial;
        line-height: 1.1;
        color: $text-default;
        padding: 5px 0 0 0;

        span {
          background: transparent!important;
          position: relative;
          bottom: initial;
          left: initial;
          right: initial;
          height: initial;
          display: block;
          padding: 0;
          color: $text-default;
        }
      }
    }
  }


}

.box-movie {
  figcaption {
    border-top: 10px solid $color-accent-2;
    min-height: 100px;
    font-size: 0.9rem;
    top: -10px;
    p {
      min-height: initial;
      padding: 10px 0 5px;
      strong {
        color: #02c1c1;
        margin: 0;

      }
    }
  }
  @include respond-to(mobile) {
    figcaption {
      border: 0;
      min-height: initial;
      top: initial;
      p {
        padding: 0 0 5px 0;
      }
    }
  }
}

.box-hidden {
  display: none;
  padding: 50px 0 40px;
  margin: -15px 0 0 0;

  .html_component__video {

    iframe {
      min-height: 260px;
    }
  }

  .richText {

    h3 {
      background: none;
      padding: 0;
      margin-bottom: 0;
    }
  }

  .button {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 0;
    background-color: #12919f;
    color: #ffffff;
    font-weight: 400;
    font-size: 0.9rem;
    padding: 8px 30px;
    border-radius: 30px;
    -webkit-box-shadow: 0 6px 24px -3px rgba(0, 0, 0, 0.39);
    -moz-box-shadow: 0 6px 24px -3px rgba(0, 0, 0, 0.39);
    box-shadow: 0 6px 24px -3px rgba(0, 0, 0, 0.39);
    transition: 0.6s;
  }

  @include respond-to(mobile) {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    background: #dddddd;
    padding-left: 100%;
    margin-left: -100%;
    padding-right: 100%;
    margin-right: -100%;
    -webkit-box-shadow: inset 0 5px 10px 0 #a5a5a5;
    box-shadow: inset 0 5px 10px 0 #a5a5a5;
  }

}

#movie-story-box, #movie-story-box-1 {
  background: #dddddd;
  padding-left: 100%;
  margin-left: -100%;
  padding-right: 100%;
  margin-right: -100%;
  -webkit-box-shadow: inset 0 5px 10px 0 #a5a5a5;
  box-shadow: inset 0 5px 10px 0 #a5a5a5;

  .box-hidden {
    display: block!important;
  }
}


.box {
  &.color-1 {
    .box-story figure {
      figcaption {
        h4 {
          background: $color-accent-1;
        }
      }
      @include respond-to(mobile) {
        border-bottom: 4px solid $color-accent-1;
      }
    }
  }
  &.color-2 {
    .box-story figure {
      figcaption {
        h4 {
          background: $color-accent-2;
        }
      }
      @include respond-to(mobile) {
        border-bottom: 4px solid $color-accent-2;
      }
    }
  }
  &.color-3 {
    .box-story figure {
      figcaption {
        h4 {
          background: $color-accent-3;
        }
      }
      @include respond-to(mobile) {
        border-bottom: 4px solid $color-accent-3;
      }
    }
  }
  &.color-4 {
    .box-story figure {
      figcaption {
        h4 {
          background: $color-accent-4;
        }
      }
      @include respond-to(mobile) {
        border-bottom: 4px solid $color-accent-4;
      }
    }
  }
  &.color-5 {
    .box-story figure {
      figcaption {
        h4 {
          background: $color-accent-5;
        }
      }
      @include respond-to(mobile) {
        border-bottom: 4px solid $color-accent-5;
      }
    }
  }
}