.indent-shadow {
  position: relative;
  -webkit-box-shadow: inset 0 5px 10px 0 $shadow;
  box-shadow: inset 0 5px 10px 0 $shadow;
  min-height: 300px;
  overflow: inherit;

  &:after {
    position: absolute;
    content: '';
    border-style: solid;
    border-width: 15px 19px 0;
    border-color: #fff transparent;
    display: block;
    width: 0;
    z-index: 1;
    left: 91px;
    top: -2px;
  }
  &.person-one {
    &:after {
      left: 50%;
      margin-left: -300px;
    }
  }
  &.person-two {
    &:after {
      left: 50%;
      margin-left: 200px;
    }
  }
}