@import '../../core/mixins';

.smart-link {
  margin: 10px 0;
  float: right;
}

.smart-link-list {
  overflow: hidden;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: right;
}

.smart-link-list li {
  display: inline-block;
  *display: inline;
  margin-top: 15px;
}
.smart-link-next:after,
.smart-link-previous:before {
  position: relative;
  top: -1px;
  display: inline-block;
  font-size: 15px;
  color: $white;
  width: 30px;
  height: 30px;
  line-height: 31px;
  text-align: center;
  border-radius: 50%;
}

.smart-link-next:after {
  @include font-awesome($fa-var-chevron-right);
  margin-left: 5px;
  background: $color-primary;
}

.smart-link-previous:before {
  @include font-awesome($fa-var-chevron-left);
  margin-right: 5px;
  background: $themeColor;
}

.smart-link-next,
.smart-link-previous{
  font-size: 0;
}

.smartLink.grid_9 {
  @include respond-to(mobile) {
    width: 50%!important;
    float: right!important;
    .smart-link-list li {
      margin: 5px 0 0 0;
      padding: 0;
    }
  }
}