@import '../../core/mixins';

.flash {
    text-align: center;
}

.flash object {
    max-width: 100%;
}

/* Flash is not installed */
.flash-missing {
    margin: 0 auto;
}

.flash .seoDescription {
    display: none;
}
