.breadcrumbs {
  margin: 10px 0;

  .first {
    font-size: .1px;
    color: transparent;
    a {
      &:before {
        color: $color-primary;
        font-size: 1.2rem;
        margin-top: -2px;
        @include font-awesome($fa-var-home);
      }
    }
  }
}


.breadcrumbs-list {
  overflow: hidden;
  margin: 0;
  padding: 0;
  list-style: none;
}



.breadcrumbs-list li {
  float: left;
  margin-right: 6px;
}

.breadcrumbs-separator {
  margin: 0 10px;
}
.breadcrumbs-without-separator {
  .breadcrumbs-separator {
    display: none;
  }
  li {
    padding-right: 15px;
    margin-right: 9px;
    position: relative;
    &:before {
      @include font-awesome($fa-var-chevron-right);
      position:absolute;
      top: 5px;
      right: 0;
      font-size: 8px;
      color: $textColor;
    }
  }
  li:last-child {
    background-image: none;
    &:before {
      display: none;
    }
  }
}

@include respond-to(mobile) {
  .breadcrumbs-list {
    display: none;
  }
}




