@import '../../core/mixins';


.image {
  &.new-label {
    position: relative;
    overflow: hidden;
    &:after {
      content: 'NEW';
      width: 100px;
      position: absolute;
      padding: 30px 0 5px 0;
      top: -15px;
      left:-37px;
      font-size: 13px;
      background: $color-accent-4;
      text-align: center;
      -ms-transform: rotate(-45deg); /* IE 9 */
      -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
      transform: rotate(-45deg);

    }
  }
}