
#header {
  .topnav_submenu {
    .navigation {
      text-align: center;
      &.none {
        display: none;
      }
      &.theme-color-1 {background: $color-accent-1}
      &.theme-color-2 {background: $color-accent-2}
      &.theme-color-3 {background: $color-accent-3}
      &.theme-color-4 {background: $color-accent-4}
      &.theme-color-5 {background: $color-accent-5}

      .navigation-root {
        margin: 0 0 0 320px;
        text-align: center;
        padding: 0;
        li {
          padding: 3px 0 5px 0;
          &.is-active {
            a {
              border-color: #fff;
              font-weight: 600;
            }
          }
          a {
            color: #fff;
            display: inline-block;
            margin: 0;
            padding: 1px 10px;
            font-weight: normal;
            font-size: 12px;
          }
        }
      }
    }

    @include respond-to(mobile) {
      display: none;
    }

  }
}


